Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from cc9ac0787871 to f56c0b3bbe69 (1 revision) (#5657)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f56c0b3bbe69 to d01b0f5d23f9 (1 revision) (#5658)
  .ci/flutter_master.version
Labels: none

Roll Flutter from d01b0f5d23f9 to b05b44e88ad9 (3 revisions) (#5660)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b05b44e88ad9 to 90868d3ba33a (3 revisions) (#5662)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 90868d3ba33a to ae7fcc7e51f6 (2 revisions) (#5663)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ae7fcc7e51f6 to c18097178c91 (1 revision) (#5664)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c18097178c91 to c6ced845e389 (2 revisions) (#5665)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c6ced845e389 to 4bed76757db7 (1 revision) (#5666)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 4bed76757db7 to df7111a848cb (42 revisions) (#5696)
  .ci/flutter_master.version
Labels: none

[camera] Fix preview pause orientation (#5209)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: p: camera

[google_sign_in] Add forceCodeForRefreshToken parameter (and new SignInInitParameters class) (#5325)
  packages/google_sign_in/google_sign_in_platform_interface/AUTHORS
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: p: google_sign_in

[image_picker] add requestFullMetadata for iOS (optional permissions) - platform interface (#5603)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: p: image_picker

[google_sign_in] Fix tests to recognize new request attribute. (#5702)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: p: google_sign_in

Roll Flutter from df7111a848cb to a9ac7fb03be1 (2 revisions) (#5697)
  .ci/flutter_master.version
Labels: none

[ios_platform_images] Ignore ImageProvider.load deprecation. (#5701)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

[image_picker] Switch unit tests to mock plaform implementation (#5706)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Labels: p: image_picker

[google_sign_in] Switch unit tests to mock platform implementation (#5703)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
Labels: p: google_sign_in

[ios_platform_images] Ignore ImageProvider.load deprecation (#5707)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

Roll Flutter from a9ac7fb03be1 to 8bec125aaf72 (38 revisions) (#5704)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8bec125aaf72 to 6bba577bf230 (17 revisions) (#5709)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6bba577bf230 to b3d7a691f6f9 (1 revision) (#5710)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b3d7a691f6f9 to c13bc34717a6 (2 revisions) (#5715)
  .ci/flutter_master.version
Labels: none

[ci] Update the legacy analysis versions (#5699)
  .cirrus.yml
Labels: none

Roll Flutter from c13bc34717a6 to ac80477e8d85 (2 revisions) (#5717)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ac80477e8d85 to 2b2cda15293d (2 revisions) (#5719)
  .ci/flutter_master.version
Labels: none

[tools] Fix `publish` flag calculation (#5694)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: none

[camera]handle iOS camera access permission (#5215)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/ios/Classes/CameraPermissionUtils.h
  packages/camera/camera/ios/Classes/CameraPermissionUtils.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[image_picker] Fix 'messages.g.h' file not found (#5635)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

[ci] Manually roll Flutter master (#5765)
  .ci/flutter_master.version
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: p: camera, p: image_picker, p: local_auth, platform-ios

Roll Flutter from 036cae36697a to bf7a32628eef (49 revisions) (#5768)
  .ci/flutter_master.version
Labels: none

Roll Flutter from bf7a32628eef to bb9bbc601345 (1 revision) (#5769)
  .ci/flutter_master.version
Labels: none

Roll Flutter from bb9bbc601345 to fd312f1ccff9 (1 revision) (#5770)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fd312f1ccff9 to c248854d176b (1 revision) (#5771)
  .ci/flutter_master.version
Labels: none

[in_app_purchase] fixed a memory leak error (#5358)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

[local_auth] Windows support. (#4806)
  packages/local_auth/local_auth_windows/AUTHORS
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/LICENSE
  packages/local_auth/local_auth_windows/README.md
  packages/local_auth/local_auth_windows/example/.gitignore
  packages/local_auth/local_auth_windows/example/.metadata
  packages/local_auth/local_auth_windows/example/README.md
  packages/local_auth/local_auth_windows/example/integration_test/local_auth_test.dart
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/pubspec.yaml
  packages/local_auth/local_auth_windows/example/test_driver/integration_test.dart
  packages/local_auth/local_auth_windows/example/windows/.gitignore
  packages/local_auth/local_auth_windows/example/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/flutter/generated_plugins.cmake
  packages/local_auth/local_auth_windows/example/windows/runner/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/runner/Runner.rc
  packages/local_auth/local_auth_windows/example/windows/runner/flutter_window.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/flutter_window.h
  packages/local_auth/local_auth_windows/example/windows/runner/main.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/resource.h
  packages/local_auth/local_auth_windows/example/windows/runner/resources/app_icon.ico
  packages/local_auth/local_auth_windows/example/windows/runner/runner.exe.manifest
  packages/local_auth/local_auth_windows/example/windows/runner/utils.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/utils.h
  packages/local_auth/local_auth_windows/example/windows/runner/win32_window.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/win32_window.h
  packages/local_auth/local_auth_windows/lib/local_auth_windows.dart
  packages/local_auth/local_auth_windows/lib/types/auth_messages_windows.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/test/local_auth_test.dart
  packages/local_auth/local_auth_windows/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/windows/include/local_auth_windows/local_auth_plugin.h
  packages/local_auth/local_auth_windows/windows/local_auth.h
  packages/local_auth/local_auth_windows/windows/local_auth_plugin.cpp
  packages/local_auth/local_auth_windows/windows/local_auth_windows.cpp
  packages/local_auth/local_auth_windows/windows/test/local_auth_plugin_test.cpp
  packages/local_auth/local_auth_windows/windows/test/mocks.h
Labels: p: local_auth, platform-windows

[google_sign_in_platform_interface] Add availability to mock models (#5669)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
Labels: p: google_sign_in

Update cirrus secret. (#5774)
  .cirrus.yml
Labels: none

Add more Android plugin owners (#5624)
  CODEOWNERS
Labels: none

[google_maps_flutter] Fix native unit tests on M1 (#5772)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: p: google_maps_flutter, platform-ios

[webview_flutter] Initial v4.0 platform interface implementation (#5109)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/javascript_mode.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_navigation_delegate_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_webview_controller_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_webview_cookie_manager_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/webview_cookie.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/webview_platform_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/webview_platform_test.mocks.dart
Labels: p: webview_flutter
