Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[google_maps_flutter] Fix integration tests (#6350)
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter

Add missing submodule command to setup for packages repo. (#6276)
  script/tool/README.md
Labels: none

Roll Flutter from 759d0e1b20c1 to 02857c90cc6b (25 revisions) (#6353)
  .ci/flutter_master.version
Labels: none

[path_provider] Update win32 (#6352)
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-windows

[video_player] Remove default method channel implementation (#6341)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/CONTRIBUTING.md
  packages/video_player/video_player_platform_interface/lib/messages.g.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pigeons/messages.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/video_player/video_player_platform_interface/test/test.dart
  packages/video_player/video_player_platform_interface/test/video_player_platform_interface_test.dart
Labels: p: video_player

[camera] Avoid joining thread causing ANR (#6224)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

Roll Flutter from 02857c90cc6b to 0e7257e698db (27 revisions) (#6358)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0e7257e698db to 723b82e4f0f3 (14 revisions) (#6365)
  .ci/flutter_master.version
Labels: none

[webview_flutter] Implementation of the app facing WebViewController for v4 (#6280)
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: p: webview_flutter

Roll Flutter from 723b82e4f0f3 to ad1e76a20939 (31 revisions) (#6373)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ad1e76a20939 to 66c306b45228 (27 revisions) (#6375)
  .ci/flutter_master.version
Labels: none

[ci] Rename PLUGIN_SHARDING to PACKAGE_SHARDING. (#6374)
  .cirrus.yml
  script/tool_runner.sh
Labels: none

[misc] Add OpenSSF Scorecard badge to README. (#6376)
  README.md
Labels: none

Roll Flutter from 66c306b45228 to 4cd734ae3a1c (24 revisions) (#6379)
  .ci/flutter_master.version
Labels: none

[tools] Improves version-check logic (#6354)
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/version_check_command_test.dart
Labels: none

Revert "[camera]: Bump robolectric from 4.5 to 4.8.2 in /packages/camera/camera_android/android (#6329)" (#6385)
  packages/camera/camera_android/android/build.gradle
Labels: p: camera, platform-android

[webview_flutter_wkwebview] Fixes typo in an internal method name, from `setCookieForInsances` to `setCookieForInstances` (#6384)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Configure dependabot to ignore minor versions (#6355)
  .github/dependabot.yml
Labels: none

[webview_flutter] Implementation of the app facing WebViewWidget for v4 (#6367)
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.mocks.dart
Labels: p: webview_flutter

Revert "[url_launcher]: Bump gradle from 3.4.2 to 7.2.2 in /packages/url_launcher/url_launcher_android/android #6194" (#6383)
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: p: url_launcher, platform-android

Roll Flutter (stable) from ffccd96b62ee to 4f9d92fbbdf0 (1 revision)
  .ci/flutter_stable.version
Labels: none

[ci] Manually roll master (#6418)
  .ci/flutter_master.version
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows

[webview_flutter_android] Adds the scroll position method to WebView and updates pigeon instructions (#6366)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[camera] Add CameraInfo class and clean CameraX plugin (#6345)
  packages/camera/camera_android_camerax/AUTHORS
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/JavaObjectHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraInfoTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraxPluginTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/InstanceManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/JavaObjectHostApiTest.java
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/lib/camera_android_camerax.dart
  packages/camera/camera_android_camerax/lib/camera_android_camerax_method_channel.dart
  packages/camera/camera_android_camerax/lib/camera_android_camerax_platform_interface.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/instance_manager.dart
  packages/camera/camera_android_camerax/lib/src/java_object.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/camera_android_camerax_method_channel_test.dart
  packages/camera/camera_android_camerax/test/camera_android_camerax_test.dart
  packages/camera/camera_android_camerax/test/camera_info_test.dart
  packages/camera/camera_android_camerax/test/camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/instance_manager_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

Manual update of scorecards to 2.0.3 (#6416)
  .github/workflows/scorecards-analysis.yml
Labels: none

[camera] Move ignores for body_might_complete_normally_catch_error (#6339)
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
Labels: p: camera, platform-android

Roll Flutter from 4930444f4afe to 2d5e181b7308 (32 revisions) (#6422)
  .ci/flutter_master.version
Labels: none

[in_app_purchase] Add immediateAndChargeFullPrice ProrationMode (#6415)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
Labels: p: in_app_purchase, platform-android

Roll Flutter from 2d5e181b7308 to 4e8a28d29db7 (26 revisions) (#6427)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from 4f9d92fbbdf0 to e3c29ec00c9c (3 revisions) (#6426)
  .ci/flutter_stable.version
Labels: none

[google_sign_in_android] Corrects typo in logs (#6216)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android

Roll Flutter from 4e8a28d29db7 to 9c0901ed63d0 (25 revisions) (#6431)
  .ci/flutter_master.version
Labels: none

[plugin_platform_interface] Switch `PlatformInterface._instanceToken` to an expando. (#6411)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

[in_app_purchase] Replace errorColor to land deprecations (Part 2) (#6417)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

[ci] Update Cirrus to macOS Ventura and Xcode 14 (#6436)
  .cirrus.yml
Labels: none

Roll Flutter from 9c0901ed63d0 to 7714a8d034ad (33 revisions) (#6440)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7714a8d034ad to 5816d20b86b9 (23 revisions) (#6443)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5816d20b86b9 to c07af53b3cb2 (5 revisions) (#6445)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c07af53b3cb2 to 99475b1b0bee (10 revisions) (#6455)
  .ci/flutter_master.version
Labels: none

[image_picker] Allow saving photos picked with PHPicker without permissions (#6429)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
