Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[camera]refactor flash mode and add unit test (#4695)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTFlashModeTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FlashMode.h
  packages/camera/camera/ios/Classes/FlashMode.m
Labels: p: camera, platform-ios

[ci] Pin master for LUCI tests (#4681)
  .ci.yaml
Labels: none

Remove dependency on flutter.dev and google.com in native packages for Android and iOS (#4707)
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-android, platform-ios

[camera]refactor more types into separate files, and add unit tests (#4704)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTFlashModeTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/CameraProperties.h
  packages/camera/camera/ios/Classes/CameraProperties.m
  packages/camera/camera/ios/Classes/FlashMode.h
  packages/camera/camera/ios/Classes/FlashMode.m
Labels: p: camera, platform-ios

[camera]refactor FLTCam outside of CameraPlugin (#4708)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
Labels: p: camera, platform-ios

[camera] Sample buffer handling on session queue (#4709)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/SampleBufferQueueTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[video_player] Avoid blocking the main thread loading video count (#4714)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player, platform-ios

[video_player] Update audio URL in iOS tests (#4720)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
Labels: p: video_player, platform-ios

[video_player] Publish fully federation version (#4724)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player

[video_player] Adjust iOS test timeouts (#4725)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
Labels: p: video_player, platform-ios

[ci] Skip Android webview FTL tests on stable (#4730)
  .cirrus.yml
Labels: none

[camera]writing file on background queue (#4721)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera/ios/Classes/camera-umbrella.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[video_player] Wait to initialize m3u8 videos on iOS until size is set (#4727)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios

[image_picker] Fix NSNull handling on iOS (#4728)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, platform-ios

[url_launcher] Mark Link as an invisible factory (#4578)
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/shims/dart_ui_fake.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: p: url_launcher, platform-web

[ci] Manually roll to latest Flutter (#4736)
  .ci/flutter_master.version
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: p: webview_flutter, platform-web

[shared_preferences] Documentation update for Readme.md (#4684)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

create scorecards-analysis.yml (#4734)
  .github/workflows/scorecards-analysis.yml
Labels: none

Roll Flutter from 6d96e66d0f70 to b662d32a358e (2 revisions) (#4737)
  .ci/flutter_master.version
Labels: none

Remove most CODEOWNERS (#4669)
  CODEOWNERS
Labels: none

Roll Flutter from b662d32a358e to 7868284a7342 (10 revisions) (#4740)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7868284a7342 to 3b848ee12d47 (2 revisions) (#4741)
  .ci/flutter_master.version
Labels: none

[url_launcher_web] Update min Flutter version (#4735)
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: p: url_launcher, platform-web

Roll Flutter from 3b848ee12d47 to ce5fdff8b03a (3 revisions) (#4744)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ce5fdff8b03a to db816591b007 (2 revisions) (#4745)
  .ci/flutter_master.version
Labels: none

Remove the on schedule event on scorecards. (#4749)
  .github/workflows/scorecards-analysis.yml
Labels: none

[camera]manages ios camera's orientation states on capture session queue (#4748)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

Roll Flutter from db816591b007 to f483b7d80831 (1 revision) (#4746)
  .ci/flutter_master.version
Labels: none

[image_picker] Refactored tests to expose private interface in separate test header. (#4722)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/MetaDataUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker/ios/Classes/ImagePickerPlugin.modulemap
  packages/image_picker/image_picker/ios/Classes/image_picker-umbrella.h
  packages/image_picker/image_picker/ios/image_picker.podspec
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, platform-ios

[url_launcher] Move away from shared method channel implementation in native packages. (#4719)
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/lib/url_launcher_linux.dart
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/lib/url_launcher_macos.dart
  packages/url_launcher/url_launcher_macos/macos/Classes/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
Labels: p: url_launcher, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

[camera_web] Release the camera stream of each available video input device (#4621)
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
Labels: p: camera, platform-web

[webview_flutter_wkwebview] Start work on new ios implementation (#4626)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[shared_preferences] Move away from shared method channel implementation in native packages. (#4723)
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_ios/CHANGELOG.md
  packages/shared_preferences/shared_preferences_ios/ios/Classes/FLTSharedPreferencesPlugin.m
  packages/shared_preferences/shared_preferences_ios/lib/shared_preferences_ios.dart
  packages/shared_preferences/shared_preferences_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/test/shared_preferences_ios_test.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/lib/shared_preferences_macos.dart
  packages/shared_preferences/shared_preferences_macos/macos/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/test/shared_preferences_macos_test.dart
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/lib/main.dart
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: p: shared_preferences, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

[url_launcher] Major version bump for desktop Dart-based url_launcher implementations (#4777)
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
Labels: p: url_launcher, platform-linux, platform-macos, platform-windows

Roll Flutter from f483b7d80831 to bb3275b9340f (51 revisions) (#4778)
  .ci/flutter_master.version
Labels: none

[camera]skip app delegate during unit test (#4729)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner/main.m
Labels: p: camera, platform-ios

Roll Flutter from bb3275b9340f to 5f3bee55ad48 (2 revisions) (#4781)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5f3bee55ad48 to 0ce527eb91a3 (1 revision) (#4783)
  .ci/flutter_master.version
Labels: none

[image_picker] Default to gallery instead of camera when picking multiple images on pre-iOS 14 devices. (#4718)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, platform-ios

[url_launcher] Documentation improvement for file scheme to readme (#4711)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: p: url_launcher
