Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[path_provider] Switch Android to an internal method channel (#4617)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

[path_provider] Fix Android compatibility with 2.5 (#4637)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

[camera] Switch platform interface to new analysis options (#4613)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/analysis_options.yaml
  packages/camera/camera_platform_interface/lib/camera_platform_interface.dart
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/events/device_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/focus_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/lib/src/utils/utils.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/events/device_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
  packages/camera/camera_platform_interface/test/types/camera_exception_test.dart
  packages/camera/camera_platform_interface/test/types/exposure_mode_test.dart
  packages/camera/camera_platform_interface/test/types/flash_mode_test.dart
  packages/camera/camera_platform_interface/test/types/focus_mode_test.dart
  packages/camera/camera_platform_interface/test/types/resolution_preset_test.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/utils_test.dart
  script/configs/custom_analysis.yaml
Labels: p: camera

[ci] Pin Chromium version for web tests (#4620)
  .cirrus.yml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/Butterfly-209.webm
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
  script/install_chromium.sh
  script/tool/CHANGELOG.md
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/mocks.dart
Labels: p: video_player

[plugin_platform_interface] Add a new method `verify` that prevents use of `const Object()` as token. (#4640)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

Change the token used for mirroring. (#4646)
  .github/workflows/mirror.yml
Labels: none

Switch release action to 'main' (#4649)
  .github/workflows/release.yml
Labels: none

Update all plugins that use `verifyToken` to use `verify` instead (#4643)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/CHANGELOG.md
  packages/quick_actions/quick_actions_platform_interface/lib/platform_interface/quick_actions_platform.dart
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: camera, p: file_selector, p: google_maps_flutter, p: image_picker, p: in_app_purchase, p: path_provider, p: quick_actions, p: url_launcher, p: video_player, p: webview_flutter

[plugin_platform_interface] Fix 'verify' for Fakes (#4651)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

Swap the mirroring order. (#4650) (#4654)
  .github/workflows/mirror.yml
Labels: none

[plugin_platform_interface] Update README and add a test (#4652)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

[ci] Switch the fetch head to 'main' (#4653)
  .cirrus.yml
Labels: none

Run tests only on main branch. (#4645)
  .ci.yaml
Labels: none

[url_launcher] Fix minor memory leak in Linux url-launcher tests (#4648)
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
Labels: p: url_launcher, platform-linux

[google_sign_in] Bump GMS dependency and remove the need for Jetifier (#4657)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in, platform-android

[webview_flutter] Remove duplicate integration test (#4666)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-android, platform-ios

[ci] Pin master in Cirrus (#4667)
  .ci/flutter_master.version
  .cirrus.yml
Labels: none

Fix UNUSED_ELEMENT_PARAMETER for field formal initializers. (#4664)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

[url_launcher_linux] file resource URI support for canLaunch (#4491)
  .ci/Dockerfile
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
Labels: p: url_launcher, platform-linux

[ci] Update the Dockerfile to a newer base image (#4614)
  .ci/Dockerfile
Labels: none

Remove the PR review section (#4679)
  CONTRIBUTING.md
Labels: none

[video_player] Validate size only when assets contain video tracks on iOS (#4639)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/Audio.mp3
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player, platform-ios

[video_player] Fix persisting of errorDescription even after successful reinitialize (#4644)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[google_maps_flutter] Clear duplicated dependencies (#4484)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[plugin_platform_interface] Test that `PlatformInterface` and `MockPlatformInterfaceMixinTest` have no instance methods (#4659)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

[camera]call engine API in main thread to fix a crash (#4661)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/QueueHelperTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeFlutterResultTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/QueueHelper.h
  packages/camera/camera/ios/Classes/QueueHelper.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[url_launcher] Improving unit tests on mac (#4472)
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/url_launcher/url_launcher_macos/macos/Classes/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: p: url_launcher, platform-macos

[camera]rename dispatchQueue to captureSessionQueue (#4687)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
Labels: p: camera, platform-ios

[video_player] Remove KVO observer on AVPlayerItem on iOS (#4683)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player, platform-ios

Typo fixes in repository documentation (#4674)
  CONTRIBUTING.md
  README.md
Labels: none

[video_player] Update iOS README section (#4688)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player

[webview_flutter_web] Explain web registration (#4668)
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
Labels: p: webview_flutter, platform-web

[image_picker] Improves documentation around the destruction of the MainActivity. (#4672)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker

[camera]fix crash due to race condition in dispatch queue (#4619)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[webview_flutter] Remove dependency on flutter.dev and google.com (#4691)
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  script/tool/README.md
Labels: p: webview_flutter

[camera_web] Update camera_web to support Dart's new async requestFullscreen API (#4694)
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: p: camera, platform-web

[camera_platform_interface] Fix asynchronous exceptions handling of the `initializeCamera` method (#4660)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: p: camera

[file_selector] Endorse Windows (#4696)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/windows/.gitignore
  packages/file_selector/file_selector/example/windows/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/flutter/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/example/windows/runner/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/runner/Runner.rc
  packages/file_selector/file_selector/example/windows/runner/flutter_window.cpp
  packages/file_selector/file_selector/example/windows/runner/flutter_window.h
  packages/file_selector/file_selector/example/windows/runner/main.cpp
  packages/file_selector/file_selector/example/windows/runner/resource.h
  packages/file_selector/file_selector/example/windows/runner/resources/app_icon.ico
  packages/file_selector/file_selector/example/windows/runner/runner.exe.manifest
  packages/file_selector/file_selector/example/windows/runner/utils.cpp
  packages/file_selector/file_selector/example/windows/runner/utils.h
  packages/file_selector/file_selector/example/windows/runner/win32_window.cpp
  packages/file_selector/file_selector/example/windows/runner/win32_window.h
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/exclude_integration_win32.yaml
Labels: p: file_selector, platform-windows

[video_player] Added the setCaptionOffset (#3275)
  packages/video_player/video_player/AUTHORS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[camera] Fix ImageStream ImageFormatGroup is Ignored in iOS (#4519)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
