Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[camera] Request access permission for audio (#5766)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPermissionUtils.h
  packages/camera/camera/ios/Classes/CameraPermissionUtils.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

Roll Flutter from c248854d176b to 1994027986cf (1 revision) (#5777)
  .ci/flutter_master.version
Labels: none

[ci/tools] Add iOS/macOS analysis to catch deprecated code (#5778)
  .cirrus.yml
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  script/tool/CHANGELOG.md
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: p: google_sign_in, platform-ios

Add more CODEOWNERS (#5779)
  CODEOWNERS
Labels: none

[tools] Add `update-release-info` (#5643)
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/update_release_info_command_test.dart
  script/tool/test/util.dart
Labels: none

[local_auth] Adds federated Windows support (#5776)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/windows/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/flutter/generated_plugins.cmake
  packages/local_auth/local_auth/example/windows/runner/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/runner/Runner.rc
  packages/local_auth/local_auth/example/windows/runner/flutter_window.cpp
  packages/local_auth/local_auth/example/windows/runner/flutter_window.h
  packages/local_auth/local_auth/example/windows/runner/main.cpp
  packages/local_auth/local_auth/example/windows/runner/resource.h
  packages/local_auth/local_auth/example/windows/runner/resources/app_icon.ico
  packages/local_auth/local_auth/example/windows/runner/runner.exe.manifest
  packages/local_auth/local_auth/example/windows/runner/utils.cpp
  packages/local_auth/local_auth/example/windows/runner/utils.h
  packages/local_auth/local_auth/example/windows/runner/win32_window.cpp
  packages/local_auth/local_auth/example/windows/runner/win32_window.h
  packages/local_auth/local_auth/lib/error_codes.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: p: local_auth, platform-windows

[google_sign_in] Upgrade to GoogleSignIn 6.2, support arm64 simulators (#5708)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/ios/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: p: google_sign_in, platform-ios

Roll Flutter from 1994027986cf to a4a8e73bce15 (31 revisions) (#5782)
  .ci/flutter_master.version
Labels: none

[ci] Updates iOS deprecation check to iOS 13 (#5786)
  .cirrus.yml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: p: google_sign_in, p: image_picker, p: url_launcher, platform-ios

[google_maps_flutter_web] Remove custom analysis file. (#5791)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/resources/icon_image_base64.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shape_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shapes_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circle.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circles.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygons.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polylines.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/shims/dart_ui.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/shims/dart_ui_fake.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/to_screen_location.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/types.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: google_maps_flutter, platform-web

[path_provider] Fix integration tests on macOS (#5773)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
Labels: p: path_provider

[video_player] Fix order-dependent tests (#5672)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[google_sign_in] Suppress `deprecation` warnings (#5049)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android

Roll Flutter from a4a8e73bce15 to 1e1f4bcfb561 (65 revisions) (#5795)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1e1f4bcfb561 to 1e10ceceb036 (6 revisions) (#5799)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1e10ceceb036 to 6aaabf6d5695 (1 revision) (#5800)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6aaabf6d5695 to 4654fd011d13 (2 revisions) (#5802)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 4654fd011d13 to b8b0c807bbe5 (1 revision) (#5803)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b8b0c807bbe5 to de7c23e7e963 (1 revision) (#5804)
  .ci/flutter_master.version
Labels: none

Roll Flutter from de7c23e7e963 to ec20ea80ad98 (1 revision) (#5805)
  .ci/flutter_master.version
Labels: none

[google_sign_in, in_app_purchase_android] Add availability to mock models (#5642)
  AUTHORS
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
Labels: p: google_sign_in, p: in_app_purchase, platform-android

[Camera] Return all possible cameras on iOS (#5636)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[google_maps_flutter] Updates platform interface to new analysis options (#5793)
  analysis_options.yaml
  analysis_options_legacy.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/callbacks.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/location_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
  script/configs/custom_analysis.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: p: google_maps_flutter

[google_maps_flutter] Fix prefer_const_literals_to_create_immutables (#5811)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
Labels: p: google_maps_flutter, platform-web

Roll Flutter from ec20ea80ad98 to 7ece8f9f9435 (3 revisions) (#5813)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7ece8f9f9435 to f85209272dca (5 revisions) (#5815)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f85209272dca to 9398c14daf27 (3 revisions) (#5817)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9398c14daf27 to 35c0a3ee5c98 (9 revisions) (#5821)
  .ci/flutter_master.version
Labels: none

[ci] Initial migration to Cirrus Apple silicon (#5794)
  .cirrus.yml
Labels: none

Roll Flutter from 35c0a3ee5c98 to 7ca498489d09 (3 revisions) (#5823)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7ca498489d09 to e4c7f6e1b027 (4 revisions) (#5824)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e4c7f6e1b027 to ac29c11aecb8 (1 revision) (#5826)
  .ci/flutter_master.version
Labels: none

Fix issue where map updates don't take effect in Flutter v3.0.0 (#5787)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

Roll Flutter from ac29c11aecb8 to efb9368573f6 (3 revisions) (#5827)
  .ci/flutter_master.version
Labels: none

[ios_platform_images] ignore DecoderCallback deprecation (#5806)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

Roll Flutter from efb9368573f6 to b5adbee145fd (10 revisions) (#5830)
  .ci/flutter_master.version
Labels: none

[camera] Move camera streaming to platform interface (#5783)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/type_conversion.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_image_data.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/method_channel/type_conversion_test.dart
  packages/camera/camera_platform_interface/test/types/camera_image_data_test.dart
Labels: p: camera

Roll Flutter from b5adbee145fd to da24f105bd31 (10 revisions) (#5832)
  .ci/flutter_master.version
Labels: none

Roll Flutter from da24f105bd31 to e8995736bf55 (15 revisions) (#5834)
  .ci/flutter_master.version
Labels: none

[camera] Switch to platform-interface-provided streaming (#5833)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
Labels: p: camera

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
