Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from 99475b1b0bee to b55bbb7bffc7 (36 revisions) (#6456)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b55bbb7bffc7 to cf01ecd19e61 (29 revisions) (#6458)
  .ci/flutter_master.version
Labels: none

[video_player] Fix invalid link in CHANGELOG on pub.dev (#6446)
  packages/video_player/video_player/CHANGELOG.md
Labels: p: video_player

[webview_flutter_android] Expose the Java InstanceManager (#6421)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewFlutterPluginTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

[quick_actions]Migrate the plugin class to Swift, and remove custom modulemap (#6369)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/quick_actions_ios-umbrella.h
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios

[google_sign_in] Fix issue obtaining serverAuthCode on Android and add forceCodeForRefreshToken parameter (#3356)
  AUTHORS
  packages/google_sign_in/google_sign_in/AUTHORS
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: p: google_sign_in

[video_player]fix ios 16 bug where encrypted video stream is not showing (#6442)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/example/lib/main.dart
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios

[video_player]remove integration tests (#6471)
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
Labels: p: video_player, platform-ios

Roll Flutter from cf01ecd19e61 to b31f41bd1aa6 (50 revisions) (#6475)
  .ci/flutter_master.version
Labels: none

[tools] Add 'run_tests.sh' to the dev-only list (#6474)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/version_check_command_test.dart
Labels: none

Roll Flutter from b31f41bd1aa6 to 07665fba77bc (22 revisions) (#6479)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 07665fba77bc to 64f84f6a47d2 (4 revisions) (#6480)
  .ci/flutter_master.version
Labels: none

[camera] Add CameraSelector class to CameraX plugin (#6348)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraSelectorTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

Roll Flutter from 64f84f6a47d2 to 7b6074fbc542 (7 revisions) (#6496)
  .ci/flutter_master.version
Labels: none

[file_selector] Annotate all creation of XTypeGroup with // ignore: prefer_const_contructor (#6463)
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from 7b6074fbc542 to f57c2fe8ff49 (23 revisions) (#6502)
  .ci/flutter_master.version
Labels: none

[file_selector] Annotate all parameters of XTypeGroup with // ignore: prefer_const_literals_to_create_immutables (#6499)
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[ci] Update Dockerfile (#6477)
  .ci/Dockerfile
Labels: none

Update deprecated analysis options (#6505)
  analysis_options.yaml
Labels: none

[tool] Clean up "plugin" references (#6503)
  .github/workflows/release.yml
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/package_command_test.dart
  script/tool/test/common/package_command_test.mocks.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/custom_test_command_test.dart
  script/tool/test/dependabot_check_command_test.dart
  script/tool/test/federation_safety_check_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/publish_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/update_release_info_command_test.dart
  script/tool/test/version_check_command_test.dart
Labels: none

[camera] Add ProcessCameraProvider class to CameraX plugin (#6469)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

Revert "[camera] Add ProcessCameraProvider class to CameraX plugin (#6469)" (#6506)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

Roll Flutter from f57c2fe8ff49 to 9bf849184d6c (29 revisions) (#6510)
  .ci/flutter_master.version
Labels: none

[file_selector] Add all iOS files to example app (#6513)
  packages/file_selector/file_selector/example/ios/Flutter/Debug.xcconfig
  packages/file_selector/file_selector/example/ios/Flutter/Release.xcconfig
  packages/file_selector/file_selector/example/ios/Podfile
Labels: p: file_selector, platform-ios

[tool] Adds a `fix` command (#6512)
  script/tool/CHANGELOG.md
  script/tool/lib/src/fix_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/fix_command_test.dart
Labels: none

Roll Flutter from 9bf849184d6c to a11bef968893 (37 revisions) (#6515)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from e3c29ec00c9c to 18a827f3933c (4 revisions) (#6514)
  .ci/flutter_stable.version
Labels: none

[camera] Re-land Add ProcessCameraProvider class to CameraX Plugin (#6508)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

[image_picker_windows] Annotate XTypeGroup constructor with // ignore: prefer_const_constructors (#6504)
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
Labels: p: image_picker, platform-windows

[tool] Only run postsubmit on changed packages (#6516)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: none

Roll Flutter from a11bef968893 to 99fb2d36e807 (20 revisions) (#6520)
  .ci/flutter_master.version
Labels: none

[tool] Improve changed-package run mode logging (#6521)
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: none

[file_selector] Convert XTypeGroup to const (#6476)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector

Roll Flutter from 99fb2d36e807 to a4b246f2a88c (28 revisions) (#6530)
  .ci/flutter_master.version
Labels: none

[video_player] Fixes a bug where the aspect ratio of some HLS videos are incorrectly inverted (#6507)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios

Roll Flutter from a4b246f2a88c to 55d67cc7d992 (20 revisions) (#6534)
  .ci/flutter_master.version
Labels: none

[quick_actions]Migrate the XCUITests to Swift (#6425)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.swift
Labels: p: quick_actions, platform-ios

[image_picker] add requestFullMetadata for iOS (optional permissions) (#5915)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Labels: p: image_picker

Roll Flutter from 55d67cc7d992 to d554fcb36a6e (23 revisions) (#6536)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from 18a827f3933c to eb6d86ee27de (2 revisions) (#6537)
  .ci/flutter_stable.version
Labels: none
