Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[in_app_purchase] Update app-facing package to new analysis options (#4969)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_test.dart
  script/configs/custom_analysis.yaml
Labels: p: in_app_purchase

Roll Flutter from 8f360c977a61 to 03ed3c911cd1 (2 revisions) (#4976)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 03ed3c911cd1 to c8a930b6967e (1 revision) (#4977)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c8a930b6967e to 7372ad17f654 (2 revisions) (#4978)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7372ad17f654 to f8eee10f96fe (2 revisions) (#4979)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f8eee10f96fe to a13f893d9fa8 (1 revision) (#4980)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a13f893d9fa8 to 87f5f4685c62 (3 revisions) (#4981)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 87f5f4685c62 to f63e0c8d4682 (1 revision) (#4982)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f63e0c8d4682 to ae9a796cfae1 (19 revisions) (#4993)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ae9a796cfae1 to 646c22085e52 (2 revisions) (#4997)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 646c22085e52 to fbf6a58bf19c (1 revision) (#4998)
  .ci/flutter_master.version
Labels: none

[file_selector] Endorse macOS (#5001)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/macos/.gitignore
  packages/file_selector/file_selector/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/file_selector/file_selector/example/macos/Flutter/Flutter-Release.xcconfig
  packages/file_selector/file_selector/example/macos/Podfile
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/macos/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/file_selector/file_selector/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/file_selector/file_selector/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Debug.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Release.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Warnings.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/DebugProfile.entitlements
  packages/file_selector/file_selector/example/macos/Runner/Info.plist
  packages/file_selector/file_selector/example/macos/Runner/MainFlutterWindow.swift
  packages/file_selector/file_selector/example/macos/Runner/Release.entitlements
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/exclude_integration_macos.yaml
Labels: p: file_selector, platform-macos

Roll Flutter from fbf6a58bf19c to 163a7ac116f4 (3 revisions) (#5003)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 163a7ac116f4 to 671aa9e95e97 (5 revisions) (#5006)
  .ci/flutter_master.version
Labels: none

[quick_actions] Publish federated version (#5005)
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: p: quick_actions

Roll Flutter from 671aa9e95e97 to 513df67edb69 (2 revisions) (#5007)
  .ci/flutter_master.version
Labels: none

[ci] Update FTL key (#5012)
  .cirrus.yml
Labels: none

Roll Flutter from 513df67edb69 to 03c92a99fdf8 (5 revisions) (#5010)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 03c92a99fdf8 to a491a81f7873 (26 revisions) (#5014)
  .ci/flutter_master.version
Labels: none

[camera]remove QueueHelper class (#4983)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/QueueUtilsTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/QueueUtils.h
  packages/camera/camera/ios/Classes/QueueUtils.m
Labels: p: camera, platform-ios

[camera]remove CAS operation and use dispatch queue instead (#4973)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner/main.m
  packages/camera/camera/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

Roll Flutter from a491a81f7873 to 10805ca3fe6b (4 revisions) (#5016)
  .ci/flutter_master.version
Labels: none

[camera] Fix for CameraAccessException that prevents image capture on certain devices running Android 7/8 (#4572)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-android

[video_player] Add new option for allowBackgroundPlayback (#5013)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

Roll Flutter from 10805ca3fe6b to 06fb863ae5a4 (13 revisions) (#5018)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 06fb863ae5a4 to bb1b2fd07277 (1 revision) (#5019)
  .ci/flutter_master.version
Labels: none

Roll Flutter from bb1b2fd07277 to 9240c9a02a87 (3 revisions) (#5020)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9240c9a02a87 to c8538873c80e (1 revision) (#5021)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c8538873c80e to 3172065fbab0 (3 revisions) (#5022)
  .ci/flutter_master.version
Labels: none

[ci] Run analysis with older versions of Flutter (#5000)
  .cirrus.yml
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/util.dart
Labels: p: camera, p: google_sign_in, p: quick_actions, p: video_player, platform-web

Roll Flutter from 3172065fbab0 to bf6fcee17345 (2 revisions) (#5024)
  .ci/flutter_master.version
Labels: none

Roll Flutter from bf6fcee17345 to 9cfaabaed09e (6 revisions) (#5025)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9cfaabaed09e to e8af40f06b24 (6 revisions) (#5030)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Add support for WKNavigationDelegate (#4893)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_android] Change relative path to uri in generated pigeon test file (#5029)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

Roll Flutter from e8af40f06b24 to bb2cca5f59a1 (6 revisions) (#5032)
  .ci/flutter_master.version
Labels: none

Roll Flutter from bb2cca5f59a1 to 57aa49028db7 (4 revisions) (#5033)
  .ci/flutter_master.version
Labels: none

[image_picker] Fixes activity leak (#4439)
  AUTHORS
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, platform-android

Roll Flutter from 57aa49028db7 to 48172589e5ac (2 revisions) (#5037)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 48172589e5ac to 2ed7cdf35a0e (5 revisions) (#5040)
  .ci/flutter_master.version
Labels: none
