Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from cb936c51f8b2 to 9eca99b8df79 (31 revisions) (#6291)
  .ci/flutter_master.version
Labels: none

[file_selector] Import Linux implementation from FDE (#6292)
  .cirrus.yml
  packages/file_selector/file_selector_linux/.gitignore
  packages/file_selector/file_selector_linux/AUTHORS
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/LICENSE
  packages/file_selector/file_selector_linux/README.md
  packages/file_selector/file_selector_linux/example/.gitignore
  packages/file_selector/file_selector_linux/example/.metadata
  packages/file_selector/file_selector_linux/example/README.md
  packages/file_selector/file_selector_linux/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_linux/example/lib/home_page.dart
  packages/file_selector/file_selector_linux/example/lib/main.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/example/lib/save_text_page.dart
  packages/file_selector/file_selector_linux/example/linux/.gitignore
  packages/file_selector/file_selector_linux/example/linux/CMakeLists.txt
  packages/file_selector/file_selector_linux/example/linux/flutter/CMakeLists.txt
  packages/file_selector/file_selector_linux/example/linux/flutter/generated_plugins.cmake
  packages/file_selector/file_selector_linux/example/linux/main.cc
  packages/file_selector/file_selector_linux/example/linux/my_application.cc
  packages/file_selector/file_selector_linux/example/linux/my_application.h
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/file_selector/file_selector_linux/lib/file_selector_linux.dart
  packages/file_selector/file_selector_linux/linux/CMakeLists.txt
  packages/file_selector/file_selector_linux/linux/file_selector_plugin.cc
  packages/file_selector/file_selector_linux/linux/file_selector_plugin_private.h
  packages/file_selector/file_selector_linux/linux/include/file_selector_linux/file_selector_plugin.h
  packages/file_selector/file_selector_linux/linux/test/file_selector_plugin_test.cc
  packages/file_selector/file_selector_linux/linux/test/test_main.cc
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/README.md
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/pubspec.yaml
  script/configs/exclude_integration_linux.yaml
Labels: p: file_selector, platform-linux, platform-macos, platform-windows

[webview_flutter_platform_interface] Adds missing build params for WebViewWidget (#6279)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
Labels: p: webview_flutter

[file_selector] Endorse Linux implementation (#6293)
  CODEOWNERS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/linux/.gitignore
  packages/file_selector/file_selector/example/linux/CMakeLists.txt
  packages/file_selector/file_selector/example/linux/flutter/CMakeLists.txt
  packages/file_selector/file_selector/example/linux/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/example/linux/main.cc
  packages/file_selector/file_selector/example/linux/my_application.cc
  packages/file_selector/file_selector/example/linux/my_application.h
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector, platform-linux

Roll Flutter from 9eca99b8df79 to 663bb66bfd90 (12 revisions) (#6294)
  .ci/flutter_master.version
Labels: none

[file_selector_windows] Fix the problem that the initial directory does not work after completing a file selection on windows (#5416)
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.h
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.h
Labels: p: file_selector, platform-windows

Roll Flutter from 663bb66bfd90 to 723609bff1f7 (29 revisions) (#6297)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 723609bff1f7 to 9d78b2fe2a03 (6 revisions) (#6298)
  .ci/flutter_master.version
Labels: none

[video_player] code excerpts in README (#6296)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/build.excerpt.yaml
  packages/video_player/video_player/example/lib/basic.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: video_player

Roll Flutter from 9d78b2fe2a03 to e04c8becf5ef (10 revisions) (#6301)
  .ci/flutter_master.version
Labels: none

[various] Remove stale NNBD opt-out tags (#6302)
  packages/google_sign_in/google_sign_in/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/example/test_driver/integration_test.dart
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/test_driver/integration_test.dart
Labels: p: google_sign_in, p: quick_actions

[webview_flutter_wkwebview] Implementation of PlatformWebViewCookieManager for WebKit (#6240)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from e04c8becf5ef to abfba69f8776 (22 revisions) (#6305)
  .ci/flutter_master.version
Labels: none

[ci] Add file_selector_ios CODEOWNER (#6306)
  CODEOWNERS
Labels: none

[camera]revert the weakSelf in FLTThreadSafeEventChannel (#6303)
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-ios

Commit generated boilerplate (#6311)
  packages/image_picker/image_picker_windows/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider/example/linux/flutter/generated_plugins.cmake
  packages/path_provider/path_provider/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugins.cmake
Labels: p: image_picker, p: path_provider, p: shared_preferences, p: url_launcher, platform-linux, platform-windows

[in_app_purchase] Migrate `ThemeData.errorColor` (#6310)
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
Labels: p: in_app_purchase, platform-android, platform-ios

Roll Flutter from abfba69f8776 to 6d3f782fb004 (74 revisions) (#6314)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6d3f782fb004 to 000b96cfdf84 (13 revisions) (#6317)
  .ci/flutter_master.version
Labels: none

Adds info about commands requiring Flutter-bundled dart (#6312)
  script/tool/README.md
Labels: none

[tools] Validate code excerpt configuration (#6286)
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/readme_check_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/util.dart
Labels: none

Roll Flutter from 000b96cfdf84 to 10b321f22cc7 (23 revisions) (#6321)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 10b321f22cc7 to 041c3af53209 (6 revisions) (#6322)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Update Android view selection (#6319)
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

Roll Flutter from 041c3af53209 to 5848306e3784 (8 revisions) (#6333)
  .ci/flutter_master.version
Labels: none

[various] Adopt `plugin_platform_interface` (#6332)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/test/shared_preferences_platform_interface_test.dart
Labels: p: google_sign_in, p: shared_preferences

[google_sign_in] Add forceCodeForRefreshToken parameter platform implementations (#6130)
  packages/google_sign_in/google_sign_in_android/AUTHORS
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/AUTHORS
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: p: google_sign_in, platform-android, platform-ios

Roll Flutter from 5848306e3784 to dfcd9650e36b (24 revisions) (#6336)
  .ci/flutter_master.version
Labels: none

Upload firebase test result to a buket in flutter-cirrus. (#6337)
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: none

[webview_flutter_platform_interface] Fix build params (#6304)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
Labels: p: webview_flutter

[image_picker] add requestFullMetadata for iOS (optional permissions) - iOS changes (#5713)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.dart
Labels: p: image_picker, platform-ios

Roll Flutter from dfcd9650e36b to 069f5042973d (14 revisions) (#6343)
  .ci/flutter_master.version
Labels: none

[quick_actions] Mark the plugin as 1.0 (#6346)
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/README.md
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-android, platform-ios

Update badges for pub.dev scores (#6271)
  README.md
Labels: none

[webview_flutter] Implementation of the app facing WebViewCookieManager for v4 (#6344)
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.mocks.dart
Labels: p: webview_flutter

Update shared_preferences CODEOWNER (#6347)
  CODEOWNERS
Labels: none

[google_maps_flutter] Deprecate AndroidGoogleMapsFlutter (#6335)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[webview_flutter_wkwebview] Implementation of WebViewWidget with WebKit (#6342)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

[google_maps_flutter] Default Android to Hybrid Composition (#6334)
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/example/build.excerpt.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/readme_excerpts.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

Roll Flutter from 069f5042973d to 759d0e1b20c1 (16 revisions) (#6349)
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
