Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from 37d619d2285e to 43029bebc485 (4 revisions) (#5124)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 43029bebc485 to fb60ae53e553 (5 revisions) (#5125)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fb60ae53e553 to f07f6fef9ae9 (1 revision) (#5126)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f07f6fef9ae9 to 66ed64be4fd8 (6 revisions) (#5128)
  .ci/flutter_master.version
Labels: none

[webview_flutter_android] Clear local storage when `clearCache` is called (#5086)
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[camera] Migrate deprecated Scaffold methods to ScaffoldMessenger (#5151)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/test/main_test.dart
  packages/camera/camera/pubspec.yaml
Labels: p: camera

Add supported OS version tables to READMEs (#5106)
  .cirrus.yml
  packages/espresso/CHANGELOG.md
  packages/espresso/README.md
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/README.md
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/README.md
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/readme_check_command_test.dart
Labels: p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter

[in_app_purchase] Make sure unsupported userInfo doesn't crash App (#5111)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

[webview_flutter] Migrate deprecated Scaffold snackbars (#5150)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-android, platform-ios

[image_picker] Publish federated version (#5174)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker

[espresso] Updates androidx.test.ext dependencies (#5178)
  .ci/flutter_master.version
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: p: espresso, platform-android

Roll Flutter from 5c6918933e15 to 5788f5ef07c2 (61 revisions) (#5179)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5788f5ef07c2 to 08c46bcb58cf (1 revision) (#5180)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 08c46bcb58cf to 120b3deb182c (1 revision) (#5181)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 120b3deb182c to 94fefaa49d86 (1 revision) (#5182)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 94fefaa49d86 to 676edd4c828f (6 revisions) (#5183)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 676edd4c828f to f8e528a4ef80 (8 revisions) (#5185)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f8e528a4ef80 to e382f1376a9b (2 revisions) (#5186)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e382f1376a9b to d08f7ab9c949 (3 revisions) (#5187)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Added support for the rest of the creation params (#5130)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from d08f7ab9c949 to 2999e8531569 (6 revisions) (#5190)
  .ci/flutter_master.version
Labels: none

migrate from ui.hash* to Object.hash* (#4994)
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/lib/src/types/camera_metadata.dart
  packages/camera/camera_web/lib/src/types/camera_options.dart
  packages/camera/camera_web/lib/src/types/zoom_level_capability.dart
  packages/camera/camera_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: camera, p: google_maps_flutter, p: google_sign_in, p: in_app_purchase, p: ios_platform_images, p: webview_flutter, platform-android, platform-ios, platform-web

Roll Flutter from 2999e8531569 to f5f9ad915e55 (7 revisions) (#5193)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Implement Dart side of the Pigeon HostApis (#5129)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from f5f9ad915e55 to c7d2935077fb (1 revision) (#5197)
  .ci/flutter_master.version
Labels: none

[local_auth_platform_interface] Export externally used types from local_auth_platform_interface.dart directly. (#5196)
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/local_auth_platform_interface.dart
  packages/local_auth/local_auth_platform_interface/lib/types/types.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
Labels: p: local_auth

Roll Flutter from c7d2935077fb to 64f7bf7e2ffd (1 revision) (#5198)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 64f7bf7e2ffd to b528310f589b (2 revisions) (#5200)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b528310f589b to b0de14ce07c0 (4 revisions) (#5202)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b0de14ce07c0 to e3f8b50fd523 (5 revisions) (#5205)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e3f8b50fd523 to 8e259c0fa32b (1 revision) (#5206)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8e259c0fa32b to 221235c7ed1a (5 revisions) (#5208)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 221235c7ed1a to b63c4a6db091 (1 revision) (#5210)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b63c4a6db091 to 2979ff6f1342 (1 revision) (#5211)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2979ff6f1342 to 3109073fd9f9 (1 revision) (#5212)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3109073fd9f9 to cae740b9032f (1 revision) (#5213)
  .ci/flutter_master.version
Labels: none

Roll Flutter from cae740b9032f to c14ca6d32112 (8 revisions) (#5216)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c14ca6d32112 to c1227319ab95 (2 revisions) (#5217)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c1227319ab95 to 8ff3640c9f04 (3 revisions) (#5220)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8ff3640c9f04 to 074ee4b2f446 (1 revision) (#5221)
  .ci/flutter_master.version
Labels: none
