Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[path_provider] Fixed support for querying the root external storage directory (#6036)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

Added ability to purchase multiple quantity of one product (#5711)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: p: in_app_purchase, platform-ios

ignore upcoming warnings (#6044)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
Labels: p: webview_flutter, platform-ios

[google_maps_flutter] Temporary fix for initial coordinate when the surface is changed (#6054)
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter

Roll Flutter from 6c3a0e4d21da to baf86869b14a (51 revisions) (#6055)
  .ci/flutter_master.version
Labels: none

Roll Flutter from baf86869b14a to 3b11ad8cfe78 (13 revisions) (#6058)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3b11ad8cfe78 to 6c6ae063814c (28 revisions) (#6060)
  .ci/flutter_master.version
Labels: none

[tools] Allow skipping packages by Dart version (#6038)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/util.dart
Labels: none

Roll Flutter from 6c6ae063814c to 1add0d790d78 (16 revisions) (#6064)
  .ci/flutter_master.version
Labels: none

[tools] Allow pre-release versions (#6061)
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_command_test.dart
Labels: none

Roll Flutter from 1add0d790d78 to efd006e1b925 (15 revisions) (#6065)
  .ci/flutter_master.version
Labels: none

Roll Flutter from efd006e1b925 to 629f731b99c0 (6 revisions) (#6068)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 629f731b99c0 to 39a38b7882fe (16 revisions) (#6076)
  .ci/flutter_master.version
Labels: none

[webview_flutter] fix: unreliable encoding for web (#5737)
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
Labels: p: webview_flutter, platform-web

Roll Flutter from 39a38b7882fe to 587cf5fa715f (5 revisions) (#6078)
  .ci/flutter_master.version
Labels: none

[image_picker_ios] fix wrong plugin name (#6072)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

[google_sign_in] Implement Dart-based configuration and `serverClientId` (#6034)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInWrapper.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/example/lib/main.dart
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/example/lib/main.dart
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_load_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-android, platform-ios, platform-web

[webview_flutter_wkwebview] Prevent leaking when a callback method references an object that references itself (#6056)
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from 587cf5fa715f to 78e3b93664c7 (23 revisions) (#6080)
  .ci/flutter_master.version
Labels: none

[google_sign_in] Support Dart-based configuration and `serverClientId` (#5250)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: p: google_sign_in

[camera] Ignore body_might_complete_normally_catch_error violation (#6049)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
Labels: p: camera, platform-android

[video_player] Use epislon to compare values in matrix in test (#6088)
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[in_app_purchase] Migrate android to Billing to 5.0.0 (#5405)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: p: in_app_purchase, platform-android

Roll Flutter from 78e3b93664c7 to d59923b2e260 (49 revisions) (#6090)
  .ci/flutter_master.version
Labels: none

[quick_actions] Android handle quick action without restart (#5048)
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/AndroidManifest.xml
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions_android/example/lib/main.dart
  packages/quick_actions/quick_actions_android/pubspec.yaml
Labels: p: quick_actions, platform-android

[in_app_purchase] Update json_serializable (#6092)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: p: in_app_purchase, platform-android

[camera] Update Android Camera Access Permission Error Codes (#5640)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPermissionsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

[google_maps_flutter_web ] Update README.md to discuss mouse issue when stacked (#5875)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web

Roll Flutter from d59923b2e260 to d092601debdd (35 revisions) (#6095)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Switches the platform implementation to use the native API Wrapper (#6031)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTCookieManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKProgressionDelegate.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/JavaScriptChannelHandler.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/JavaScriptChannelHandler.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/wkwebview_cookie_manager_test.dart
Labels: p: webview_flutter, platform-ios

[file_selector] Add `allowsAny` to `XTypeGroup` (#6094)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector

[camera] Bump camera_web and camera_android versions to update permission exception codes (#6081)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
Labels: p: camera

[google_maps_flutter] Removes hotfix for test that changes the map size (#6097)
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter

[url_launcher] Update README to use code excerpts. (#6042)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/build.excerpt.yaml
  packages/url_launcher/url_launcher/example/lib/basic.dart
  packages/url_launcher/url_launcher/example/lib/encoding.dart
  packages/url_launcher/url_launcher/example/lib/files.dart
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: url_launcher, platform-android, platform-linux, platform-windows

Roll Flutter from d092601debdd to 803ef6a456c3 (13 revisions) (#6100)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 803ef6a456c3 to 5a5d021e51ca (22 revisions) (#6103)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebvew] Fix UIScrollView regression for inset behavior (#6104)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Roll Flutter from 5a5d021e51ca to bbec650b64bc (22 revisions) (#6107)
  .ci/flutter_master.version
Labels: none

[various] Remove duplicate native Android tests (#6098)
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/WebViewTest.java
Labels: p: image_picker, p: webview_flutter, platform-android

Manual roll of Flutter to c4975d9be0e2f3ca6279ea4ba77b23cc549e2926
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
