Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[url_launcher] fix noop toString() diagnostics (#6173)
  packages/url_launcher/url_launcher/lib/src/link.dart
Labels: p: url_launcher

Roll Flutter from ab47f01ff173 to ac1aa511ca94 (13 revisions) (#6168)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ac1aa511ca94 to 183d3e410102 (46 revisions) (#6177)
  .ci/flutter_master.version
Labels: none

[various] Remove `pedantic` (#6179)
  packages/espresso/example/pubspec.yaml
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[in_app_purchase] Fix incorrect json key in `queryPurchasesAsync` response (#6174)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: p: in_app_purchase, platform-android

[path_provider_windows] bump dependency version of package:win32 in path_provider_windows (#6176)
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-windows

[script] fix script noop interpolated toString()s (#6175)
  script/tool/lib/src/common/package_looping_command.dart
Labels: none

Roll Flutter from 183d3e410102 to 74aef9ff8786 (27 revisions) (#6203)
  .ci/flutter_master.version
Labels: none

[quick_actions] add custom modulemap with test submodule (#6169)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/RunnerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/ios/Classes/quick_actions_ios-umbrella.h
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios

[camera_windows] Check string size before Win32 MultiByte <-> WideChar conversions (#6170)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/string_utils.cpp
Labels: p: camera, platform-windows

Move Cirrus task logs to flutter-infra-staging project (#6180)
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: none

[quick_actions] backfill some unit tests for `FLTQuickActionsPlugin` class (#6206)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios

Roll Flutter from 74aef9ff8786 to b02f68a66c51 (21 revisions) (#6210)
  .ci/flutter_master.version
Labels: none

[ci] Run analyze with minimum resolved packages (#6207)
  .cirrus.yml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
Labels: p: image_picker, p: local_auth, p: url_launcher, p: webview_flutter, platform-android, platform-ios, platform-web, platform-windows

Roll Flutter from b02f68a66c51 to fec5f77cd2f7 (19 revisions) (#6214)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fec5f77cd2f7 to 5820b5f03927 (8 revisions) (#6215)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5820b5f03927 to a4947768b729 (9 revisions) (#6217)
  .ci/flutter_master.version
Labels: none

[google_maps_ios] Cache `+[GMSServices sharedServices]` when first map is created (#6211)
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios

Roll Flutter from a4947768b729 to 19eed7c870ca (26 revisions) (#6219)
  .ci/flutter_master.version
Labels: none

[quick_actions]refactor into smaller components and 100% unit test coverage (#6212)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/RunnerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios

Roll Flutter from 19eed7c870ca to ac2f6ed23784 (28 revisions) (#6222)
  .ci/flutter_master.version
Labels: none

[in_app_purchase_storekit] Add identifier, type fields to SKProductDiscountWrapper (#6205)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: p: in_app_purchase, platform-ios

[path_provider] Bump kotlin to 1.7.10 (#6228)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android

[webview_flutter] Maybe fix flakiness of integration tests (#6223)
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-android, platform-ios

[webview_flutter_wkwebview] Remove flaky UI tests (#6227)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerUITests/FLTWebViewUITests.m
Labels: p: webview_flutter, platform-ios

Roll Flutter from ac2f6ed23784 to 9ad052a57e0f (21 revisions) (#6226)
  .ci/flutter_master.version
Labels: none

Updating expiring cirrus key. (#6237)
  .cirrus.yml
Labels: none

[path_provider] Revert Gradle and androidx.annotation bump in path_provider_android (#6231)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android

[webview_flutter_android] Adds dispose methods for HostApi and FlutterApi of JavaObject (#6172)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
Labels: p: webview_flutter, platform-android

[webview_flutter_wkwebview] Implementation of PlatformNavigationDelegate for WebKit (#6151)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios

[multiple] format code (#6236)
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: google_maps_flutter, p: image_picker, p: webview_flutter, platform-android, platform-web

Roll Flutter from a0f1c670ed90 to c873c2100ad7 (27 revisions) (#6275)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter_platform_interface] Adds size to BitmapDescriptor (1/2) (#6208)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
Labels: p: google_maps_flutter

[google_maps_flutter_web] Pass BitmapDescriptor.fromBytes size to JS SDK (2/2) (#6209)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web

Prepare for fix to https://github.com/flutter/flutter/issues/109339. (#6278)
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/quick_actions_platform_interface_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/webview_platform_test.dart
Labels: p: camera, p: google_maps_flutter, p: google_sign_in, p: in_app_purchase, p: quick_actions, p: url_launcher, p: webview_flutter

[google_maps_flutter] Publish federation (#6204)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Roll Flutter from c873c2100ad7 to cb936c51f8b2 (40 revisions) (#6285)
  .ci/flutter_master.version
Labels: none

[camera]use weak self to fix a crash due to orientation change (#6277)
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-ios

Add use_named_constants to analysis options and fix errors (#6281)
  analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/tile_overlay.dart
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: p: google_maps_flutter, p: image_picker, p: video_player, platform-android, platform-ios, platform-web

[google_maps_flutter] update to correct version (#6289)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter
