Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from c4975d9be0e2 to 4f9528293f54 (16 revisions) (#6111)
  .ci/flutter_master.version
Labels: none

[ci] Pin stable version (#6117)
  .ci.yaml
  .ci/flutter_stable.version
  .cirrus.yml
Labels: none

[video_player] Update ExoPlayer to 2.18.0 (#6123)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: p: video_player, platform-android

Update CODEOWNERS (#6085)
  CODEOWNERS
Labels: none

[file_selector] Throw for unsupported type groups (#6120)
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-macos, platform-web, platform-windows

[webview_flutter_android] Adds support for use of old hybrid composition (#6063)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/surface_android_test.dart
Labels: p: webview_flutter, platform-android

[camera] Improve Windows README (#6118)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/README.md
  packages/camera/camera_windows/pubspec.yaml
Labels: p: camera, platform-windows

[video_player_web] Improve handling of "Infinite" videos. (#6101)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/duration_utils_test.dart
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/duration_utils.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web

[tool] Bypass version/changelog checks for some PRs (#6124)
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: none

[file_selector] Enable ArgumentErrors for type groups (#6126)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector

[tool] Handle dependabot commit messages (#6127)
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: none

[webview_flutter_android] Add `Copyable` mixin and implement for all non-data and non-global classes (#6079)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter_android] Updates the Java InstanceManager to take a listener for when an object is garbage collected (#6082)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

[video_player_web] Document video scrubbing and range requests. (#6128)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web

[google_maps_flutter] Add an interface for test inspection (#6133)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_inspector_platform_test.dart
Labels: p: google_maps_flutter

Roll Flutter from 4f9528293f54 to 096bbbe2fcbf (120 revisions) (#6134)
  .ci/flutter_master.version
Labels: none

[camera_windows] Allow retrying after initialization failure (#6119)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows

[google_maps_flutter] Use an interface for test inspection (#6116)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Roll Flutter from 096bbbe2fcbf to fa42451a2596 (19 revisions) (#6136)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fa42451a2596 to 6d8e365bc9da (3 revisions) (#6137)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6d8e365bc9da to fa39206a2a34 (11 revisions) (#6144)
  .ci/flutter_master.version
Labels: none

[tool] Include `dev_dependencies` in `make-deps-path-based` (#6146)
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/pubspec.yaml
  script/tool/test/make_deps_path_based_command_test.dart
Labels: none

[image_picker] add requestFullMetadata for iOS (optional permissions) - platform interface changes for multi image picking (#5914)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/multi_image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: p: image_picker

Roll Flutter from fa39206a2a34 to e3d08fb6d325 (23 revisions) (#6147)
  .ci/flutter_master.version
Labels: none

[local_auth] Remove FingerprintManager uses and fix deprecations (#6059)
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: p: local_auth, platform-android

[webview_flutter_wkwebview] Implementation of WebKitWebViewController for WebKit (#6105)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Prevent crash from released deallocCallback (#6131)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Avoid map shift when scrolling on iOS (#6135)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios

[path_provider] Restore 2.8 compatibility on Android and iOS (#6039)
  .cirrus.yml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/remove_dev_dependencies.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/remove_dev_dependencies_test.dart
Labels: p: path_provider, platform-android, platform-ios

[tool] Switch PR description overrides over to labels (#6145)
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_command_test.dart
Labels: none

[file_selector] Convert Windows to Pigeon (#6035)
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pigeons/copyright.txt
  packages/file_selector/file_selector_windows/pigeons/messages.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.mocks.dart
  packages/file_selector/file_selector_windows/test/test_api.dart
  packages/file_selector/file_selector_windows/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.h
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
  packages/file_selector/file_selector_windows/windows/string_utils.cpp
  packages/file_selector/file_selector_windows/windows/string_utils.h
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
Labels: p: file_selector, platform-windows

Roll Flutter from e3d08fb6d325 to 1aa44652e4c0 (67 revisions) (#6152)
  .ci/flutter_master.version
Labels: none

migrate to new mockito API (#6153)
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
Labels: p: google_maps_flutter, platform-web

[camera_windows] Improve several error handling scenarios (#6149)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  script/tool/README.md
  script/tool/lib/src/common/package_state_utils.dart
Labels: p: camera, platform-windows

Roll Flutter from 1aa44652e4c0 to a62ee852950a (32 revisions) (#6156)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a62ee852950a to ab47f01ff173 (29 revisions) (#6162)
  .ci/flutter_master.version
Labels: none

[local_auth] Replace `USE_FINGERPRINT` to `USE_BIOMETRIC` post deprecation in example and README (#6032)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/android/app/src/main/AndroidManifest.xml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/example/android/app/src/main/AndroidManifest.xml
Labels: p: local_auth, platform-android

[camera_windows] Use `CameraAccessDenied` error code for camera permission errors (#6154)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/capture_controller_listener.h
  packages/camera/camera_windows/windows/photo_handler.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.cpp
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows

[webview_flutter_android] Updates the Dart InstanceManager to take a listener for when an object is garbage collected (#6148)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[image_picker] Add missing exports for multi image picking types (#6155)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: p: image_picker
