Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[path_provider] Documentation update for readme.md and example app (#4686)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/lib/main.dart
  packages/path_provider/path_provider/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider/pubspec.yaml
Labels: p: path_provider, platform-macos

[ios_platform_images] Switch to new analysis options (#4784)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/analysis_options.yaml
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/example/pubspec.yaml
  packages/ios_platform_images/example/test/widget_test.dart
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
  script/configs/custom_analysis.yaml
Labels: p: ios_platform_images

[path_provider] Remove use of deprecated pedantic package (#4764)
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_android/example/pubspec.yaml
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/example/pubspec.yaml
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

[video_player] Switch platform interface to new analysis options (#4785)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  script/configs/custom_analysis.yaml
Labels: p: video_player

[url_launcher] Support new desktop implementation versions (#4779)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: p: url_launcher

[video_player] Update web analysis options (#4788)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/lib/main.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/shims/dart_ui.dart
  packages/video_player/video_player_web/lib/src/shims/dart_ui_fake.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: video_player, platform-web

Roll Flutter from 0ce527eb91a3 to 6656356bbf23 (8 revisions) (#4793)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6656356bbf23 to 8cd540f449a7 (11 revisions) (#4800)
  .ci/flutter_master.version
Labels: none

Adds support for JavaScript channels to the new iOS implementation of `webview_flutter_wkwebview`. (#4782)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from 8cd540f449a7 to 61ac285608cd (5 revisions) (#4810)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 61ac285608cd to 3870548fa6b1 (5 revisions) (#4812)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3870548fa6b1 to f54790b7b03f (2 revisions) (#4814)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f54790b7b03f to 350e3ee46d74 (3 revisions) (#4817)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 350e3ee46d74 to f523ddd2d6ab (1 revision) (#4820)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f523ddd2d6ab to 0f33a369bfb0 (1 revision) (#4823)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0f33a369bfb0 to 5515400a1b02 (3 revisions) (#4828)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5515400a1b02 to ad612b59e5b6 (1 revision) (#4830)
  .ci/flutter_master.version
Labels: none

[local_auth] Add platform interface to prepare for migration to federated architecture (#4697)
  packages/local_auth/local_auth_platform_interface/AUTHORS
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/LICENSE
  packages/local_auth/local_auth_platform_interface/README.md
  packages/local_auth/local_auth_platform_interface/lib/default_method_channel_platform.dart
  packages/local_auth/local_auth_platform_interface/lib/local_auth_platform_interface.dart
  packages/local_auth/local_auth_platform_interface/lib/types/auth_messages.dart
  packages/local_auth/local_auth_platform_interface/lib/types/auth_options.dart
  packages/local_auth/local_auth_platform_interface/lib/types/biometric_type.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
Labels: p: local_auth

Roll Flutter from ad612b59e5b6 to 19586569438a (1 revision) (#4832)
  .ci/flutter_master.version
Labels: none

[camera] Switch app-facing package to new analysis options (#4808)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/analysis_options.yaml
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/example/test_driver/integration_test.dart
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
  script/configs/custom_analysis.yaml
Labels: p: camera

Roll Flutter from 19586569438a to 024d5f8aaa7a (3 revisions) (#4836)
  .ci/flutter_master.version
Labels: none

[flutter_plugin_tool] Remove podspec --allow-warnings (#4839)
  script/tool/CHANGELOG.md
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/pubspec.yaml
  script/tool/test/lint_podspecs_command_test.dart
Labels: none

Roll Flutter from 024d5f8aaa7a to 79df99d18221 (1 revision) (#4840)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 79df99d18221 to 4d9e6d9b3ea2 (2 revisions) (#4842)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 4d9e6d9b3ea2 to 1ae5dd194c33 (3 revisions) (#4844)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1ae5dd194c33 to 381cb280a35c (2 revisions) (#4845)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 381cb280a35c to ca2a751661c8 (5 revisions) (#4850)
  .ci/flutter_master.version
Labels: none

[video_player] Updated Pigeon version (#4726)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/CONTRIBUTING.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/copyright.txt
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/CONTRIBUTING.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.m
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/copyright.txt
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.dart
Labels: p: video_player, platform-android, platform-ios

[video_player] add allowBackgroundPlayback option platform interface changes (#4807)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/video_player_options_test.dart
Labels: p: video_player

fix license (#4858)
  packages/video_player/video_player_platform_interface/test/video_player_options_test.dart
Labels: p: video_player

Roll Flutter from ca2a751661c8 to e9f83cf4f9df (10 revisions) (#4857)
  .ci/flutter_master.version
Labels: none

[webview_flutter] Fix debuggingEnabled on Android (#4859)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

[flutter_plugin_tool] Fix iOS/macOS naming (#4861)
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: none

[camera] Switch web package to new analysis options (#4834)
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/analysis_options.yaml
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_metadata_test.dart
  packages/camera/camera_web/example/integration_test/camera_options_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_exception_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/integration_test/zoom_level_capability_test.dart
  packages/camera/camera_web/example/lib/main.dart
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/shims/dart_js_util.dart
  packages/camera/camera_web/lib/src/shims/dart_ui.dart
  packages/camera/camera_web/lib/src/shims/dart_ui_fake.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/lib/src/types/camera_metadata.dart
  packages/camera/camera_web/lib/src/types/camera_options.dart
  packages/camera/camera_web/lib/src/types/media_device_kind.dart
  packages/camera/camera_web/lib/src/types/zoom_level_capability.dart
  packages/camera/camera_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: camera, platform-web

Roll Flutter from e9f83cf4f9df to 838634496214 (6 revisions) (#4862)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 838634496214 to 286c9751d372 (4 revisions) (#4864)
  .ci/flutter_master.version
Labels: none

[image_picker] Update app-facing and web analysis options (#4838)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/analysis_options.yaml
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/analysis_options.yaml
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/image_picker/image_picker_for_web/example/lib/main.dart
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer_utils.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/image_resizer_utils_test.dart
  script/configs/custom_analysis.yaml
Labels: p: image_picker, platform-web

[local_auth] support localizedFallbackTitle in IOSAuthMessages (#3806)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: p: local_auth, platform-ios

Roll Flutter from 286c9751d372 to 14a2b1323bf9 (1 revision) (#4865)
  .ci/flutter_master.version
Labels: none

[ci] Re-enable stable webview Android tests (#4867)
  .cirrus.yml
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
