Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from d554fcb36a6e to be86a916548a (22 revisions) (#6548)
  .ci/flutter_master.version
Labels: none

[image_picker_windows] Use const instead of final for XTypeGroup. (#6544)
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
Labels: p: image_picker, platform-windows

Roll Flutter from be86a916548a to eec8d9d9cc29 (28 revisions) (#6551)
  .ci/flutter_master.version
Labels: none

[tool] Fix version mistake in CHANGELOG (#6552)
  script/tool/CHANGELOG.md
Labels: none

Roll Flutter from eec8d9d9cc29 to 23f22cb8535c (22 revisions) (#6554)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 23f22cb8535c to 89d9880f46e0 (3 revisions) (#6556)
  .ci/flutter_master.version
Labels: none

[various] Add some more Java lint ignores (#6562)
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android_camerax/android/build.gradle
  packages/espresso/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/path_provider/path_provider_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android

Roll Flutter from 89d9880f46e0 to 4fed6aaeff8f (23 revisions) (#6564)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 4fed6aaeff8f to 91d88336ddcf (13 revisions) (#6567)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 91d88336ddcf to c738c8aa9616 (8 revisions) (#6571)
  .ci/flutter_master.version
Labels: none

[quick_actions] Update dependency versions (#6563)
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: p: quick_actions

Roll Flutter from c738c8aa9616 to 08e1729204f3 (8 revisions) (#6574)
  .ci/flutter_master.version
Labels: none

[shared_preferences] fix typo (#6570)
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: p: shared_preferences, platform-android

Roll Flutter from 08e1729204f3 to a707d05e9d4c (6 revisions) (#6577)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a707d05e9d4c to f26dd3730df8 (10 revisions) (#6584)
  .ci/flutter_master.version
Labels: none

[file_selector] Update file_selector_platform_interface by adding the new property 'uniformTypeIdentifiers' to the XTypeGroup. (#6433)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector

Roll Flutter from f26dd3730df8 to eea60f86f1b1 (19 revisions) (#6588)
  .ci/flutter_master.version
Labels: none

Roll Flutter from eea60f86f1b1 to abfaec68114b (10 revisions) (#6590)
  .ci/flutter_master.version
Labels: none

[ci] Cirrus pre-alignment with flutter/packages, part 1 (#6569)
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
Labels: none

Roll Flutter (stable) from eb6d86ee27de to d9111f640213 (4 revisions) (#6594)
  .ci/flutter_stable.version
Labels: none

Roll Flutter from abfaec68114b to 637e5bce662f (13 revisions) (#6593)
  .ci/flutter_master.version
Labels: none

[ci] Update web mocks. (#6591)
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: p: google_maps_flutter, p: url_launcher, p: webview_flutter, platform-web

[camera] Remove usage of `_ambiguate` method in example (#6555)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/pubspec.yaml
Labels: p: camera

[tool] Get dependencies in package examples before publish check. (#6596)
  script/tool/CHANGELOG.md
  script/tool/lib/src/publish_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/publish_check_command_test.dart
Labels: none

[in_app_purchase] Bumps `in_app_purchase_android` minimum version to 0.2.3 (#6595)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

Roll Flutter from 637e5bce662f to 59d26c481acc (17 revisions) (#6599)
  .ci/flutter_master.version
Labels: none

[in_app_purchase][iOS] fix iOS promotional offers (SKPaymentDiscountWrapper was not used properly) (#6541)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: p: in_app_purchase, platform-ios

[local_auth] Fix device credential only check for API < 30 (#6522)
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: p: local_auth, platform-android

[in_app_purchase_storekit] Fixup iOS integration test placeholder and remove exclusion (#6604)
  packages/in_app_purchase/in_app_purchase_storekit/example/test_driver/integration_test.dart
  script/configs/exclude_integration_ios.yaml
Labels: p: in_app_purchase, platform-ios

[camera_platform_interface][flutter roll] Fix hashCode tests and manual roll (#6618)
  .ci/flutter_master.version
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
Labels: p: camera

[various] Update Gradle in examples (#6614)
  .cirrus.yml
  packages/camera/camera/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
Labels: p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, p: quick_actions, p: url_launcher, p: video_player, p: webview_flutter, platform-android

Roll Flutter from 29397c2c7dbb to 0fe29f585791 (30 revisions) (#6621)
  .ci/flutter_master.version
Labels: none

Fix strict language checks (#6622)
  analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
Labels: p: google_sign_in, p: in_app_purchase, platform-ios, platform-web

[various] Remove unused Gradle files (#6623)
  packages/espresso/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_plugin_android_lifecycle/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_android/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: espresso, p: flutter_plugin_android_lifecycle, p: in_app_purchase, p: shared_preferences, p: video_player, platform-android

Roll Flutter from 0fe29f585791 to 8b36497946f6 (28 revisions) (#6624)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from d9111f640213 to 6928314d505d (1 revision) (#6626)
  .ci/flutter_stable.version
Labels: none

[file_selector] Include the missing GetDirectoryPath method example and table of supported platforms (#6454)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector

[tool] Update tool to set macOS deployment target to 10.15. (#6605)
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/test/create_all_plugins_app_command_test.dart
Labels: none

[quick_actions_android] Manual roll to ignore failing `appShortcutLaunchActivityAfterStarting` test (#6633)
  .ci/flutter_master.version
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: p: quick_actions, platform-android

[tool] Rename all-plugins-app command (#6600)
  .ci/scripts/build_all_plugins.sh
  .ci/scripts/create_all_plugins_app.sh
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/create_all_packages_app_command_test.dart
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
