Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[webview_flutter_wkwebview] Raise minimum Dart and Flutter version to 2.17 and 3.0.0, respectively. (#5850)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

[path_provider] Support unicode encoded version info values (#4986)
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: p: path_provider, platform-windows

[camera_web] Use CameraAccessDenied for permission error (#5784)
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/pubspec.yaml
Labels: p: camera, platform-web

[path_provider_windows] Update to ffi 2.0.0 (#5853)
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-linux, platform-windows

[video_player] Android: video_player_android parts of rotationCorrection fix (#5158)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerPluginTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
Labels: p: video_player, platform-android

[google_maps_flutter] Objective-C code clean up (#5780)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapsPlugin.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapsPlugin.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter-umbrella.h
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios

All the workflows have been migrated to use main. (#5874)
  .github/workflows/mirror.yml
Labels: none

update key (#5882)
  .cirrus.yml
Labels: none

[image_picker_android] Remove `jetifier` and `enableUnitTestBinaryResources` from gradle properties (#5889)
  packages/image_picker/image_picker_android/example/android/gradle.properties
Labels: p: image_picker, platform-android

[webview_flutter_wkwebview] Implement one callback method for review of the design (#5700)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/function_flutter_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/function_flutter_api_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

ignore upcoming warnings in webview_flutter_platform_interface (#5855)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: webview_flutter

ignore upcoming warnings in webview_flutter_wkwebview (#5856)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Roll Flutter from e8995736bf55 to 889a15eb9df6 (176 revisions) (#5905)
  .ci/flutter_master.version
Labels: none

[image_picker_android] Add jetifier back with gradle and androidx upgrades (#5890)
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/build.gradle
  packages/image_picker/image_picker_android/example/android/gradle.properties
  packages/image_picker/image_picker_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: p: image_picker, platform-android

Update filter to run tasks only on PRs and main branch. (#5883)
  .cirrus.yml
Labels: none

Revert "All the workflows have been migrated to use main. (#5874)" (#5907)
  .github/workflows/mirror.yml
Labels: none

Roll Flutter from 889a15eb9df6 to 2e1ebd83b3f6 (6 revisions) (#5910)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2e1ebd83b3f6 to 52c47e96a33d (9 revisions) (#5911)
  .ci/flutter_master.version
Labels: none

Add automatic updating of github-actions (#5880)
  .github/dependabot.yml
Labels: none

Revert "Add automatic updating of github-actions (#5880)" (#5917)
  .github/dependabot.yml
Labels: none

[video_player] Android: Rotate videos recorded in landscapeRight (#3820)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

Re-add tag filter (#5918)
  .cirrus.yml
Labels: none

Roll Flutter from 52c47e96a33d to 1b2ee411aa13 (8 revisions) (#5916)
  .ci/flutter_master.version
Labels: none

Add versions to all the dependencies so they are pinned (#5887)
  .ci.yaml
Labels: none

[ci] Re-disable mirroring to master (#5920)
  .github/workflows/mirror.yml
Labels: none

Ignore upcoming warnings webview_flutter_android (#5922)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

[github_actions] Add automatic updating of github-actions (#5919)
  .github/dependabot.yml
Labels: none

Roll Flutter from 1b2ee411aa13 to be0c1bd0f0ce (23 revisions) (#5929)
  .ci/flutter_master.version
Labels: none

[url_launcher] Update README discussion of permissions (#5424)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: p: url_launcher, platform-android

[webview_flutter_wkwebview] Change callbacks setters to anonymous functions (#5921)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Ignore upcoming warnings (#5931)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/type_conversion.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_image_data.dart
  packages/camera/camera_platform_interface/test/method_channel/type_conversion_test.dart
  packages/camera/camera_platform_interface/test/types/camera_image_data_test.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
Labels: p: camera, p: google_maps_flutter, p: video_player, p: webview_flutter

[webview_flutter_wkwebview] Implement Dart side of Flutter Apis (#5933)
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Implement Objc side of Flutter Apis (#5934)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Flutter/AppFrameworkInfo.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Podfile
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScriptMessageHandlerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
Labels: p: webview_flutter, platform-ios

Roll Flutter from be0c1bd0f0ce to 4ec296513cb2 (24 revisions) (#5935)
  .ci/flutter_master.version
Labels: none

[tools] Check integration tests for `test` (#5936)
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
  script/tool/CHANGELOG.md
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: p: path_provider, platform-android

Ignore upcoming warnings (#5939)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
Labels: p: url_launcher

Roll Flutter from 4ec296513cb2 to 25e0e290e6a4 (27 revisions) (#5941)
  .ci/flutter_master.version
Labels: none

[camera] Publish federated implementations (#5942)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
Labels: p: camera

[file_selector]Improve API docs and examples (#4824)
  packages/file_selector/file_selector/AUTHORS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/build.excerpt.yaml
  packages/file_selector/file_selector/example/lib/main.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: file_selector, platform-windows

Roll Flutter from 25e0e290e6a4 to bc08d85718b6 (36 revisions) (#5951)
  .ci/flutter_master.version
Labels: none
