Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from 597835d6bfc8 to 8ad88f162d78 (3 revisions) (#5589)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8ad88f162d78 to 0d56b91324f6 (1 revision) (#5590)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0d56b91324f6 to 2998734bf4ce (1 revision) (#5591)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2998734bf4ce to 912943be79db (1 revision) (#5593)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 912943be79db to 2a102fe5bc7e (1 revision) (#5599)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2a102fe5bc7e to 2e1ef66665b2 (1 revision) (#5601)
  .ci/flutter_master.version
Labels: none

[tools] Remove single-example RepositoryPackage method (#5600)
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/lint_android_command_test.dart
Labels: none

Roll Flutter from 2e1ef66665b2 to adb8b607e3d2 (2 revisions) (#5602)
  .ci/flutter_master.version
Labels: none

Roll Flutter from adb8b607e3d2 to 1aab2d83d932 (3 revisions) (#5606)
  .ci/flutter_master.version
Labels: none

[tools] Convert test utils to RepositoryPackage (#5605)
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/gradle.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/gradle_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/custom_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/federation_safety_check_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/readme_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: none

Roll Flutter from 1aab2d83d932 to 8b395090c9c1 (3 revisions) (#5608)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8b395090c9c1 to b4f8d7c79296 (1 revision) (#5610)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b4f8d7c79296 to 896e5b332d36 (1 revision) (#5611)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 896e5b332d36 to 6f8ffecc7263 (2 revisions) (#5613)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6f8ffecc7263 to e291b58813f7 (1 revision) (#5615)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e291b58813f7 to e9c0ee1e08d6 (1 revision) (#5616)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e9c0ee1e08d6 to b3838eb3de6d (1 revision) (#5617)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b3838eb3de6d to b5321d182a6b (1 revision) (#5618)
  .ci/flutter_master.version
Labels: none

[camera] Update mocktail to latest. (#5614)
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/pubspec.yaml
Labels: p: camera, platform-web

Roll Flutter from b5321d182a6b to 82b91b0b45e5 (8 revisions) (#5626)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 82b91b0b45e5 to 3c9f417326fa (2 revisions) (#5629)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3c9f417326fa to 2e1c146eec61 (4 revisions) (#5630)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2e1c146eec61 to 122ab838f48b (1 revision) (#5631)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 122ab838f48b to 051f1b027f0d (1 revision) (#5632)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 051f1b027f0d to 35513c265c94 (1 revision) (#5633)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 35513c265c94 to f7db4893667e (1 revision) (#5634)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f7db4893667e to 0ea21bc5b397 (12 revisions) (#5637)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0ea21bc5b397 to f771c9fee734 (1 revision) (#5638)
  .ci/flutter_master.version
Labels: none

[github workflow] Resolve token-permissions security alerts (#5627)
  .github/workflows/mirror.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: none

Roll Flutter from f771c9fee734 to 0a26277b58c4 (3 revisions) (#5641)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0a26277b58c4 to 603eb82734ab (1 revision) (#5644)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 603eb82734ab to 758ebda16dc1 (6 revisions) (#5646)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 758ebda16dc1 to 2f3f053c0dfb (5 revisions) (#5648)
  .ci/flutter_master.version
Labels: none

Add issues/PRs badges to README (#5649)
  README.md
Labels: none

Roll Flutter from 2f3f053c0dfb to ac30842c8259 (13 revisions) (#5650)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ac30842c8259 to e5718354020e (4 revisions) (#5652)
  .ci/flutter_master.version
Labels: none

[local_auth] Overhaul README, and fix `error_codes.dart` visibility (#5653)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/build.excerpt.yaml
  packages/local_auth/local_auth/example/lib/readme_excerpts.dart
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/local_auth/local_auth/lib/error_codes.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: local_auth

Roll Flutter from e5718354020e to 47f48e4888e4 (5 revisions) (#5654)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 47f48e4888e4 to 8e532db7b6ff (1 revision) (#5655)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8e532db7b6ff to cc9ac0787871 (1 revision) (#5656)
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
