Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[image_picker] Update platform interface analysis options (#4837)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/analysis_options.yaml
  packages/image_picker/image_picker_platform_interface/lib/image_picker_platform_interface.dart
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/base.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/io.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/picked_file_html_test.dart
  packages/image_picker/image_picker_platform_interface/test/picked_file_io_test.dart
  script/configs/custom_analysis.yaml
Labels: p: image_picker

Roll Flutter from 14a2b1323bf9 to b62327903d31 (5 revisions) (#4870)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b62327903d31 to 919d20511cf6 (2 revisions) (#4871)
  .ci/flutter_master.version
Labels: none

[google_sign_in] Update platform interface analysis options (#4872)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/analysis_options.yaml
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
  script/configs/custom_analysis.yaml
Labels: p: google_sign_in

Roll Flutter from 919d20511cf6 to adafd66d9cc7 (5 revisions) (#4876)
  .ci/flutter_master.version
Labels: none

[camera]remove "selfRef" for SavePhotoDelegate and ensure thread safety (#4780)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera/ios/Classes/QueueHelper.h
  packages/camera/camera/ios/Classes/QueueHelper.m
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

[shared_preferences] upgraded ios to using pigeon (#4732)
  packages/shared_preferences/shared_preferences_ios/CHANGELOG.md
  packages/shared_preferences/shared_preferences_ios/ios/Classes/FLTSharedPreferencesPlugin.m
  packages/shared_preferences/shared_preferences_ios/ios/Classes/messages.g.h
  packages/shared_preferences/shared_preferences_ios/ios/Classes/messages.g.m
  packages/shared_preferences/shared_preferences_ios/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_ios/lib/shared_preferences_ios.dart
  packages/shared_preferences/shared_preferences_ios/pigeons/copyright_header.txt
  packages/shared_preferences/shared_preferences_ios/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/test/messages.g.dart
  packages/shared_preferences/shared_preferences_ios/test/shared_preferences_ios_test.dart
Labels: p: shared_preferences, platform-ios

Roll Flutter from adafd66d9cc7 to 93c0c043cf2c (6 revisions) (#4880)
  .ci/flutter_master.version
Labels: none

[ci.yaml] Migrate to Cocoon scheduler (#4884)
  .ci.yaml
Labels: none

[camera] Restore compatibility with older Flutter (#4885)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
Labels: p: camera

[webview_flutter_wkwebview] Add support for `WKUIDelegate` (#4809)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from 93c0c043cf2c to 38dae1bfc045 (10 revisions) (#4891)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 38dae1bfc045 to 1bdcf04ddd7b (3 revisions) (#4892)
  .ci/flutter_master.version
Labels: none

[google_sign_in_web] Update web package analysis options (#4875)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/example/lib/main.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: google_sign_in, platform-web

[google_sign_in] Update app-facing package analysis options (#4881)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/fife_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
  script/configs/custom_analysis.yaml
Labels: p: google_sign_in

Roll Flutter from 1bdcf04ddd7b to c50b02f2c3e6 (2 revisions) (#4896)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c50b02f2c3e6 to c849844feb3d (20 revisions) (#4898)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c849844feb3d to 54a9d6528289 (1 revision) (#4900)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 54a9d6528289 to 617de911982a (1 revision) (#4902)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 617de911982a to 3b05d806222a (2 revisions) (#4905)
  .ci/flutter_master.version
Labels: none

[in_app_purchase] Updates the dependency on in_app_purchase_storekit. (#4910)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

Roll Flutter from 3b05d806222a to c74a646b7bba (21 revisions) (#4913)
  .ci/flutter_master.version
Labels: none

[video_player] Update app-facing package analysis options (#4786)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/example/test_driver/video_player_test.dart
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/src/web_vtt.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/closed_caption_file_test.dart
  packages/video_player/video_player/test/sub_rip_file_test.dart
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player/test/web_vtt_test.dart
  script/configs/custom_analysis.yaml
Labels: p: video_player

[webview] Fix comments (accidentially mixed `//` with `///`) (#4907)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: p: webview_flutter

[path_provider] Use a different Android channel name (#4912)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

[path_provider] Switch iOS to an internal method channel (#4921)
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/ios/Classes/FLTPathProviderPlugin.m
  packages/path_provider/path_provider_ios/lib/path_provider_ios.dart
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_ios/test/path_provider_ios_test.dart
Labels: p: path_provider, platform-ios

Roll Flutter from c74a646b7bba to 47b5ed3948e8 (2 revisions) (#4914)
  .ci/flutter_master.version
Labels: none

[in_app_purchase] Update iOS to new analysis options (#4920)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_storekit/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
  script/configs/custom_analysis.yaml
Labels: p: in_app_purchase, platform-ios

[url_launcher] Fixed missing # in links href when opening in new tab on the web (#4221)
  AUTHORS
  packages/url_launcher/url_launcher_web/AUTHORS
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: p: url_launcher, platform-web

[image_picker] Support reading WebP images for iOS (#4448)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker/example/ios/TestImages/webpImage.webp
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, platform-ios

[in_app_purchase] Update Android to new analysis options (#4937)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_android/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_product_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_deprecated_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/stub_in_app_purchase_platform.dart
  script/configs/custom_analysis.yaml
Labels: p: in_app_purchase, platform-android

Roll Flutter from 47b5ed3948e8 to 7959c3953dbe (52 revisions) (#4964)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7959c3953dbe to 377d7d768df1 (2 revisions) (#4966)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Switch app-facing package to new analysis options (#4716)
  packages/google_maps_flutter/google_maps_flutter/AUTHORS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
  script/configs/custom_analysis.yaml
Labels: p: google_maps_flutter

Roll Flutter from 377d7d768df1 to 8b95cd6f35b7 (2 revisions) (#4968)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8b95cd6f35b7 to 1dd24b8af858 (9 revisions) (#4970)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1dd24b8af858 to bf98767e8e55 (3 revisions) (#4971)
  .ci/flutter_master.version
Labels: none

[cirrus] Refresh GCP service account (#4965)
  .cirrus.yml
Labels: none

Roll Flutter from bf98767e8e55 to 6c818d772a71 (2 revisions) (#4972)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6c818d772a71 to 8f360c977a61 (2 revisions) (#4974)
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
