Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Revert "[camera] flip/change camera while recording (split out PR for cam_avfoundation and cam_android) (#7109)" (#7181)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-android, platform-ios

[webview_flutter_android][webview_flutter_wkwebview] Adds support to retrieve native `WebView` (#7071)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterAndroidExternalApi.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewFlutterAndroidExternalApiTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewFlutterWKWebViewExternalAPITests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewFlutterWKWebViewExternalAPI.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewFlutterWKWebViewExternalAPI.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-android, platform-ios

[google_maps_flutter_android] Fixes initial padding not working while map has not been created yet. (#7135)
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

[cameraX] Add integration test for availableCameras (#7156)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: p: camera

Roll Flutter from e3471f08d1d3 to df41e58f6f4e (83 revisions) (#7184)
  .ci/flutter_master.version
Labels: none

[ci] Update iOS simulator (#7131)
  .ci/scripts/create_simulator.sh
  .ci/targets/ios_platform_tests.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/map_coordinates.dart
Labels: p: google_maps_flutter, platform-ios

Roll Flutter from df41e58f6f4e to 22e17bb71050 (28 revisions) (#7186)
  .ci/flutter_master.version
Labels: none

[ios_platform_images] Update minimum version to iOS 11 (#6874)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/example/ios/Flutter/AppFrameworkInfo.plist
  packages/ios_platform_images/example/ios/Podfile
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/ios_platform_images/example/ios/Runner/Info.plist
  packages/ios_platform_images/ios/ios_platform_images.podspec
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images, platform-ios

[in_app_purchase] Update minimum Flutter version to 3.3 and iOS 11 (#6873)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

[google_sign_in_web] Migrate to the GIS SDK. (#6921)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/example/build.yaml
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_load_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_load_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/gapi_mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/gapi.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/google_user.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/test_iife.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_utils_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/people_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/dom.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jsify_as.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jwt_examples.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/person.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/test_utils.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/utils_test.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/regen_mocks.sh
  packages/google_sign_in/google_sign_in_web/example/run_test.sh
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/people.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web

[image_picker] Fix images changing to incorrect orientation (#7187)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/jpgImageWithRightOrientation.jpg
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

Roll Flutter from 22e17bb71050 to 298d8c76ba78 (20 revisions) (#7190)
  .ci/flutter_master.version
Labels: none

[camerax] Implement camera preview (#7112)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/lib/camera_controller.dart
  packages/camera/camera_android_camerax/example/lib/camera_image.dart
  packages/camera/camera_android_camerax/example/lib/camera_preview.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.dart
Labels: p: camera

[image_picker] Update NSPhotoLibraryUsageDescription description in README (#6589)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker

Roll Flutter from 298d8c76ba78 to 0be7c3f30d64 (21 revisions) (#7194)
  .ci/flutter_master.version
Labels: none

[google_sign_in] Endorses next web package. (#7191)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in

Update codeowners (#7188)
  CODEOWNERS
Labels: none

Add missing CODEOWNER (#7016)
  CODEOWNERS
Labels: none

[webview_flutter] Adds examples of accessing platform-specific features for each class (#7089)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: p: webview_flutter

Roll Flutter from 0be7c3f30d64 to 33e4d21f7c13 (5 revisions) (#7196)
  .ci/flutter_master.version
Labels: none

[plugins] Disables the AndroidGradlePluginVersion issue ID in all android packages (#7045)
  packages/camera/camera_android/android/build.gradle
  packages/espresso/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/path_provider/path_provider_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android

[espresso] Update some dependencies (#7195)
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: p: espresso, platform-android

[local_auth] Add Android theme compatibility documentation (#6875)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/pubspec.yaml
Labels: p: local_auth

Update READMEs for archiving (#7210)
  CONTRIBUTING.md
  README.md
Labels: none

Update LICENSE
  LICENSE
Labels: none
