Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[webview_flutter] Copies app-facing implementation of webview_flutter from v4_webview (#6856)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/build.excerpt.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/lib/simple_example.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_flutter_legacy.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
  script/configs/exclude_all_plugins_app.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: webview_flutter

[image_picker_ios] Pass through error message from image saving (#6858)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

[local_auth] Bump `intl` from ^0.17.0 to ">=0.17.0 <0.19.0" (#6848)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
Labels: p: local_auth, platform-android, platform-ios

[camera] Remove deprecated Optional type (#6870)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-android

[in_app_purchase] Add support for macOS (#6519)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Flutter/Flutter-Release.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Podfile
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/AppDelegate.swift
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Debug.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Release.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Warnings.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/MainFlutterWindow.swift
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase, platform-macos

Roll Flutter from 028c6e29e0ca to dbc9306380d8 (11 revisions) (#6849)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Adds support for `WKNavigationAction.navigationType` (#6863)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_android] Adds support for selecting Hybrid Composition (#6864)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/platform_views_service_proxy.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter_android] Fixes bug where a `AndroidNavigationDelegate` was required to load a request (#6872)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

Roll Flutter from dbc9306380d8 to 9fb1ae839e0a (106 revisions) (#6876)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9fb1ae839e0a to a45a2f311990 (19 revisions) (#6879)
  .ci/flutter_master.version
Labels: none

expose webresourceeerrortype (#6877)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: p: webview_flutter

[image_picker] Fix check for iOS 14+ authorization status (#6845)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

Roll Flutter from a45a2f311990 to e766ad07e600 (7 revisions) (#6880)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e766ad07e600 to ae292cc4e5e4 (6 revisions) (#6885)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ae292cc4e5e4 to 17482fd425ee (28 revisions) (#6889)
  .ci/flutter_master.version
Labels: none

[webview_flutter_web] Adds auto registration of the `WebViewPlatform` implementation (#6886)
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_platform.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
Labels: p: webview_flutter, platform-web

Roll Flutter from 17482fd425ee to d2127ad344e8 (14 revisions) (#6892)
  .ci/flutter_master.version
Labels: none

Roll Flutter from d2127ad344e8 to 120058fd3ded (15 revisions) (#6896)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 120058fd3ded to 0196e6050b75 (3 revisions) (#6901)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0196e6050b75 to b938dc13df32 (7 revisions) (#6908)
  .ci/flutter_master.version
Labels: none

[in_app_pur] Add screenshots to pubspec.yaml (#6540)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

[google_maps_flutter] Fixed minor syntax error in the README.md (#6909)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/readme_sample.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[image_picker_ios] Fix FLTPHPickerSaveImageToPathOperation property attributes (#6890)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromLimitedGalleryUITests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

Roll Flutter from b938dc13df32 to 231855fc87d0 (19 revisions) (#6913)
  .ci/flutter_master.version
Labels: none

Update image_picker_ios CODEOWNER (#6891)
  CODEOWNERS
Labels: none

Roll Flutter from 231855fc87d0 to 43b912090224 (11 revisions) (#6918)
  .ci/flutter_master.version
Labels: none

[shared_preferences] Convert macOS to Pigeon (#6914)
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_macos/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_macos/lib/shared_preferences_macos.dart
  packages/shared_preferences/shared_preferences_macos/macos/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_macos/macos/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_macos/pigeons/copyright_header.txt
  packages/shared_preferences/shared_preferences_macos/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/test/shared_preferences_macos_test.dart
  packages/shared_preferences/shared_preferences_macos/test/test_api.g.dart
Labels: p: shared_preferences, platform-macos

Roll Flutter from 43b912090224 to 507062032fa4 (9 revisions) (#6919)
  .ci/flutter_master.version
Labels: none

[tool] Don't add Guava in the all-packages app (#6747)
  script/tool/lib/src/create_all_packages_app_command.dart
Labels: none

[webview_flutter_platform_interface] Improves error message when `WebViewPlatform.instance` is null (#6938)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.dart
Labels: p: webview_flutter

== override parameters are non-nullable (#6900)
  script/tool/test/util.dart
Labels: none

[file_selector] Switch to Pigeon for macOS (#6902)
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pigeons/copyright.txt
  packages/file_selector/file_selector_macos/pigeons/messages.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.mocks.dart
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
Labels: p: file_selector, platform-macos

[google_sign_in] Renames generated folder to js_interop. (#6915)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_utils_test.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web

Roll Flutter from 507062032fa4 to 7ddf42eae5ee (5 revisions) (#6923)
  .ci/flutter_master.version
Labels: none

[shared_preferences] Switch to `shared_preferences_foundation` (#6940)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/ios/.gitignore
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/shared_preferences/shared_preferences/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: p: shared_preferences, platform-ios

[tool] Replace `flutter format` (#6946)
  script/tool/CHANGELOG.md
  script/tool/lib/src/format_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: none

Roll Flutter from 7ddf42eae5ee to 0d91c0343bdc (58 revisions) (#6948)
  .ci/flutter_master.version
Labels: none

[path_provider] Switch to Pigeon for macOS (#6635)
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/path_provider/path_provider_macos/lib/messages.g.dart
  packages/path_provider/path_provider_macos/lib/path_provider_macos.dart
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/macos/Classes/messages.g.swift
  packages/path_provider/path_provider_macos/pigeons/copyright.txt
  packages/path_provider/path_provider_macos/pigeons/messages.dart
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/test/messages_test.g.dart
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.dart
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.mocks.dart
Labels: p: path_provider, platform-macos

[shared_preferences_foundation] Add Swift runtime search paths for Objective-C apps (#6952)
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/example/ios/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/RunnerTests/RunnerTests.m
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: p: shared_preferences, platform-ios

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
