Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: cross_file, p: device_info, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: android_alarm_manager':
  - packages/android_alarm_manager/**/*

'p: android_intent':
  - packages/android_intent/**/*

'p: battery':
  - packages/battery/**/*

'p: camera':
  - packages/camera/**/*

'p: connectivity':
  - packages/connectivity/**/*

'p: cross_file':
  - packages/cross_file/**/*

'p: device_info':
  - packages/device_info/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: package_info':
  - packages/package_info/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: sensors':
  - packages/sensors/**/*

'p: share':
  - packages/share/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'p: wifi_info_flutter':
  - packages/wifi_info_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Update some plugins targetSdkVersions to 31 (#4535)
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: p: flutter_plugin_android_lifecycle, p: path_provider, p: shared_preferences, platform-android

[flutter_plugin_tools] Check for missing version and CHANGELOG updates (#4530)
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/version_check_command_test.dart
Labels: none

[webview_flutter] Adjust getTitle test (#4537)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter] Speculative getTitle fix (#4539)
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-ios

[flutter_plugin_tools] Check for FlutterTestRunner in FTL tests (#4531)
  script/tool/CHANGELOG.md
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: none

[webview_flutter] Added contributing section to the README.md (#4543)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

[webview_flutter] Migrate webview_flutter_wkwebview to analysis_options.yaml (#4545)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/analysis_options.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/navigation_request.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: webview_flutter, platform-ios

[ci] Exclude files generated by Pigeon from analysis. (#4546)
  analysis_options.yaml
  analysis_options_legacy.yaml
Labels: none

[quick_actions] Migrate to new analysis options (#4548)
  packages/quick_actions/analysis_options.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/lib/main.dart
  packages/quick_actions/quick_actions/test/quick_actions_test.dart
  packages/quick_actions/quick_actions_platform_interface/CHANGELOG.md
  packages/quick_actions/quick_actions_platform_interface/lib/method_channel/method_channel_quick_actions.dart
  packages/quick_actions/quick_actions_platform_interface/lib/platform_interface/quick_actions_platform.dart
  packages/quick_actions/quick_actions_platform_interface/lib/types/quick_action_handler.dart
  packages/quick_actions/quick_actions_platform_interface/test/method_channel_quick_actions_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/quick_actions_platform_interface_test.dart
  script/configs/custom_analysis.yaml
Labels: p: quick_actions

[webview_flutter] Pre-emptively ignore prefer_const_constructor warning. (#4550)
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

[url_launcher] Publish fully federated version (#4536)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: p: url_launcher

[webview_flutter] Migrate webview_flutter_platform_interface to analysis_options.yaml (#4549)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/analysis_options.yaml
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/platform_interface/javascript_channel_registry_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/webview_request_test.dart
  script/configs/custom_analysis.yaml
Labels: p: webview_flutter

[webview_flutter] Updates webview_flutter_platform_interface to version 1.5.2 (#4554)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

[webview_flutter] Clean up prefer_const_constructor ignore statements (#4553)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

[in_app_purchase] Deprecated the `InAppPurchaseAndroidPlatformAddition.enablePendingPurchases` method. (#4527)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: p: in_app_purchase, platform-android

[webview_flutter] Android implementation of `loadFile` and `loadHtmlString` methods (#4544)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Migrate webview_flutter package to analysis_options.yaml (#4552)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/analysis_options.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  script/configs/custom_analysis.yaml
Labels: p: webview_flutter

[in_app_purchase]Update the version number and CHANGELOG (#4097)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

[webview_flutter] Add supporting interfaces for setting cookies to platform interface. (#4555)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_cookie.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/platform_interface/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/webview_cookie_test.dart
Labels: p: webview_flutter

Revert deprecation of clearCookies (#4566)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: webview_flutter

[webview_flutter] Add a backgroundColor option to the webview platform interface (#4567)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: p: webview_flutter

[webview_flutter] Adds the `loadFlutterAsset` method to the interface. (#4562)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: p: webview_flutter

[path_provider] Switch macOS to an internal method channel (#4547)
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/lib/path_provider_macos.dart
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.dart
Labels: p: path_provider, platform-macos

[webview_flutter] Add a backgroundColor option to the iOS webview (#4570)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerUITests/FLTWebViewUITests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

[flutter_plugin_tools] Add a new 'make-deps-path-based' command (#4575)
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: none
