Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[flutter_plugin_tools] Fix subpackage analysis (#5027)
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: none

Roll Flutter from 2ed7cdf35a0e to 201a64c98f35 (5 revisions) (#5043)
  .ci/flutter_master.version
Labels: none

[file_selector] Update macOS README and example (#5034)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/macos/Runner/DebugProfile.entitlements
  packages/file_selector/file_selector/example/macos/Runner/Release.entitlements
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector, platform-macos

[video_player] Rename internal method channels (#5045)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/test_api.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/test_api.dart
Labels: p: video_player, platform-android, platform-ios

Roll Flutter from 201a64c98f35 to 2f73173c36f8 (3 revisions) (#5047)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2f73173c36f8 to 2bd3e0d91485 (16 revisions) (#5055)
  .ci/flutter_master.version
Labels: none

Update scorecard versions. (#5050)
  .github/workflows/scorecards-analysis.yml
Labels: none

[in_app_purchase] Adds additional explanation on the importance of completing a purchase (#5017)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

[flutter_plugin_tools] packages get -> pub get (#5046)
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
Labels: none

Roll Flutter from 2bd3e0d91485 to c9755336785e (2 revisions) (#5059)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c9755336785e to 722cbc52b85b (3 revisions) (#5060)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 722cbc52b85b to fd25dc848324 (3 revisions) (#5062)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fd25dc848324 to 509ddfda5c1b (5 revisions) (#5066)
  .ci/flutter_master.version
Labels: none

[in_app_purchase] Implements transaction caching for StoreKit (#4985)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FIATransactionCacheTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

[flutter_plugin_tool] Add custom-test command (#5058)
  script/tool/CHANGELOG.md
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/custom_test_command_test.dart
Labels: none

Roll Flutter from 509ddfda5c1b to 1c2c9421121f (1 revision) (#5067)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1c2c9421121f to a217bbb6defe (46 revisions) (#5072)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a217bbb6defe to 5b3e42afd019 (5 revisions) (#5074)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5b3e42afd019 to 1de874e7364a (6 revisions) (#5080)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1de874e7364a to 2c1dbba9344c (2 revisions) (#5083)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2c1dbba9344c to d1c11213493c (2 revisions) (#5085)
  .ci/flutter_master.version
Labels: none

Roll Flutter from d1c11213493c to 6af40a7004f8 (1 revision) (#5089)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Fix iOS crash by observing map frame change only once (#3426)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/PartiallyMockedMapView.h
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/PartiallyMockedMapView.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController_Test.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter-umbrella.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter.modulemap
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios

Roll Flutter from 6af40a7004f8 to 8c1c2f6af555 (1 revision) (#5092)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8c1c2f6af555 to 97258979df13 (8 revisions) (#5094)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 97258979df13 to 9671b7ddee8c (1 revision) (#5095)
  .ci/flutter_master.version
Labels: none

[video_player] Platform interface changes to fix Android rotation for videos recorded in landscapeRight (#4634)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: p: video_player

[webview_flutter_wkwebview] Add support to clear cache (#4991)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[video_player] Reduce server dependencies in tests (#5103)
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
Labels: p: video_player, platform-android

[ci] Update Chrome install script and version. (#5098)
  script/install_chromium.sh
Labels: none

[camera] Update README (#4988)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Labels: p: camera

[webview_flutter_wkwebview] Add WKWebView method stubs (#4990)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Add progress tracking support for flutter/flutter#93732 (#5101)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[Video_player] Upgraded to exoPlayer 2.17.0 (#5011)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: p: video_player, platform-android

[tool] Fix typo in `publish-plugin` readme (#5107)
  script/tool/CHANGELOG.md
  script/tool/README.md
Labels: none

[espresso] [video_player] Update espresso guava version (#5112)
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
Labels: p: espresso, p: image_picker, platform-android

[camera] Fixed a crash when streaming on iOS (#4520)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

Roll Flutter from 9671b7ddee8c to b4325b68a260 (121 revisions) (#5120)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Update setters and getters to follow Flutter Style Guide (#5104)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from b4325b68a260 to 37d619d2285e (1 revision) (#5121)
  .ci/flutter_master.version
Labels: none
