Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[webview_flutter] Add a backgroundColor option to the Android webview (#4569)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/BackgroundColorTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/debug/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/DriverExtensionActivity.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Expose loadFile and loadHtmlString through app facing package. (#4558)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: p: webview_flutter

[webview_flutter] Android implementation of `loadFlutterAsset` method. (#4581)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterAssetManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/PluginBindingFlutterAssetManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/RegistrarFlutterAssetManagerTest.java
  packages/webview_flutter/webview_flutter_android/example/assets/www/index.html
  packages/webview_flutter/webview_flutter_android/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Add an option to set the background color of the webview (#3431)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: p: webview_flutter

[flutter_plugin_tools] Improve package targeting (#4577)
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/common/plugin_command_test.dart
Labels: none

[webview_flutter] Implement loadRequest in Android package. (#4563)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Add loadRequest functionality to app facing package. (#4573)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: p: webview_flutter

[webview_flutter] Add Android implementations for new cookie manager, to allow setting cookies directly and on webview creation. (#4557)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/utils/TestUtils.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Add iOS implementations for new cookie manager, to allow setting cookies directly and on webview creation. (#4556)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTCookieManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/wkwebview_cookie_manager_test.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter] WKWebView implementation of loadFlutterAsset method. (#4582)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/assets/www/index.html
  packages/webview_flutter/webview_flutter_wkwebview/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

[webview_flutter] Add setCookie to CookieManager and support initial cookies in creation params. (#4561)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: p: webview_flutter

[webview_flutter] Implements the loadFlutterAsset in the app facing package. (#4593)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/assets/www/index.html
  packages/webview_flutter/webview_flutter/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: p: webview_flutter

[webview_flutter] Proof of concept web implementation (#4594)
  packages/webview_flutter/webview_flutter_web/AUTHORS
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/LICENSE
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/example/.metadata
  packages/webview_flutter/webview_flutter_web/example/README.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/lib/main.dart
  packages/webview_flutter/webview_flutter_web/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/test_driver/integration_test.dart
  packages/webview_flutter/webview_flutter_web/example/web/favicon.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-192.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-512.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-maskable-192.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-maskable-512.png
  packages/webview_flutter/webview_flutter_web/example/web/index.html
  packages/webview_flutter/webview_flutter_web/example/web/manifest.json
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui.dart
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui_fake.dart
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui_real.dart
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: p: webview_flutter, platform-web

[webview_flutter] Default Android to hybrid composition (#4576)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: p: webview_flutter

renew cirrus key (#4592)
  .cirrus.yml
Labels: none

[path_provider] Remove platform registration (#4540)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
Labels: p: path_provider

[shared_preferences] Remove platform registration (#4596)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

[webview_flutter] Change import of FLTCookieManager.h to relative import (#4600)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Move custom analysis options into sub-packages (#4603)
  packages/camera/analysis_options.yaml
  packages/camera/camera/analysis_options.yaml
  packages/camera/camera_platform_interface/analysis_options.yaml
  packages/camera/camera_web/analysis_options.yaml
  packages/camera/camera_web/pubspec.yaml
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in_platform_interface/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/analysis_options.yaml
  packages/image_picker/image_picker/analysis_options.yaml
  packages/image_picker/image_picker_for_web/analysis_options.yaml
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/analysis_options.yaml
  packages/video_player/analysis_options.yaml
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: video_player, platform-web

[path_provider] Use the application ID in the application support path (#2845) (#3077)
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/lib/src/get_application_id.dart
  packages/path_provider/path_provider_linux/lib/src/get_application_id_real.dart
  packages/path_provider/path_provider_linux/lib/src/get_application_id_stub.dart
  packages/path_provider/path_provider_linux/lib/src/path_provider_linux.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/path_provider_linux_test.dart
Labels: p: path_provider, platform-linux

[in_app_purchase] Fix upgrading subscription by deferred proration mode on android. (#4560)
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: p: in_app_purchase, platform-android

[shared_preferences] Fix example in readme for mocking values (#4411)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

Add missing return for nullably typed function (#4598)
  script/tool/lib/src/pubspec_check_command.dart
Labels: none

[in_app-purchase] Updated the ReadMe to remove the deprecated `InAppPurchaseAndroidPlatformAddition.enablePendingPurchases ` method (#4597)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

[path_provider] Fix handling of null application ID (#4606)
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/lib/src/get_application_id_real.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/get_application_id_test.dart
Labels: p: path_provider, platform-linux

[tools] fix typo in tools (#4607)
  script/tool/lib/src/lint_android_command.dart
Labels: none

[local_auth] Switch to new analysis options (#4604)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/analysis_options.yaml
  packages/local_auth/example/lib/main.dart
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_test.dart
  script/configs/custom_analysis.yaml
Labels: p: local_auth

[video_player] Fix a flaky test (#4611)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
Labels: p: video_player

update firebase test key (#4615)
  .cirrus.yml
Labels: none

update firebase key (#4616)
  .cirrus.yml
Labels: none

[flutter_plugin_tools] Auto-retry failed FTL tests (#4610)
  script/tool/CHANGELOG.md
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: none

[video_player] Eliminate platform channel from mock platform (#4588)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

Prevent setting user agent string to default value on every rebuild (#4618)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

[webview_flutter] Enable setAllowFileAccess on Android setting when loading files (#4601)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[ci] Move Android build-all CI to heavy workload (#4624)
  .cirrus.yml
Labels: none

[video_player] Remove test code from platform interface (#4589)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/video_player/video_player_platform_interface/test/test.dart
Labels: p: video_player

[camera]fix a crash related to calling engine api in the background thread (#4608)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
Labels: p: camera, platform-ios

[video_player] Add 5.0 interface support (#4627)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/CONTRIBUTING.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web

Revert "[camera]Fix crash due to calling engine APIs from background thread" (#4630)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
Labels: p: camera, platform-ios

[video_player] Update texture on seekTo (#2758)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/Podfile
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.h
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player, platform-ios
