Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from bc08d85718b6 to 689b5cc68d2f (5 revisions) (#5954)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 689b5cc68d2f to 712860d33b00 (4 revisions) (#5956)
  .ci/flutter_master.version
Labels: none

[camera] Switch to internal method channels (#5943)
  CODEOWNERS
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/lib/camera_android.dart
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/lib/src/type_conversion.dart
  packages/camera/camera_android/lib/src/utils.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android/test/method_channel_mock.dart
  packages/camera/camera_android/test/type_conversion_test.dart
  packages/camera/camera_android/test/utils_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/camera_avfoundation.dart
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/lib/src/type_conversion.dart
  packages/camera/camera_avfoundation/lib/src/utils.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_avfoundation/test/method_channel_mock.dart
  packages/camera/camera_avfoundation/test/type_conversion_test.dart
  packages/camera/camera_avfoundation/test/utils_test.dart
Labels: p: camera, platform-android, platform-ios

[path_provider] Migrated path_provider_ios to pigeon. (#5944)
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_ios/ios/Classes/FLTPathProviderPlugin.m
  packages/path_provider/path_provider_ios/ios/Classes/messages.g.h
  packages/path_provider/path_provider_ios/ios/Classes/messages.g.m
  packages/path_provider/path_provider_ios/lib/messages.g.dart
  packages/path_provider/path_provider_ios/lib/path_provider_ios.dart
  packages/path_provider/path_provider_ios/pigeons/copyright.txt
  packages/path_provider/path_provider_ios/pigeons/messages.dart
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_ios/test/messages_test.g.dart
  packages/path_provider/path_provider_ios/test/path_provider_ios_test.dart
Labels: p: path_provider, platform-ios

[google_maps_flutter] Add structure options to platform interface (#5960)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_objects.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_widget_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/map_configuration_serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/utils/map_configuration_serialization_test.dart
Labels: p: google_maps_flutter

[ci] Skip expensive native tests on stable in presubmit (#5962)
  .cirrus.yml
Labels: none

Ignore deprecation for `styleFrom` button APIs (#5945)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_macos/example/lib/home_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_windows/example/lib/home_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: camera, p: file_selector, p: in_app_purchase, platform-android, platform-ios, platform-macos, platform-windows

Roll Flutter from 712860d33b00 to 0cd8f3d02b8a (6 revisions) (#5967)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Switch to using new structured options interface methods (#5825)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
Labels: p: google_maps_flutter

[url_launcher] Fixes call to setState after dispose. (#5963)
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: p: url_launcher, platform-web

[google_maps_flutter] Switch web to structured options (#5965)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web

[webview_flutter_wkwebview] Fix bug of overriding default values of `NSURLRequest` (#5969)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Fixes bug where an `NSError` not an `NSErrorData` was returned (#5973)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Implements `currentUrl` (#5974)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Return an NSNumber that represents a bool (#5968)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebsiteDataStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Instantiate a `WKWebViewConfiguration` in `WKUIDelegate.onCreateWebView` (#5971)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Reduce dependabot freq from daily to weekly. (#5972)
  .github/dependabot.yml
Labels: none

[webview_flutter_wkwebview] Adds the dispose method to NSObjectFlutterApi (#5970)
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
Labels: p: webview_flutter, platform-ios

[image_picker] Switch Android to internal method channel (#5958)
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/lib/image_picker_android.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/image_picker_android_test.dart
Labels: p: image_picker, platform-android

[webview_flutter_wkwebview] Prevents `NSObject.removeObserver` from being called without calling `addObserver` first (#5975)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

[camera] Ignore body_might_complete_normally_catch_error violation (#5957)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
Labels: p: camera

Roll Flutter from 0cd8f3d02b8a to 873d343e091c (11 revisions) (#5982)
  .ci/flutter_master.version
Labels: none

[path_provider]: Migrated path_provider for android to pigeon. (#5959)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/copyright.txt
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/messages_test.g.dart
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

Roll Flutter from 873d343e091c to 7bad4eb9d871 (13 revisions) (#5984)
  .ci/flutter_master.version
Labels: none

[video_player] Fix disposed VideoPlayerController throwing an error when calling dispose() again (#5952)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[url_launcher] Add a new launchUrl to platform interface (#5966)
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/src/types.dart
  packages/url_launcher/url_launcher_platform_interface/lib/src/url_launcher_platform.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/url_launcher_platform_test.dart
Labels: p: url_launcher

Roll Flutter from 7bad4eb9d871 to 02558d69d923 (26 revisions) (#5988)
  .ci/flutter_master.version
Labels: none

Added ignore deprecation comments to `styleFrom` button APIs (cont) (#5983)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-android

[webview_flutter] Fixes bug when onNavigationRequestCallback returns false (#5981)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

[camera] Fix exception in registerWith (#6009)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-android

Roll Flutter from 02558d69d923 to dfaec11ba519 (29 revisions) (#6011)
  .ci/flutter_master.version
Labels: none

Ignore upcoming warnings (#6007)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/test/test_api.dart
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: camera, p: google_maps_flutter, p: image_picker, p: ios_platform_images, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-web

[ci] Ensure complete dependabot coverage (#5976)
  .cirrus.yml
  .github/dependabot.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/dependabot_check_command_test.dart
Labels: none

[url_launcher] Switch to new launchUrl interface (#5985)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/src/type_conversion.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mocks/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: p: url_launcher

Roll Flutter from dfaec11ba519 to 60f30e5d3ed4 (23 revisions) (#6015)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Update copy method for Dart classes and support the `NSObject.observeValue` for subclasses (#5961)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScriptMessageHandlerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewConfigurationHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[google_sign_in_platform_interface] Add support for `serverClientId` (#5256)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: p: google_sign_in

Roll Flutter from 60f30e5d3ed4 to a30012b27505 (8 revisions) (#6033)
  .ci/flutter_master.version
Labels: none

[camera] Partially Address CameraAccessException: CAMERA_ERROR (#5723)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

Roll Flutter from a30012b27505 to 6c3a0e4d21da (6 revisions) (#6037)
  .ci/flutter_master.version
Labels: none
