Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from 44be0b84ba54 to aa5d7b6972ee (12 revisions) (#5286)
  .ci/flutter_master.version
Labels: none

Roll Flutter from aa5d7b6972ee to f4875ae865e9 (1 revision) (#5289)
  .ci/flutter_master.version
Labels: none

[video_player_web] Stop buffering when browser canPlayThrough. (#5068)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web

Roll Flutter from f4875ae865e9 to 3c4d7a1aed65 (2 revisions) (#5292)
  .ci/flutter_master.version
Labels: none

Add owners for Android implementations (#5293)
  CODEOWNERS
Labels: none

Roll Flutter from 3c4d7a1aed65 to 3752fb7bd15e (11 revisions) (#5294)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3752fb7bd15e to fd360c4a1d24 (2 revisions) (#5295)
  .ci/flutter_master.version
Labels: none

[video_player_avfoundation] Applies the standardized transform for videos with different orientations (#5069)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.h
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios

Roll Flutter from fd360c4a1d24 to ef5a6da35a72 (1 revision) (#5298)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ef5a6da35a72 to eb54cefb97fa (1 revision) (#5299)
  .ci/flutter_master.version
Labels: none

Roll Flutter from eb54cefb97fa to c2ec2426ac39 (1 revision) (#5300)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c2ec2426ac39 to 220ffc77f375 (1 revision) (#5302)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 220ffc77f375 to ce6188bef15c (5 revisions) (#5304)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ce6188bef15c to fecc8904ff8c (1 revision) (#5305)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fecc8904ff8c to 9e4f2650dbf9 (2 revisions) (#5307)
  .ci/flutter_master.version
Labels: none

Add iOS path CODEOWNERS (#5306)
  CODEOWNERS
Labels: none

Roll Flutter from 9e4f2650dbf9 to b9f1a907b1aa (2 revisions) (#5308)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b9f1a907b1aa to e526f859ef80 (10 revisions) (#5311)
  .ci/flutter_master.version
Labels: none

[local_auth] support localizedFallbackTitle in IOSAuthMessages (#5297)
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/lib/types/auth_messages_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: p: local_auth, platform-ios

Roll Flutter from e526f859ef80 to fce3cee7763c (4 revisions) (#5313)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fce3cee7763c to 3fefb2d5eb5f (8 revisions) (#5317)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3fefb2d5eb5f to 0dccb58a73dd (1 revision) (#5318)
  .ci/flutter_master.version
Labels: none

[camera] Fix the orientation of videos recorded in landscape on Android (#4946)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManager.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManagerTest.java
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-android

[image_picker] Added image_picker_for_windows. (#4863)
  packages/image_picker/image_picker_windows/AUTHORS
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/LICENSE
  packages/image_picker/image_picker_windows/README.md
  packages/image_picker/image_picker_windows/example/README.md
  packages/image_picker/image_picker_windows/example/lib/main.dart
  packages/image_picker/image_picker_windows/example/pubspec.yaml
  packages/image_picker/image_picker_windows/example/windows/.gitignore
  packages/image_picker/image_picker_windows/example/windows/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/flutter/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/flutter/generated_plugins.cmake
  packages/image_picker/image_picker_windows/example/windows/runner/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/runner/Runner.rc
  packages/image_picker/image_picker_windows/example/windows/runner/flutter_window.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/flutter_window.h
  packages/image_picker/image_picker_windows/example/windows/runner/main.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/resource.h
  packages/image_picker/image_picker_windows/example/windows/runner/resources/app_icon.ico
  packages/image_picker/image_picker_windows/example/windows/runner/runner.exe.manifest
  packages/image_picker/image_picker_windows/example/windows/runner/utils.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/utils.h
  packages/image_picker/image_picker_windows/example/windows/runner/win32_window.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/win32_window.h
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.dart
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.mocks.dart
  script/configs/exclude_integration_win32.yaml
Labels: p: image_picker, platform-windows

[flutter_plugin_tools] Run pub get for custom-test (#5322)
  script/tool/CHANGELOG.md
  script/tool/lib/src/custom_test_command.dart
  script/tool/pubspec.yaml
  script/tool/test/custom_test_command_test.dart
Labels: none

[video_player] Add setClosedCaptionFile method to VideoPlayerController (#5105)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player

[various] Replaces manual hashing with Object.hash (#5314)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/lib/types/auth_messages_android.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/lib/types/auth_messages_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/types/auth_options.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  script/tool/test/util.dart
Labels: p: camera, p: local_auth, p: video_player, platform-android, platform-ios

[webview_flutter_wkwebview] Instance Manager (#5241)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
Labels: p: webview_flutter, platform-ios

Roll Flutter from 0dccb58a73dd to 1b58a593deac (1 revision) (#5319)
  .ci/flutter_master.version
Labels: none

[local_auth] Fix default deviceSupportsBiometrics (#5321)
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/default_method_channel_platform.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
Labels: p: local_auth

[local_auth] Fix getEnrolledBiometrics returning non-enrolled biometrics on Android. (#5309)
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
Labels: p: local_auth, platform-android

[url_launcher] Replace primary APIs with cleaner versions (#5310)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/lib/src/types.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/lib/url_launcher_string.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mocks/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: p: url_launcher

Added gaaclarke as codeowner (#5323)
  CODEOWNERS
Labels: none

[image_picker] Migrate iOS to Pigeon and improve state handling (#5285)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/copyright.txt
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.dart
Labels: p: image_picker, platform-ios

[local_auth] Fix deviceSupportsBiometrics returning false on iOS when present biometric hardware is not enrolled. (#5329)
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: p: local_auth, platform-ios

Pin dockerfile version (#5377)
  .ci/Dockerfile
Labels: none

[flutter_plugin_tool] Allow re-pathifying dependencies (#5376)
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: none

[url_launcher] Add canLaunch fallback for web on Android (#5399)
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: p: url_launcher, platform-android

[path_provider] Fix Unchecked/Unsafe Operation Warning (#5267)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android

[google_sign_in] Switch to internal method channels (#5396)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: p: google_sign_in, platform-android, platform-ios
