Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[webview_flutter_wkwebview][webview_flutter_android] Fixes bug where the `WebView`s could not be released (#6996)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-android, platform-ios

[camerax] Allow instance manager to create identical objects (#7034)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/InstanceManagerTest.java
Labels: p: camera, platform-android

[ci] Increase heavy workload memory (#7065)
  .cirrus.yml
Labels: none

Roll Flutter from 75680ae99e85 to 0a22a1dbf475 (3 revisions) (#7051)
  .ci/flutter_master.version
Labels: none

[tool] More main-branch detection improvement (#7067)
  script/tool/lib/src/common/package_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: none

[ci] Clean up analysis options (#7068)
  analysis_options.yaml
Labels: none

[in_app_puchase_storekit] handle `appStoreReceiptURL` is nil (#7069)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios

prepare for TestDefaultBinaryMessengerBinding.instance becoming non-nullable (#6847)
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
Labels: p: camera, p: google_maps_flutter, p: url_launcher, p: video_player, platform-android, platform-ios

Roll Flutter from 0a22a1dbf475 to d27880801435 (58 revisions) (#7078)
  .ci/flutter_master.version
Labels: none

[various] prepare for more const widgets (#7074)
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/url_launcher/url_launcher/example/lib/encoding.dart
Labels: p: google_maps_flutter, p: local_auth, p: url_launcher, platform-android, platform-ios, platform-windows

Change google_sign_in_ios and image_picker_ios owners (#7070)
  CODEOWNERS
Labels: none

Update README.md (#7076)
  README.md
Labels: none

[ci] More cirrus.yml pre-alignment with flutter/packages (#7079)
  .ci/scripts/create_all_plugins_app.sh
  .cirrus.yml
  script/configs/exclude_all_packages_app.yaml
Labels: none

[camera_android] Default to legacy recording profile when EncoderProfiles unavailable (#7073)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

Roll Flutter from d27880801435 to c5e8757fcb79 (54 revisions) (#7092)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from b06b8b271095 to 7048ed95a5ad (5 revisions) (#7091)
  .ci/flutter_stable.version
Labels: none

Roll Flutter from c5e8757fcb79 to b8f5394a5ca6 (22 revisions) (#7105)
  .ci/flutter_master.version
Labels: none

[image_picker] GIF files will animate without permissions. PNG and GIF files will retain their image type if missing permissions. (#7084)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

[camera] flip/change camera while recording - platform interface (#7011)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: p: camera

Roll Flutter from b8f5394a5ca6 to 3c3c9a1bd98f (3 revisions) (#7107)
  .ci/flutter_master.version
Labels: none

[camerax] Wrap methods necessary for preview implementation (#7046)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/surface.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/preview_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: p: camera, platform-android

[webview_flutter_web] Avoids XHR when possible. (#7090)
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/run_test.sh
  packages/webview_flutter/webview_flutter_web/lib/src/content_type.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/content_type_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-web

[Espresso] Update expressio dependencies (#7108)
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: p: espresso, platform-android

[url_launcher_ios] Update minimum Flutter version to 3.3 and iOS 11 (#7110)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/ios/Flutter/AppFrameworkInfo.plist
  packages/url_launcher/url_launcher/example/ios/Podfile
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/url_launcher/url_launcher_ios/example/ios/Podfile
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher_ios/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher_ios/example/lib/main.dart
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios.podspec
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: p: url_launcher, platform-ios

Redistribute ownership of cross-platform plugin components (#7093)
  CODEOWNERS
Labels: none

[local_auth_android] update java complie sdk version to green tree (#7121)
  packages/local_auth/local_auth/example/android/app/build.gradle
Labels: p: local_auth, platform-android

Update release tooling to give a workaround for predictable failing case https://github.com/flutter/flutter/issues/120116 (#7111)
  script/tool/lib/src/update_release_info_command.dart
Labels: none

Roll Flutter from 3c3c9a1bd98f to e8eac0d047cd (21 revisions) (#7122)
  .ci/flutter_master.version
Labels: none

Manual roll Flutter from e8eac0d047cd to 2303f42250b1 (23 revisions) (#7132)
  .ci/flutter_master.version
Labels: none

[ci] Complete architecture switch for iOS (#7066)
  .ci.yaml
Labels: none

[google_maps_flutter_android] Fixes points losing precision when converting to LatLng (#7101)
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

[camera] availableCameras() implementation for CameraX re-write (#6945)
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: p: camera, platform-android

[image_picker_android] Name picked files to match the original filenames where possible (#6096)
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerPickTest.java
  packages/image_picker/image_picker_android/example/android/app/src/debug/AndroidManifest.xml
  packages/image_picker/image_picker_android/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/DriverExtensionActivity.java
  packages/image_picker/image_picker_android/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/DummyContentProvider.java
  packages/image_picker/image_picker_android/example/android/app/src/main/res/raw/ic_launcher.png
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: p: image_picker, platform-android

Update .cirrus.yml (#7134)
  .cirrus.yml
Labels: none

[google_sign_in] Slight cleanup in GoogleSignInPlugin (#7013)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android

Manual roll Flutter from 2303f42250b1 to e3471f08d1d3 (24 revisions) (#7147)
  .ci/flutter_master.version
Labels: none

[file_selector] Relax xdg_directories constraint (#7157)
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
Labels: p: path_provider, platform-linux

[various] Raise JVM limit in example builds (#7155)
  packages/camera/camera/example/android/gradle.properties
  packages/camera/camera_android/example/android/gradle.properties
  packages/camera/camera_android_camerax/example/android/gradle.properties
  packages/espresso/example/android/gradle.properties
  packages/flutter_plugin_android_lifecycle/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in_android/example/android/gradle.properties
  packages/image_picker/image_picker/example/android/gradle.properties
  packages/image_picker/image_picker_android/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle.properties
  packages/local_auth/local_auth/example/android/gradle.properties
  packages/local_auth/local_auth_android/example/android/gradle.properties
  packages/path_provider/path_provider/example/android/gradle.properties
  packages/path_provider/path_provider_android/example/android/gradle.properties
  packages/quick_actions/quick_actions/example/android/gradle.properties
  packages/quick_actions/quick_actions_android/example/android/gradle.properties
  packages/shared_preferences/shared_preferences/example/android/gradle.properties
  packages/shared_preferences/shared_preferences_android/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher_android/example/android/gradle.properties
  packages/video_player/video_player/example/android/gradle.properties
  packages/video_player/video_player_android/example/android/gradle.properties
  packages/webview_flutter/webview_flutter/example/android/gradle.properties
  packages/webview_flutter/webview_flutter_android/example/android/gradle.properties
Labels: p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android

Update GCLOUD_FIREBASE_TESTLAB_KEY (#7176)
  .cirrus.yml
Labels: none

[camera] flip/change camera while recording (split out PR for cam_avfoundation and cam_android) (#7109)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-android, platform-ios
