Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from 074ee4b2f446 to dd73a32c0ce8 (1 revision) (#5222)
  .ci/flutter_master.version
Labels: none

[local_auth] Update app facing package to use default method channel implementation in new platform interface package. (#5195)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/lib/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: p: local_auth

Roll Flutter from dd73a32c0ce8 to 61a86b5bee38 (2 revisions) (#5224)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 61a86b5bee38 to b08647376976 (18 revisions) (#5227)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b08647376976 to 6b461de0129e (3 revisions) (#5228)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6b461de0129e to 355fd23a799d (4 revisions) (#5230)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 355fd23a799d to 8a899d4a74ff (4 revisions) (#5232)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8a899d4a74ff to 9e0f0fe9d7b8 (2 revisions) (#5233)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9e0f0fe9d7b8 to 0f2b1a3baf20 (4 revisions) (#5235)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Add support for cookie manager (#5203)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from 0f2b1a3baf20 to 33e540a92e39 (6 revisions) (#5237)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 33e540a92e39 to 17be6d73e6cb (2 revisions) (#5239)
  .ci/flutter_master.version
Labels: none

[google_sign_in] Publish federation (#5238)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in

Roll Flutter from 17be6d73e6cb to 888208c1f4e0 (4 revisions) (#5240)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 888208c1f4e0 to fd73f2730c78 (10 revisions) (#5246)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fd73f2730c78 to 009688a99eb9 (1 revision) (#5247)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 009688a99eb9 to 2b0255f0d9f3 (2 revisions) (#5248)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 2b0255f0d9f3 to 5fb74db1a9cb (1 revision) (#5251)
  .ci/flutter_master.version
Labels: none

[local_auth] Change stopAuthentication to return false instead of throwing on iOS. (#5249)
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: p: local_auth, platform-ios

Roll Flutter from 5fb74db1a9cb to 86d43e428aaa (2 revisions) (#5252)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 86d43e428aaa to a20cd33d6734 (3 revisions) (#5253)
  .ci/flutter_master.version
Labels: none

[google_sign_in_web] Add `plugin_name` to `init` call. (#5242)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web

Roll Flutter from a20cd33d6734 to 9526c84b2e48 (7 revisions) (#5255)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 9526c84b2e48 to 52d17b667250 (2 revisions) (#5257)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 52d17b667250 to adda8e93881d (3 revisions) (#5258)
  .ci/flutter_master.version
Labels: none

Roll Flutter from adda8e93881d to 61be9229b7f3 (1 revision) (#5259)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 61be9229b7f3 to c2dc92ca881d (3 revisions) (#5260)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c2dc92ca881d to 3aba137efd31 (1 revision) (#5261)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3aba137efd31 to cb968c5f3291 (1 revision) (#5262)
  .ci/flutter_master.version
Labels: none

Roll Flutter from cb968c5f3291 to 05759325bad1 (1 revision) (#5263)
  .ci/flutter_master.version
Labels: none

[local_auth] Refactor package to make use of new platform interface and native implementations (#4701)
  packages/local_auth/local_auth/AUTHORS
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/lib/local_auth.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/lib/src/types/error_codes.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: p: local_auth

Roll Flutter from 05759325bad1 to ff9d6e5e339f (1 revision) (#5265)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ff9d6e5e339f to e2d12060a2bc (2 revisions) (#5266)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e2d12060a2bc to 08e467dde7a1 (1 revision) (#5268)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 08e467dde7a1 to 2b8333240d38 (5 revisions) (#5270)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Implement `WKNavigationDelegate.didFinishNavigation` as a proof of concept for callback methods (#5199)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/function_flutter_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/function_flutter_api_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
Labels: p: webview_flutter, platform-ios

[webview_flutter_wkwebview] Implements the `HostApis` and methods for the `CookieManager`. (#5244)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

[flutter_plugin_tools] Preserve Dart SDK version in all-plugins-app (#5281)
  .ci/flutter_master.version
  script/tool/CHANGELOG.md
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/test/create_all_plugins_app_command_test.dart
Labels: none

Roll Flutter from 329ceaef666f to ec8289c3f90c (26 revisions) (#5283)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ec8289c3f90c to 44be0b84ba54 (2 revisions) (#5284)
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
