Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[google_maps_flutter] update maps sdk for Android (#4984)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

ci: remove uwp test (#5427)
  .ci.yaml
Labels: none

[flutter_plugin_tools] Adds update-excerpts command (#5339)
  .cirrus.yml
  .gitmodules
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/build.excerpt.yaml
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: p: camera

[flutter_plugin_tools] Remove UWP (#5432)
  .ci/scripts/build_examples_uwp.sh
  .ci/targets/uwp_build_and_platform_tests.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/util.dart
Labels: none

[ci.yaml] Remove explicit caches (#5434)
  .ci.yaml
Labels: none

[webview_flutter_android] Updates `pigeon` version to support null safety (#5395)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/generatePigeons.sh
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

[video_player] Fix XCUITest based on the new tooltip accessibility label (#5426)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios

Roll Flutter from 1b58a593deac to 4cea9afc1224 (147 revisions) (#5437)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 4cea9afc1224 to 5b713147404d (4 revisions) (#5441)
  .ci/flutter_master.version
Labels: none

[flutter_plugin_tools] Validate code blocks in readme-check (#5436)
  .cirrus.yml
  packages/camera/camera/README.md
  packages/espresso/README.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector_macos/README.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/url_launcher/url_launcher/README.md
  script/configs/temp_exclude_excerpt.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/readme_check_command_test.dart
Labels: p: camera, p: espresso, p: file_selector, p: google_sign_in, p: url_launcher, platform-macos, platform-web

Roll Flutter from 5b713147404d to 7a74222832f8 (1 revision) (#5442)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7a74222832f8 to 2eed8cbf9370 (1 revision) (#5443)
  .ci/flutter_master.version
Labels: none

[ci] Don't run Cirrus tests on `master` (#5444)
  .cirrus.yml
Labels: none

Roll Flutter from 2eed8cbf9370 to ad1d30017e69 (1 revision) (#5445)
  .ci/flutter_master.version
Labels: none

[webview_flutter] fix warning (#5131)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

Roll Flutter from ad1d30017e69 to 3fe2cbabc421 (2 revisions) (#5446)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 3fe2cbabc421 to 0b3c5d1228f1 (7 revisions) (#5449)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0b3c5d1228f1 to fa519eb22fe3 (15 revisions) (#5451)
  .ci/flutter_master.version
Labels: none

Roll Flutter from fa519eb22fe3 to 84e099d5f467 (1 revision) (#5452)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 84e099d5f467 to b0d5d8ab2930 (1 revision) (#5454)
  .ci/flutter_master.version
Labels: none

Roll Flutter from b0d5d8ab2930 to 2a24ee494db4 (2 revisions) (#5456)
  .ci/flutter_master.version
Labels: none

[webview_flutter_wkwebview] Implementation of Objective-C WKWebView Host Apis (#5341)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

Roll Flutter from 2a24ee494db4 to 7b8d50020338 (1 revision) (#5457)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 7b8d50020338 to 6755ba59f436 (1 revision) (#5458)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 6755ba59f436 to 43555d05040c (1 revision) (#5459)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 43555d05040c to 0f1eb8bad788 (2 revisions) (#5461)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 0f1eb8bad788 to e3d39f62a26b (1 revision) (#5462)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e3d39f62a26b to e66662f1cb75 (1 revision) (#5463)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e66662f1cb75 to a35af5b4659a (1 revision) (#5464)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a35af5b4659a to d600a3b48801 (1 revision) (#5465)
  .ci/flutter_master.version
Labels: none

Roll Flutter from d600a3b48801 to f7df22590adf (1 revision) (#5466)
  .ci/flutter_master.version
Labels: none

Roll Flutter from f7df22590adf to ea080e58ba42 (1 revision) (#5467)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ea080e58ba42 to 36be63ba19f5 (5 revisions) (#5469)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 36be63ba19f5 to bd2ca58db388 (5 revisions) (#5470)
  .ci/flutter_master.version
Labels: none

[flutter_plugin_tools] Support non-plugin packages for `drive-examples` (#5468)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/util.dart
Labels: none

Roll Flutter from bd2ca58db388 to 7965ee25dd63 (2 revisions) (#5471)
  .ci/flutter_master.version
Labels: none

Add dependabot for Gradle dependencies (#5440)
  .github/dependabot.yml
Labels: none

[ci] Shorten dependabot prefixes to comply with config spec. (#5474)
  .github/dependabot.yml
Labels: none

[flutter_plugin_tools] Include examples in `test` (#5453)
  script/tool/CHANGELOG.md
  script/tool/lib/src/test_command.dart
  script/tool/pubspec.yaml
  script/tool/test/test_command_test.dart
Labels: none

Roll Flutter from 7965ee25dd63 to 597835d6bfc8 (4 revisions) (#5473)
  .ci/flutter_master.version
Labels: none
