Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

[tool] Fix false positives in update-exceprts (#6950)
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: none

Roll Flutter from 0d91c0343bdc to 220169878e77 (28 revisions) (#6953)
  .ci/flutter_master.version
Labels: none

[tool] Check for search paths in Swift plugins (#6954)
  .ci.yaml
  .ci/targets/mac_lint_podspecs.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/main.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/podspec_check_command_test.dart
Labels: none

[shared_preferences] Revert recent iOS example changes (#6955)
  packages/shared_preferences/shared_preferences/example/ios/.gitignore
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/shared_preferences/shared_preferences/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/Runner-Bridging-Header.h
  packages/shared_preferences/shared_preferences_foundation/example/ios/RunnerTests/RunnerTests.m
Labels: p: shared_preferences, platform-ios

[android_webview_controller] Fixes bug where an `AndroidController` couldn't be reused (#6910)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

[webview_flutter_android] Fixes crash when the Java `InstanceManager` was used after plugin was removed from engine (#6943)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android

Roll Flutter from 220169878e77 to 68dd63d66ba6 (9 revisions) (#6956)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 68dd63d66ba6 to 1220245b330c (4 revisions) (#6957)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 1220245b330c to 8c2fdb803e49 (2 revisions) (#6979)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 8c2fdb803e49 to cc7845e71a9d (2 revisions) (#6983)
  .ci/flutter_master.version
Labels: none

[camera] Allow logical cameras to use all physical cameras via zoom on android 11+ (#6150)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraZoom.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtils.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPropertiesImplTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraZoomTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtilsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

[camera] Use startVideoCapturing and expose concurrent stream/record (#6815)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
Labels: p: camera

Roll Flutter from cc7845e71a9d to 973cff40b402 (9 revisions) (#6987)
  .ci/flutter_master.version
Labels: none

[path_provider] Switch to `path_provider_foundation` (#6989)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: p: path_provider

[video_player] Expose `VideoScrubber` so it can be used to create custom video timelines (#6680)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player

[webview_flutter_android] Adds support for receiving Java callback `WebChromeClient.onShowFileChooser` (#6881)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FileChooserParamsFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FileChooserParamsTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_platform.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_flutter_android.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
Labels: p: webview_flutter, platform-android

[webview_flutter_android] Fix throwing `StateError` when `onShowFileChooser` was nonnull (#6995)
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
Labels: p: webview_flutter, platform-android

Roll Flutter from 973cff40b402 to a07e8a6ac43d (60 revisions) (#7003)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a07e8a6ac43d to f33e8d3701b5 (24 revisions) (#7007)
  .ci/flutter_master.version
Labels: none

[file_selector] add getDirectoryPaths implementation on Linux (#6573)
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_linux/example/lib/home_page.dart
  packages/file_selector/file_selector_linux/example/lib/main.dart
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/file_selector/file_selector_linux/lib/file_selector_linux.dart
  packages/file_selector/file_selector_linux/linux/.gitignore
  packages/file_selector/file_selector_linux/linux/file_selector_plugin.cc
  packages/file_selector/file_selector_linux/linux/test/file_selector_plugin_test.cc
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
Labels: p: file_selector, platform-linux

Roll Flutter from f33e8d3701b5 to bd7bee0f9eb8 (5 revisions) (#7010)
  .ci/flutter_master.version
Labels: none

[local_auth] Convert Windows to Pigeon (#7012)
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/local_auth/local_auth_windows/lib/local_auth_windows.dart
  packages/local_auth/local_auth_windows/lib/src/messages.g.dart
  packages/local_auth/local_auth_windows/pigeons/copyright.txt
  packages/local_auth/local_auth_windows/pigeons/messages.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/test/local_auth_test.dart
  packages/local_auth/local_auth_windows/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/windows/local_auth.h
  packages/local_auth/local_auth_windows/windows/local_auth_plugin.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.h
  packages/local_auth/local_auth_windows/windows/test/local_auth_plugin_test.cpp
  packages/local_auth/local_auth_windows/windows/test/mocks.h
Labels: p: local_auth, platform-windows

Roll Flutter from bd7bee0f9eb8 to c35efdaa6854 (24 revisions) (#7017)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from 135454af3247 to b06b8b271095 (2551 revisions) (#7018)
  .ci/flutter_stable.version
Labels: none

Ignore deprecated member use on DecoderBufferCallback (#7014)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

[path_provider] Fix iOS `getApplicationSupportDirectory` regression (#7026)
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/RunnerTests/RunnerTests.swift
  packages/path_provider/path_provider_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/pubspec.yaml
Labels: p: path_provider, platform-ios, platform-macos

[url_launcher] Convert Windows to Pigeon (#6991)
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pigeons/copyright.txt
  packages/url_launcher/url_launcher_windows/pigeons/messages.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/windows/messages.g.cpp
  packages/url_launcher/url_launcher_windows/windows/messages.g.h
  packages/url_launcher/url_launcher_windows/windows/system_apis.cpp
  packages/url_launcher/url_launcher_windows/windows/system_apis.h
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.h
  packages/url_launcher/url_launcher_windows/windows/url_launcher_windows.cpp
Labels: p: url_launcher, platform-windows

Roll Flutter from c35efdaa6854 to a815ee634202 (22 revisions) (#7025)
  .ci/flutter_master.version
Labels: none

[camerax] Adds functionality to bind UseCases to a lifecycle (#6939)
  CODEOWNERS
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/lib/src/use_case.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

[tool/ci] Add minimum supported SDK validation (#7028)
  .cirrus.yml
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector_ios/example/pubspec.yaml
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/pubspec_check_command_test.dart
Labels: p: file_selector, p: flutter_plugin_android_lifecycle, p: path_provider, p: plugin_platform_interface, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-web

[camera] Add back Optional type for nullable CameraController orientations (#6911)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-android

[ci] Increase timeouts for platform_tests (#7036)
  .ci.yaml
Labels: none

[google_sign_in] Add doc for iOS auth with SERVER_CLIENT_ID (#4747)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in

Roll Flutter from a815ee634202 to 75680ae99e85 (58 revisions) (#7048)
  .ci/flutter_master.version
Labels: none

[ci] Add LUCI versions of macOS ARM tests (#6984)
  .ci.yaml
  .ci/scripts/build_all_plugins.sh
  .ci/targets/ios_build_all_plugins.yaml
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/mac_platform_tests.yaml
  .ci/targets/windows_build_all_plugins.yaml
Labels: none

[tool] Improve main-branch detection (#7038)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: none

[in_app_purchase] Prep for more const widgets (#7030)
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-android, platform-ios

[ci] Switch remaining macOS host tests to LUCI (#7063)
  .ci.yaml
  .ci/targets/macos_build_all_plugins.yaml
  .ci/targets/macos_lint_podspecs.yaml
  .ci/targets/macos_platform_tests.yaml
  .cirrus.yml
Labels: none

[ci] Part 1 of swapping iOS platform test arch (#7064)
  .ci.yaml
Labels: none

[camerax] Add system services to plugin (#6986)
  packages/camera/camera_android_camerax/android/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraPermissionsManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraPermissionsManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/DeviceOrientationManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android
