Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

Roll Flutter from 06d90b8b9e26 to 0eb2d51ec991 (17 revisions) (#6750)
  .ci/flutter_master.version
Labels: none

b8f7f1f98 [flutter_releases] Flutter stable 3.3.9 Framework Cherrypicks (flutter/flutter#115856) (#6751)
  .ci/flutter_stable.version
Labels: none

Roll Flutter from 0eb2d51ec991 to cb234730a11d (13 revisions) (#6755)
  .ci/flutter_master.version
Labels: none

Roll Flutter from cb234730a11d to ff59250dbeb0 (3 revisions) (#6757)
  .ci/flutter_master.version
Labels: none

Roll Flutter from ff59250dbeb0 to 17c1dbc47378 (31 revisions) (#6764)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 17c1dbc47378 to b2672fe8355f (26 revisions) (#6766)
  .ci/flutter_master.version
Labels: none

enable test (#5312)
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios

Revert "enable test (#5312)" (#6782)
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios

Roll Flutter from b2672fe8355f to 33f3e13dfff6 (72 revisions) (#6787)
  .ci/flutter_master.version
Labels: none

[camera] Handle empty grantResults on permission request (#6758)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPermissionsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android

Roll Flutter from 33f3e13dfff6 to 30fc993caed5 (6 revisions) (#6791)
  .ci/flutter_master.version
Labels: none

[camera] Add ability to concurrently record and stream video (#6290)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-android, platform-ios, platform-web, platform-windows

Revert "[camera] Add ability to concurrently record and stream video (#6290)" (#6796)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-android, platform-ios, platform-web, platform-windows

[ci] Fix macOS LUCI merge base (#6798)
  .ci/targets/mac_ios_platform_tests.yaml
Labels: none

Roll Flutter from 30fc993caed5 to e2fb672a440e (25 revisions) (#6802)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Add support to request map renderer for Android (#6619)
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapInitializer.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapInitializerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/latest_renderer_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/legacy_renderer_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/readme_excerpts.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android

Roll Flutter from e2fb672a440e to a570fd25d83b (15 revisions) (#6804)
  .ci/flutter_master.version
Labels: none

[google_maps_flutter] Roll cupertino_icons for compatibility with Dart 3 (#6807)
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/pubspec.yaml
Labels: p: google_maps_flutter, platform-android, platform-ios

[camera] Re-enable ability to concurrently record and stream video (#6808)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-android, platform-ios, platform-web, platform-windows

[video_player] Fix file URI construction (#6803)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: p: video_player, platform-android

Roll Flutter from a570fd25d83b to 521028c80827 (11 revisions) (#6810)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 521028c80827 to eefbe85c8bd4 (10 revisions) (#6820)
  .ci/flutter_master.version
Labels: none

[tools] Recognize Pigeon tests in version-check (#6813)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
Labels: none

[camera] Attempt to fix flaky new Android test (#6831)
  packages/camera/camera_android/example/integration_test/camera_test.dart
Labels: p: camera, platform-android

[google_maps_flutter] Modified `README.md` to fix minor syntax issues (#6631)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/build.excerpt.yaml
  packages/google_maps_flutter/google_maps_flutter/example/lib/readme_sample.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Roll Flutter from eefbe85c8bd4 to bd0791be3ff2 (25 revisions) (#6832)
  .ci/flutter_master.version
Labels: none

Reland "[google_maps_flutter] ios: re-enable test with popup #5312" (#6783)
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios

Update FlutterFire link (#6835)
  FlutterFire.md
Labels: none

Roll Flutter from bd0791be3ff2 to 15af81782e19 (27 revisions) (#6837)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 15af81782e19 to 028c6e29e0ca (13 revisions) (#6843)
  .ci/flutter_master.version
Labels: none

[camera_android_camerax] `unnecessary_parenthesis` lint fix (#6841)
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
Labels: p: camera

Roll Flutter (stable) from b8f7f1f9869b to 135454af3247 (6 revisions) (#6850)
  .ci/flutter_stable.version
Labels: none

[webview_flutter_wkwebview] Copies iOS implementation of webview_flutter from v4_webview (#6852)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/navigation_decision.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/navigation_request.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_flutter_wkwebview_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
  script/configs/exclude_all_plugins_app.yaml
Labels: p: webview_flutter, platform-ios

[local_auth] Fix failed biometric authentication not throwing error (#6821)
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: p: local_auth, platform-ios

[webview_flutter_web] Copies web implementation of webview_flutter from v4_webview (#6854)
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_web/example/lib/main.dart
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/lib/src/http_request_factory.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui_fake.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui_real.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_platform.dart
  packages/webview_flutter/webview_flutter_web/lib/src/webview_flutter_web_legacy.dart
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.mocks.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_widget_test.dart
  script/configs/exclude_all_plugins_app.yaml
Labels: p: webview_flutter, platform-web

[image_picker] Don't store null paths in lost cache (#6678)
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: p: image_picker, platform-android

[webview_flutter_android] Fix timeouts in the integration tests (#6857)
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-android

[flutter_plugin_tools] If `clang-format` does not run, fall back to other executables in PATH (#6853)
  script/tool/CHANGELOG.md
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: none

[video_player] Add compatibility with the current platform interface (#6855)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/pubspec.yaml
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/pubspec.yaml
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-android, platform-web

[image_picker] Improve image_picker for iOS to handle more image types (#6812)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/bmpImage.bmp
  packages/image_picker/image_picker_ios/example/ios/TestImages/heicImage.heic
  packages/image_picker/image_picker_ios/example/ios/TestImages/icnsImage.icns
  packages/image_picker/image_picker_ios/example/ios/TestImages/icoImage.ico
  packages/image_picker/image_picker_ios/example/ios/TestImages/proRawImage.dng
  packages/image_picker/image_picker_ios/example/ios/TestImages/svgImage.svg
  packages/image_picker/image_picker_ios/example/ios/TestImages/tiffImage.tiff
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*
