Repository sword1202/plugin_dart, changes with the labels that .github/labeler.yml gives for each.
All labels: p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: camera':
  - packages/camera/**/*

'p: espresso':
  - packages/espresso/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

Roll Flutter from ea0ddc94ccc6 to 8f0c35d4869e (17 revisions) (#6639)
  .ci/flutter_master.version
Labels: none

[camera] Interface method to allow concurrent recording and streaming of video (#6550)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/video_capture_options.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: p: camera

Roll Flutter from 8f0c35d4869e to 0e98194681fd (30 revisions) (#6648)
  .ci/flutter_master.version
Labels: none

[ci]Temporarily disable starqlteue on firebase device lab (#6657)
  .cirrus.yml
Labels: none

[video_player]add integration test for inverted aspect ratio bug (#6662)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
Labels: p: video_player

Roll Flutter (stable) from 6928314d505d to e99c9c7cd9f6 (2 revisions) (#6667)
  .ci/flutter_stable.version
Labels: none

Roll Flutter from 0e98194681fd to e6300da2c39f (46 revisions) (#6668)
  .ci/flutter_master.version
Labels: none

[ci] Removes unnecessary overrides. (#6669)
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  script/tool/CHANGELOG.md
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.mocks.dart
Labels: p: video_player, platform-android

Roll Flutter from e6300da2c39f to 55e8cd178621 (17 revisions) (#6670)
  .ci/flutter_master.version
Labels: none

Add `Mac_x64 darwin_lint_podspecs` to LUCI (#6637)
  .ci.yaml
  .ci/targets/mac_lint_podspecs.yaml
Labels: none

[webview_flutter] Fix typo (#6650)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
Labels: p: webview_flutter

Roll Flutter from 55e8cd178621 to e0e7027b6263 (20 revisions) (#6673)
  .ci/flutter_master.version
Labels: none

Roll Flutter from e0e7027b6263 to 5ea5a5330169 (7 revisions) (#6675)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 5ea5a5330169 to a1289a41358d (7 revisions) (#6677)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a1289a41358d to a1432a9c5da2 (23 revisions) (#6681)
  .ci/flutter_master.version
Labels: none

Roll Flutter from a1432a9c5da2 to d3dcd7d532b6 (8 revisions) (#6684)
  .ci/flutter_master.version
Labels: none

Enable `Mac build_all_plugins` (#6671)
  .ci.yaml
  .ci/scripts/build_all_plugins.sh
  .ci/targets/mac_build_all_plugins.yaml
Labels: none

Update flutter cirrus key (#6687)
  .cirrus.yml
Labels: none

Roll Flutter from d3dcd7d532b6 to c7d11549a51e (13 revisions) (#6689)
  .ci/flutter_master.version
Labels: none

Roll Flutter from c7d11549a51e to 098aac7ffeef (24 revisions) (#6692)
  .ci/flutter_master.version
Labels: none

Roll Flutter (stable) from e99c9c7cd9f6 to 52b3dc25f647 (4 revisions) (#6690)
  .ci/flutter_stable.version
Labels: none

Roll Flutter from 098aac7ffeef to 61e927d22fe6 (16 revisions) (#6694)
  .ci/flutter_master.version
Labels: none

Enable Mac ios_platform_tests tests (#6682)
  .ci.yaml
  .ci/scripts/create_simulator.sh
  .ci/targets/mac_ios_platform_tests.yaml
Labels: none

cirrus to luci (#6711)
  .ci.yaml
  .cirrus.yml
Labels: none

[file_selector] Add getDirectoryPaths method to the file_selector_platform_interface. (#6572)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
Labels: p: file_selector

[quick_actions]Migrates all remaining components to Swift, and deprecate OCMock (#6597)
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/DefaultShortcutItemParserTests.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockMethodChannel.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemProvider.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/QuickActionsPluginTests.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.m
  packages/quick_actions/quick_actions_ios/ios/Classes/MethodChannel.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/ShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/ShortcutItemProviding.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios

[quick_actions] Fix Android integration test flake (#6688)
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: p: quick_actions, platform-android

[google_sign_in] Correctly passes `serverClientId` to native libs (#6691)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: p: google_sign_in, platform-android, platform-ios

Revert "[ci]Temporarily disable starqlteue on firebase device lab (#6657)" (#6710)
  .cirrus.yml
Labels: none

[ci] Manually Roll Flutter from 61e927d22fe6 to d2e6dfefa5ca (143 revisions) (#6723)
  .ci/flutter_master.version
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
Labels: p: url_launcher, platform-web

Roll Flutter from d2e6dfefa5ca to 46d868c52517 (5 revisions) (#6724)
  .ci/flutter_master.version
Labels: none

[camera] Export VideoCaptureOptions so that implementers can use it (#6666)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
Labels: p: camera

Roll Flutter from 46d868c52517 to 633d7ef046c8 (8 revisions) (#6725)
  .ci/flutter_master.version
Labels: none

Roll Flutter from 633d7ef046c8 to 29622285dd9e (13 revisions) (#6730)
  .ci/flutter_master.version
Labels: none

[ci] Import flutter/packages install_chromium.sh (#6727)
  .cirrus.yml
  script/install_chromium.sh
Labels: none

Switch `ios_platform_tests` from Cirrus to LUCI (#6729)
  .ci.yaml
  .cirrus.yml
Labels: none

Roll Flutter from 29622285dd9e to 06d90b8b9e26 (17 revisions) (#6742)
  .ci/flutter_master.version
Labels: none

[path_provider] Remove unused Guava dependency (#6744)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android

[google_sign_in] Roll Guava dependency to 31.1 (#6746)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android

[ios_platform_images] remove deprecated APIs (#6693)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images
