Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @mklim, @amirh, @bparrishMines, @cyanglaz, @collinjackson, @digiter, @adazh, @mehmetf, @gaaclarke, @iskakaushik

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/android_intent/* @mklim
packages/battery/* @amirh
packages/camera/* @bparrishMines @mklim
packages/connectivity/* @cyanglaz
packages/e2e/* @collinjackson @digiter
packages/espresso/* @collinjackson @adazh
packages/google_maps_flutter/* @cyanglaz
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/ios_platform_images/* @gaaclarke
packages/package_info/* @cyanglaz
packages/url_launcher/* @mklim
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh

[webview_flutter] Fix iOS WebView ignoring SafeArea widget and iOS 13 WebView scroll indicator showing at random location. (#2343)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

Updates to espresso docs (#2461)
  packages/espresso/CHANGELOG.md
  packages/espresso/README.md
  packages/espresso/pubspec.yaml
Owners: @collinjackson, @adazh

[android_intent] support for setType() and setDataAndType() (#1983)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
Owners: @mklim

[flutter_plugin_android_lifecycle] Stop reflecting (#2467)
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapter.java
  packages/flutter_plugin_android_lifecycle/android/src/test/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapterTest.java
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Owners: none

[image_picker] Fix an issue that the example app won't launch the image picker after Android V2 embedding migration. (#2469)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/android/app/src/main/AndroidManifest.xml
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1Activity.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[webview_flutter] always make sure the contentInset or the sum of contentInset and adjustedContentInset is 0 on iOS. (#2466)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[in_app_purchase] Remove unused method from example app (#2474)
  packages/in_app_purchase/example/lib/main.dart
Owners: none

Add missing Xcode workspaces to examples (#2476)
  .gitignore
  packages/connectivity/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/connectivity/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/e2e/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/e2e/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/path_provider/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/path_provider/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/url_launcher/url_launcher/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: none

Bump roboelectric version (#2475)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/android/app/build.gradle
  packages/image_picker/example/android/gradle.properties
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[video_player] Make sure the plugin is correctly initialized (#2434)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
Owners: none

[sensors] Update readme documentation (#2452)
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
Owners: none

[shared_preferences] Fixes gradle version for shared preferences (macos, web) bug on android (#2470)
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Owners: none

[flutter_plugin_android_lifecycle] Add an explanatory message to the example app (#2376)
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/example/lib/main.dart
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Owners: none

[google_maps_flutter] Fixed typo in LatLngBounds constructor's documentation (#2042)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[shared_preferences] fix typo in readme (#2477)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Owners: none

[In_app_purchases] Removing extra testing changes for in-app-purchase example (#2481)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[video_player_web, video_player] Detect DOM playback/init errors and convert them to PlatformExceptions (#2483)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/.gitignore
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Owners: none

Fix ci error: deprecated api (#2485)
  packages/espresso/CHANGELOG.md
  packages/espresso/example/lib/main.dart
  packages/espresso/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/pubspec.yaml
Owners: @collinjackson, @adazh, @mklim, @cyanglaz

[google_maps_flutter] fix swift example in readme (#2428)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[Closed Captioning] Create SubRip file parser and dart closed caption data object (#2473)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/sub_rip_file_test.dart
Owners: none

[path_provider] now supports getDownloadsDirectory() on macOS. (#2436)
  packages/path_provider/CHANGELOG.md
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/pubspec.yaml
  packages/path_provider/test/path_provider_test.dart
Owners: none

[google_maps_flutter] supports v2 android embedding. (#2488)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/android/gradle.properties
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemaps/EmbeddingV1ActivityTest.java
  packages/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemaps/MainActivityTest.java
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/example/android/app/src/main/java/io/flutter/plugins/googlemapsexample/EmbeddingV1Activity.java
  packages/google_maps_flutter/example/android/app/src/main/java/io/flutter/plugins/googlemapsexample/MainActivity.java
  packages/google_maps_flutter/example/android/gradle.properties
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

Configure Cirrus Branch Guard (#2492)
  .github/workflows/branch-guard.yml
Owners: none

Revert "Configure Cirrus Branch Guard (#2492)" (#2496)
  .github/workflows/branch-guard.yml
Owners: none

[google_maps_flutter] Fixes toggling traffic layer not working on Android (#2497)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[url_launcher_web] Added support for mailto in url_launcher_web plugin (#2490)
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Owners: none

[webview_flutter] Fix iOS WebView not opening href with target="_blank" (#2500)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[in_app_purchase] Fix wrong _pendingCompletePurchase flag value (#2504)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Owners: @mklim, @cyanglaz

[google_maps_flutter] Add steps to set up google map sdk on each platform in readme. (#2507)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[video_player] Add caption to VideoPlayerValue to get the current closed caption (#2487)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/bumble_bee_captions.srt
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Owners: none

[google_maps_flutter] Fix circle and polygon stroke width (#2044)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleControllerTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonControllerTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineControllerTest.java
  packages/google_maps_flutter/android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[google_sign_in_web] Add more detailed setup instructions. (#2508)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Owners: none

[in_app_purchases] Android: make sure properly disconnect the billing client object. (#2509)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

[e2e] Test multiple failure behavior (#2514)
  packages/e2e/CHANGELOG.md
  packages/e2e/example/pubspec.yaml
  packages/e2e/example/test_driver/failure_e2e.dart
  packages/e2e/example/test_driver/failure_e2e_test.dart
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter

Rename test (#2516)
  packages/e2e/example/test_driver/failure.dart
  packages/e2e/example/test_driver/failure_test.dart
Owners: none

[webview_flutter] Remove the upper bound from the Flutter SDK constraint (#2517)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[Connectivity] Adds platform interface to connectivity plugin (#2515)
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/LICENSE
  packages/connectivity/connectivity_platform_interface/README.md
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/lib/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/test/method_channel_connectivity_test.dart
Owners: none

[in_app_purchase] Fix version. (#2518)
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[e2e] Fixed bug in e2e for ios where it doesn't exit. (#2465)
  packages/e2e/CHANGELOG.md
  packages/e2e/example/test_driver/failure_test.dart
  packages/e2e/ios/Classes/E2EIosTest.m
  packages/e2e/ios/Classes/E2EPlugin.h
  packages/e2e/ios/Classes/E2EPlugin.m
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter

[connectivity_platform_interface] Fix README (#2519)
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/README.md
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Owners: none
