Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh @iskakaushik

[firebase_ml_vision] Prepare example app to include Live Camera Preview demo and Material Barcode Scanner demo (#1713)
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/lib/picture_scanner.dart
Owners: none

[In_app_purchase] rename `PurchaseError` to `IAPError` and rename `PurchaseSource` to `IAPSource` (#1699)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Owners: @mklim, @cyanglaz

[cloud_firestore] Added support for combining document pagination methods (#1722)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

Remove unused header reference (#1747)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

Auto retrieve version to report user agent (#1748)
  .gitignore
  packages/firebase_remote_config/.gitignore
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/android/src/main/AndroidManifest.xml
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FlutterFirebaseAppRegistrar.java
  packages/firebase_remote_config/android/user-agent.gradle
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_maps_flutter] Adds support for add padding to the map (#1674)
  .gitignore
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/android.iml
  packages/google_maps_flutter/example/google_maps_flutter_example.iml
  packages/google_maps_flutter/example/google_maps_flutter_example_android.iml
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Owners: @amirh, @iskakaushik

re-add deleted files (#1749)
  packages/google_maps_flutter/example/android.iml
  packages/google_maps_flutter/example/google_maps_flutter_example.iml
  packages/google_maps_flutter/example/google_maps_flutter_example_android.iml
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
Owners: none

Seperate integration tests (#1712)
  packages/firebase_ml_vision/example/test_driver/barcode_detector.dart
  packages/firebase_ml_vision/example/test_driver/face_detector.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/example/test_driver/image_labeler.dart
  packages/firebase_ml_vision/example/test_driver/text_recognizer.dart
Owners: none

release CVPixelBuffer to prevent memory leak (#1615)
  AUTHORS
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[firebase_ml_vision] Move firebase_ml_vision examples to this repo (#1758)
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/example/assets/span_book.jpg
  packages/firebase_ml_vision/example/ios/Runner/Info.plist
  packages/firebase_ml_vision/example/lib/camera_preview_scanner.dart
  packages/firebase_ml_vision/example/lib/colors.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/lib/material_barcode_scanner.dart
  packages/firebase_ml_vision/example/lib/scanner_utils.dart
  packages/firebase_ml_vision/example/pubspec.yaml
Owners: none

[firebase_crashlyitcs] On Android, use actual the Dart exception name instead of "Dart error." (#1759)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_crashlytics][ios] setUserIdentifier incorrectly calls setUserEmail (#1750)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

Update pubspec.yaml
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

[image_picker] ios: support GIF animation and the scaling (#1638)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/TestImages/gifImage.gif
  packages/image_picker/example/ios/image_picker_exampleTests/ImageUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[google_maps_flutter] ios build fix (#1734)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

Avoid Android crashing when a headless plugin tries to register this plugin (#1677)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

[firebase_performance] Fix bug that prevented plugin to work with hot restart (#1763)
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
Owners: @bparrishMines, @collinjackson

[google_maps_flutter] Allow BitmapDescriptor scaling override (#1737)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[google_maps_flutter] enable/disable indoor view (#826)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
Owners: @amirh, @iskakaushik

Update README.md (#1764)
  README.md
Owners: none

Don't run incremental build when there are no changes in packages (#1768)
  script/incremental_build.sh
Owners: none

Update README to reflect the requirement to use fragment activity (#1769)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Owners: none

Set device density to polylines (#1772)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[all_plugins] Build all_plugins app on cirrus script (#1725)
  .cirrus.yml
  script/build_all_plugins_app.sh
Owners: none

[in_app_purchase]fix the type casting issue (#1775)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

Enable version checker to be run on cirrus (#1778)
  script/common.sh
  script/incremental_build.sh
Owners: none

[in_app_purchase]fix the regression introduced in 0.2.0+1
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

Disable version-check until we fix the patch version (#1786)
  script/incremental_build.sh
Owners: none

re-enable version check (#1787)
  script/incremental_build.sh
Owners: none

[cloud_firestore] Support for map fields in document pagination (#1781)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix incorrect polygon argument name in google maps controller (#1801)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

Don't use modules (#1795)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[android_intent] [battery] [shared_preferences] Fix Gradle version (#1797)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/pubspec.yaml
  packages/battery/CHANGELOG.md
  packages/battery/android/gradle/wrapper/gradle-wrapper.properties
  packages/battery/pubspec.yaml
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/pubspec.yaml
Owners: @collinjackson

[firebase_crashlytics] make sure the keys are actually added to the returned map (#1799)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Owners: @kroikie, @collinjackson

[cloud_firestore] Transactions improvements (#1780)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
Owners: @collinjackson, @kroikie

[path_provider] Update to use getExternalFilesDir (#1811)
  packages/path_provider/CHANGELOG.md
  packages/path_provider/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
Owners: @collinjackson

[firebase_database] Move firebase_database transaction calls to UI thread on Android (#1812)
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

Add a PR triage policy to the contributing guide. (#1779)
  CONTRIBUTING.md
Owners: none

[firebase_messaging] fix crash when func deleteInstanceID return result in incorrect thread (#1756)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Update README with advice on testing installation (#1815)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson
