Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @mklim, @amirh, @bparrishMines, @cyanglaz, @iskakaushik, @mehmetf, @gaaclarke, @collinjackson, @digiter

[url_launcher_macos] add a no-op android implementation (#2403)
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/android/.gitignore
  packages/url_launcher/url_launcher_macos/android/build.gradle
  packages/url_launcher/url_launcher_macos/android/gradle.properties
  packages/url_launcher/url_launcher_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_macos/android/settings.gradle
  packages/url_launcher/url_launcher_macos/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_macos/android/src/main/java/io/flutter/plugins/url_launcher_macos/UrlLauncherMacosPlugin.java
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Owners: none

[video_player_web] add a no-op android folder (#2408)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/android/.gitignore
  packages/video_player/video_player_web/android/build.gradle
  packages/video_player/video_player_web/android/gradle.properties
  packages/video_player/video_player_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_web/android/settings.gradle
  packages/video_player/video_player_web/android/src/main/AndroidManifest.xml
  packages/video_player/video_player_web/android/src/main/java/io/flutter/plugins/video_player_web/VideoPlayerWebPlugin.java
  packages/video_player/video_player_web/pubspec.yaml
Owners: none

[google_sign_in_web] Add a no-op Android implementation (#2410)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/android/build.gradle
  packages/google_sign_in/google_sign_in_web/android/gradle.properties
  packages/google_sign_in/google_sign_in_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_web/android/settings.gradle
  packages/google_sign_in/google_sign_in_web/android/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in_web/android/src/main/java/io/flutter/plugins/google_sign_in_web/GoogleSignInWebPlugin.java
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Owners: none

[shared_preferences] add a no-op android folder to web/macos packages (#2409)
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/.gitignore
  packages/shared_preferences/shared_preferences_macos/android/build.gradle
  packages/shared_preferences/shared_preferences_macos/android/gradle.properties
  packages/shared_preferences/shared_preferences_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/android/settings.gradle
  packages/shared_preferences/shared_preferences_macos/android/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_macos/android/src/main/java/io/flutter/plugins/shared_preferences_macos/SharedPreferencesMacosPlugin.java
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/.gitignore
  packages/shared_preferences/shared_preferences_web/android/build.gradle
  packages/shared_preferences/shared_preferences_web/android/gradle.properties
  packages/shared_preferences/shared_preferences_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_web/android/settings.gradle
  packages/shared_preferences/shared_preferences_web/android/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_web/android/src/main/java/io/flutter/plugins/shared_preferences_web/SharedPreferencesWebPlugin.java
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Owners: none

Remove AndroidX references from no-op android implementations (#2411)
  packages/url_launcher/url_launcher_macos/android/build.gradle
  packages/url_launcher/url_launcher_macos/android/gradle.properties
  packages/url_launcher/url_launcher_macos/android/src/main/java/io/flutter/plugins/url_launcher_macos/UrlLauncherMacosPlugin.java
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/android/build.gradle
  packages/url_launcher/url_launcher_web/android/gradle.properties
  packages/url_launcher/url_launcher_web/android/src/main/java/io/flutter/url_launcher_web/UrlLauncherWebPlugin.java
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/android/build.gradle
  packages/video_player/video_player_web/android/gradle.properties
  packages/video_player/video_player_web/android/src/main/java/io/flutter/plugins/video_player_web/VideoPlayerWebPlugin.java
Owners: none

[sensors]Cancel sensors example timer avoid exception (#2375)
  packages/sensors/CHANGELOG.md
  packages/sensors/example/lib/snake.dart
  packages/sensors/pubspec.yaml
Owners: none

[e2e] Creates basic support/documentation/example to iOS. (#2394)
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/example/ios/Runner.xcodeproj/project.pbxproj
  packages/e2e/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/e2e/example/ios/RunnerTests/Info.plist
  packages/e2e/example/ios/RunnerTests/RunnerTests.m
  packages/e2e/ios/Classes/E2EIosTest.h
  packages/e2e/ios/Classes/E2EIosTest.m
  packages/e2e/ios/Classes/E2EPlugin.h
  packages/e2e/ios/Classes/E2EPlugin.m
  packages/e2e/pubspec.yaml
Owners: none

[shared_preferences web/macos] remove unused onMethodCall methods (#2412)
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/src/main/java/io/flutter/plugins/shared_preferences_macos/SharedPreferencesMacosPlugin.java
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/src/main/java/io/flutter/plugins/shared_preferences_web/SharedPreferencesWebPlugin.java
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Owners: none

[webview_flutter] add gesture navigation for iOS (#2339)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @amirh

Update endorsed macos plugins readme and update others (#2407)
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/README.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/README.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Owners: none

[plugin_platform_interface] Don't use const Object as a token (#2417)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Owners: none

[url_launcher_platform_interface] use non static token for platform interface (#2418)
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Owners: none

[ios_platform_images] Made ios_platform_images set the correct image scale. (#2414)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.m
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Owners: @gaaclarke

[google_sign_in] Pass the client id to the platform interface. (#2427)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

[in_app_purchase]Change a comment. (#2329)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

re-enable stable CI (#2402)
  .cirrus.yml
Owners: none

[flutter_webview] Raise min Flutter SDK to stable (#2425)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1Activity.java
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/MainActivity.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[battery] cleanup for Android embedding post 1.12 (#2400)
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/android/src/main/java/io/flutter/plugins/battery/BatteryPlugin.java
  packages/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/FlutterActivityTest.java
  packages/battery/example/android/app/src/main/AndroidManifest.xml
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/EmbedderV1Activity.java
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/MainActivity.java
  packages/battery/pubspec.yaml
Owners: @amirh

[google_sign_in] Expose network error (#2398)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

[ios_platform_images] Removed android support from the pubspec. (#2432)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/pubspec.yaml
Owners: @gaaclarke

[google_sign_in]Update google_sign_in_example name in pubspec.yaml (#2335)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

Migrate away from deprecated `BinaryMessages` (#2444)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @cyanglaz, @amirh

[In_app_purchases] migrate to Play Billing Library 2.0. (#2287)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

[ci] Upgrade to Xcode 11.3 (#2435)
  .cirrus.yml
Owners: none

[video_player] Fixes video initialization future stall. (#2134)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Owners: none

[webview_flutter] Setup XCTests (#2445)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/example/ios/webview_flutter_exampleTests/Info.plist
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[image_picker] support android V2 embedding (#2430)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/main/AndroidManifest.xml
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1Activity.java
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1ActivityTest.java
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/FlutterActivityTest.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/example/test_driver/test/image_picker_e2e_test.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_e2e.dart
Owners: @cyanglaz

Update Gradle version (#2448)
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Owners: none

[android_alarm_manager] Fixed issue where callback lookup was failing in the background (#2453)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/FlutterBackgroundExecutor.java
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

[google_sign_in_web] Fix race condition on init. (#2455)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_load_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/gapi_mocks.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/gapi_load.dart
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/android_intent/* @mklim
packages/battery/* @amirh
packages/camera/* @bparrishMines @mklim
packages/connectivity/* @cyanglaz
packages/google_maps_flutter/* @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/ios_platform_images/* @gaaclarke
packages/instrumentation_adapter/* @collinjackson @digiter
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/quick_actions/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/url_launcher/* @mklim
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh
