Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bparrishMines, @ditman, @mvanbeusekom, @cyanglaz, @dnfield, @LHLL, @gaaclarke

[camera] Fixes crash on takePicture() (#3537)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DeviceOrientationManager.java
  packages/camera/camera/pubspec.yaml
Owners: @bparrishMines

[camera] NNBD migration of the camera plugin (#3533)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Flutter/Debug.xcconfig
  packages/camera/camera/example/ios/Flutter/Release.xcconfig
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
  script/nnbd_plugins.sh
Owners: @bparrishMines

Fix the build-all exclusion list (#3552)
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
  script/tool/lib/src/common.dart
Owners: none

[path_provider] Update Windows implementation version (#3541)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Owners: none

[google_maps_flutter] Fix CameraPosition regression (#3547)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
Owners: @cyanglaz

[url_launcher_web] Migrate to null-safety (#3522)
  analysis_options.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/README.md
  packages/url_launcher/url_launcher_web/example/build.yaml
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/example/lib/main.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/run_test.sh
  packages/url_launcher/url_launcher_web/example/test_driver/integration_test_driver.dart
  packages/url_launcher/url_launcher_web/example/web/index.html
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/README.md
  packages/url_launcher/url_launcher_web/test/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/run_test
  packages/url_launcher/url_launcher_web/test/tests_exist_elsewhere_test.dart
Owners: none

[file_selector_web] update documentation #76067 (#3554)
  packages/file_selector/file_selector_web/README.md
Owners: @ditman

[url_launcher] Re-endorse web implementation. (#3557)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Owners: none

Document how to use pigeon and update to the latest version. (#3281)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/CONTRIBUTING.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  script/incremental_build.sh
Owners: none

Publish check (#3556)
  script/check_publish.sh
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
Owners: none

Update video_player readme to change sample video to https (#3546)
  packages/video_player/video_player/README.md
Owners: none

[camera] Added timeout to Android pre-capture sequence (#3558)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Owners: @bparrishMines

Publish check ignores prerelease sdk (#3560)
  script/tool/lib/src/publish_check_command.dart
Owners: none

Migrate plugin_platform_interface to v2 stable, null-safe (#3543)
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
Owners: none

[shared_preferences] fix crash when list type is dynaimc (#3565)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Owners: none

[webview_flutter] Support for loading progress tracking (#2151)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.h
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

[shared_preferences] Migrate examples to NNBD (#3564)
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_macos/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_macos/example/lib/main.dart
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/lib/main.dart
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/test_driver/integration_test.dart
Owners: none

[video_player_web] Ignore mixWithOthers option (#3561)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Owners: none

[path_provider] Migrate examples to null-safety (#3559)
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/lib/main.dart
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/test/widget_test.dart
  packages/path_provider/path_provider_linux/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_macos/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_macos/example/lib/main.dart
  packages/path_provider/path_provider_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_macos/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider_macos/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/lib/main.dart
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Owners: none

[image_picker_for_web] Add doc comments to point out that some arguments aren't supported on the web (#3566)
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Owners: @cyanglaz

[google_maps_flutter] Migrate to NNBD (#3548)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/integration_test.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/android_google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
  script/nnbd_plugins.sh
Owners: @cyanglaz

[url_launcher] Bump platform interface package to stable NNBD (#3570)
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Owners: none

[path_provider] Bump platform interface package to stable NNBD (#3568)
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
Owners: none

[flutter_plugin_android_lifecycle] Bump version for NNBD stable (#3569)
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Owners: none

[package_info] Bump version for NNBD stable (#3571)
  packages/package_info/CHANGELOG.md
  packages/package_info/example/integration_test/package_info_test.dart
  packages/package_info/example/lib/main.dart
  packages/package_info/example/macos/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/pubspec.yaml
  packages/package_info/example/test_driver/integration_test.dart
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
Owners: none

[image_picker_platform_interface] Bump NNBD version to stable (#3573)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Owners: @cyanglaz

[flutter_plugin_android_lifecycle-sdk] Update Flutter SDK constraint
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Owners: none

[path_provider] Bump platform packages to NNBD stable (#3575)
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/pubspec.yaml
Owners: none

[image_picker] use nnbd version of deps to resolve ci failure (#3580)
  packages/image_picker/image_picker/pubspec.yaml
Owners: @cyanglaz

[image_picker] NNBD stable (#3579)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
Owners: @cyanglaz

[url_launcher] Fix SDK copypasta (#3583)
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Owners: none

[camera] Solves delay when using the zoom feature on iOS. (#3562)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Owners: @bparrishMines

migrate connectivity platform interface to stable (#3585)
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Owners: none

[shared_preferences] Bump version for NNBD stable (#3586)
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
Owners: none

[battery] Bump platform version to NNBD stable (#3587)
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/pubspec.yaml
Owners: none

[sensors] Update to NNBD stable (#3589)
  packages/sensors/CHANGELOG.md
  packages/sensors/example/lib/main.dart
  packages/sensors/example/lib/snake.dart
  packages/sensors/example/pubspec.yaml
  packages/sensors/example/test_driver/test/integration_test.dart
  packages/sensors/pubspec.yaml
Owners: none

[connectivity_macos] move NNBD to stable (#3588)
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/example/lib/main.dart
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity_macos/pubspec.yaml
Owners: none

[cross_file] Stable null safety release (#3593)
  packages/cross_file/CHANGELOG.md
  packages/cross_file/pubspec.yaml
Owners: @ditman, @mvanbeusekom

[shared_preferences] Bump platform versions to NNBD stable (#3595)
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Owners: none

[url_launcher] Update platforms to NNBD stable (#3584)
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_linux/example/lib/main.dart
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_macos/example/lib/main.dart
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_windows/example/lib/main.dart
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.


packages/camera/**                             @bparrishMines
packages/cross_file/**                         @ditman @mvanbeusekom
packages/file_selector/**                      @ditman
packages/google_maps_flutter/**                @cyanglaz
packages/image_picker/**                       @cyanglaz
packages/integration_test/**                   @dnfield
packages/in_app_purchase/**                    @cyanglaz @LHLL
packages/ios_platform_images/**                @gaaclarke
