Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bparrishMines, @ditman, @mvanbeusekom, @cyanglaz, @dnfield, @LHLL, @gaaclarke

update versino (#3512)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

Add a note about Plus plugins to CONTRIBUTING.md (#3511)
  CONTRIBUTING.md
Owners: none

[in_app_purchases] Remove TypeMatcher reference (#3494)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @cyanglaz, @LHLL

Remove stray dependency (#3515)
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Owners: none

[image_picker_platform_interface] migrate to nnbd (#3492)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/base.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/io.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/lost_data.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/picked_file_html_test.dart
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Owners: @cyanglaz

[package_info] Migrate to null safety (#3398)
  packages/package_info/CHANGELOG.md
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
  packages/package_info/test/package_info_test.dart
  script/nnbd_plugins.sh
Owners: none

Migrate path_provider to null safety. (#3460)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
Owners: none

Update to ffi 0.3.0-nullsafety.1 (#3513)
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/windows/flutter/CMakeLists.txt
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Owners: none

[wifi_info_flutter] Check Permissions in Android O or higher (#3234)
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutter.java
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutterPlugin.java
  packages/wifi_info_flutter/wifi_info_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/wifi_info_flutter/wifi_info_flutter/example/lib/main.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Owners: none

[camera_platform_interface] Added stopRecordingVideo (#3518)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Owners: @bparrishMines

[camera] Clockwise rotation of focus point in android (#3458)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Owners: @bparrishMines

[shared_preferences_windows]-Migrate to null safety (#3516)
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Owners: none

[image_picker] Migrate to null-safety (#3524)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/integration_test/old_image_picker_test.dart
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/old_image_picker_test.dart
Owners: @cyanglaz

[file_selector_platform_interface] File selector nnbd (#3509)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/lib/src/web_helpers/web_helpers.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  script/nnbd_plugins.sh
Owners: @ditman

[shared_preferences] Migrate platform plugins to null-safety (#3523)
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/test/shared_preferences_web_test.dart
Owners: none

[camera_platform_interface] Migrate to null safety (#3497)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_exception.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/focus_mode.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  script/nnbd_plugins.sh
Owners: @bparrishMines

[ios_platform_images] Migrate to null safety (#3381)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
  script/nnbd_plugins.sh
Owners: @gaaclarke

[file_selector_web] Fix typo in pubspec. (#3528)
  packages/file_selector/file_selector_web/pubspec.yaml
Owners: @ditman

[sensors] Migrate to null safety (#3423)
  packages/sensors/CHANGELOG.md
  packages/sensors/integration_test/sensors_test.dart
  packages/sensors/lib/sensors.dart
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  script/nnbd_plugins.sh
Owners: none

[quick_actions] Migrate to null safety (#3421)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
  script/nnbd_plugins.sh
Owners: none

[video_player]: Fix texture unregistration callback signature
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Owners: none

[wifi_info_flutter] Migrate the platform interface to null safety (#3424)
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/src/method_channel_wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/wifi_info_flutter_platform_interface.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/test/method_channel_wifi_info_flutter_test.dart
  script/nnbd_plugins.sh
Owners: none

[url_launcher] Fix PlatformException introduced in nnbd release (#3333)
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
Owners: none

Add section about how to use Material components in an app using WebView (#3521)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Owners: none

Add plugin tools as a git submodule and depend on it directly (#3527)
  .cirrus.yml
  .gitmodules
  script/check_publish.sh
  script/common.sh
Owners: none

Update video_player_platform_interface to latest pigeon (#3507)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/test.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Owners: none

[share] Update README.md (#3300)
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/pubspec.yaml
Owners: none

Removed obsolete example folder from camera root (#3503)
  packages/camera/example/android/gradle/wrapper/gradle-wrapper.properties
Owners: @bparrishMines

[camera_platform_interface] Migrate to null safety (#3530)
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Owners: @bparrishMines

Update pubspecs (#3534)
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/example/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
Owners: @bparrishMines, @cyanglaz, @LHLL, @dnfield

add post merge labeler (#3532)
  .github/post_merge_labeler.yml
  .github/workflows/pull_request_label.yml
Owners: none

[wifi_info_flutter] Migrate to null safety (#3425)
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/lib/wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/test/wifi_info_flutter_test.dart
Owners: none

Bump ffi dependencies (#3540)
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Owners: none

Added comment about path depenendencies (#3542)
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/espresso/example/pubspec.yaml
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/ios_platform_images/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/example/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
  packages/webview_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
Owners: @bparrishMines, @ditman, @cyanglaz, @LHLL, @dnfield, @gaaclarke

[android_alarm_manager] Migrated android_alarm_manager to support null safety #75233 (#3499)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/example/integration_test/android_alarm_manager_test.dart
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/example/test_driver/integration_test.dart
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
  script/nnbd_plugins.sh
Owners: none

Move plugin tools code (#3544)
  .gitmodules
  script/common.sh
  script/tool/README.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/pubspec.yaml
Owners: none

[image_picker_web] Migrate to null-safety (#3535)
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/image_picker_for_web_test.dart
Owners: @cyanglaz

Update video_player_web to point to new video_player_interface (#3536)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Owners: none

[google_maps_flutter] Migrate platform interface to null safety (#3539)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/pattern_item.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_provider.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
  script/nnbd_plugins.sh
Owners: @cyanglaz

Enable CI tests on beta (#3538)
  .cirrus.yml
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.


packages/camera/**                             @bparrishMines
packages/cross_file/**                         @ditman @mvanbeusekom
packages/file_selector/**                      @ditman
packages/google_maps_flutter/**                @cyanglaz
packages/image_picker/**                       @cyanglaz
packages/integration_test/**                   @dnfield
packages/in_app_purchase/**                    @cyanglaz @LHLL
packages/ios_platform_images/**                @gaaclarke
