Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim
packages/package_info/* @cyanglaz
packages/webview_flutter/* @amirh

[webview_flutter] Add initial e2e tests
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/example/test_driver/webview_test.dart
Owners: none

remove test group
  packages/webview_flutter/example/test_driver/webview.dart
Owners: none

[firebase_analytics] Add 'loginMethod' parameter to logLogin() (#1008)
  AUTHORS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Owners: @collinjackson, @kroikie

[firebase_auth] Make providerId 'const String' for easier use in switch statements (#1292)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/facebook_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/github_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/google_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/twitter_auth_provider.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[Cloud_firestore]add type params for invokeMethod calls. (#1414)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/lib/src/write_batch.dart
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_maps] Add initial google_maps tests (#1409)
  .cirrus.yml
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/example/ios/Runner/AppDelegate.m
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/example/test_driver/google_maps_test.dart
  packages/google_maps_flutter/example/test_driver/test_widgets.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[webview_flutter] use a pumpWidget utility in e2e tests
  packages/webview_flutter/example/test_driver/webview.dart
Owners: none

[Camera]add type params for invokeMethod calls. (#1413)
  packages/camera/CHANGELOG.md
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

[android_alarm_manager] add type params for invokeMethod calls. (#1410)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

[google_maps_flutter] Add a key parameter to the GoogleMap widget (#1424)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[cloud_firestore] Add metadata field to DocumentSnapshot (#1387)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

[android_intent] add type params for invokeMethod calls. (#1411)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
Owners: none

[Connectivity]add type params for invokeMethod calls. (#1416)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
Owners: @cyanglaz

[Battery]add type params for invokeMethod calls. (#1412)
  packages/battery/CHANGELOG.md
  packages/battery/lib/battery.dart
  packages/battery/pubspec.yaml
  packages/battery/test/battery_test.dart
Owners: none

Make sure to post javascript channel messages from the platform thread. (#1429)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[google_maps] Maps zoom level tests (#1430)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Owners: none

[firebase_analytics] Added Navigator.pushReplacement screen tracking (#1428)
  AUTHORS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/observer_test.dart
Owners: @collinjackson, @kroikie

[cloud_firestore] Remove usage of `invokeMapMethod` (#1435)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

Test zoom gestures enabled (#1434)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Owners: none

fix formatting (#1436)
  packages/firebase_database/example/lib/main.dart
  packages/firebase_storage/example/lib/main.dart
  packages/google_sign_in/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
Owners: none

[google_maps] Add tests for rotate tilt and zoom gestures (#1442)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Owners: none

[google_maps] Update android gradle version (#1441)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[firebase_core] Fix firebase core registration and fix firestore document observer cleanup (#991)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
Owners: @collinjackson, @kroikie

[cloud_firestore] Update firebase-firestore to 18.2.0 (#1306)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/app/build.gradle
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_sign_in] (#1438)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/example/lib/main.dart
  packages/google_sign_in/pubspec.yaml
Owners: @cyanglaz, @mehmetf

[firebase_crashlytics] Rely on firebase_core to set up Firebase Analytics dependency (#1418)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/build.gradle
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

[battery] Update example in README.md (#1439)
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
Owners: none

[Image_picker]Android: fix original image deleted after scaling. (#1445)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[firebase_ml_vision] Update ImageDetector for iOS (#1364)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/ios/Podfile
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/CloudLabelDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/ImageLabeler.m
  packages/firebase_ml_vision/ios/Classes/LabelDetector.m
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/cloud_detector_options.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/test/image_labeler_test.dart
Owners: @bparrishMines

[firebase_ml_vision] Android side of upgrade to new ImageLabeler (#1367)
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/CloudLabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/ImageLabeler.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/LabelDetector.java
  packages/firebase_ml_vision/example/android/app/build.gradle
Owners: @bparrishMines

Add support for map tapping (#985)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
Owners: none

Update changelog and pubspec for onTap (#1447)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[in_app_purchase]load purchase (#1380)
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Owners: none

[firebase_crashlytics] Fix to Initialize Fabric (#1437)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

Use Gradle BoM with firebase_core (#1443)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/settings.gradle
  packages/firebase_core/pubspec.yaml
Owners: none

[firebase_crashlytics] Added a simple integration test (#1444)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/pubspec.yaml
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/example/test_driver/crashlytics_test.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

[firebase_auth] Enable passwordless sign in (#1159)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Owners: @collinjackson, @kroikie

[image_picker] Check camera permissions and return error (#1440)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

Use Gradle BoM with cloud_firestore (#1453)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/settings.gradle
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_maps_flutter] adds support for custom icon from a byte array (PNG) (#815)
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/example/assets/red_square.png
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik
