Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @mklim, @matthew-carroll, @amirh, @bparrishMines, @cyanglaz, @collinjackson, @digiter, @adazh, @mehmetf, @gaaclarke, @iskakaushik

[google_sign_in] Add implementations of requestScopes. (#2599)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInPluginTests.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_sign_in/google_sign_in/example/ios/GoogleSignInPluginTest/Info.plist
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/ios/Tests/GoogleSignInPluginTest.m
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/google_user.dart
Owners: none

[image_picker] Image picker select preferred camera device (rear, front) (#2621)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/ios/Tests/ImagePickerPluginTests.m
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Owners: @cyanglaz

[google_maps_flutter] Avoid unnecessary map element updates (performance) (#2235)
  AUTHORS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
Owners: none

[google_maps_flutter] Rename 'Page' in the example app to avoid type conflict with the Flutter Framework. (#2627)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/page.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: none

[google_sign_in] Migrate to Android v2 embedder. (#2624)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/EmbeddingV1Activity.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/EmbeddingV1ActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/FlutterActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInPluginTests.java
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_e2e.dart
  packages/google_sign_in/google_sign_in/test_driver/google_sign_in_e2e_test.dart
Owners: none

[path_provider] Fix misaligned enum values in StorageDirectoryMapperTest (#2628)
  packages/path_provider/path_provider/android/src/test/java/io/flutter/plugins/pathprovider/StorageDirectoryMapperTest.java
Owners: none

[scripts] Exclude shared_preferences_windows package #2630
  script/build_all_plugins_app.sh
Owners: none

[android_intent] Adds canResolveActivity method (#2598)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/example/test_driver/android_intent_e2e.dart
  packages/android_intent/ios/android_intent.podspec
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
Owners: @mklim, @matthew-carroll

[google_sign_in] Android: Move GoogleSignInWrapper to a separate file. (#2636)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInWrapper.java
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/*              @bkonyi
packages/android_intent/*                     @mklim @matthew-carroll
packages/battery/*                            @amirh @matthew-carroll
packages/camera/*                             @bparrishMines
packages/connectivity/*                       @cyanglaz @matthew-carroll
packages/device_info/*                        @matthew-carroll
packages/e2e/*                                @collinjackson @digiter
packages/espresso/*                           @collinjackson @adazh
packages/google_maps_flutter/*                @cyanglaz
packages/google_sign_in/*                     @cyanglaz @mehmetf
packages/image_picker/*                       @cyanglaz
packages/in_app_purchase/*                    @mklim @cyanglaz
packages/ios_platform_images/*                @gaaclarke
packages/package_info/*                       @cyanglaz @matthew-carroll
packages/path_provider/*                      @matthew-carroll
packages/shared_preferences/*                 @matthew-carroll
packages/url_launcher/*                       @mklim
packages/video_player/*                       @iskakaushik @cyanglaz
packages/webview_flutter/*                    @amirh
