Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @bparrishMines, @mklim, @amirh, @cyanglaz, @bkonyi, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_messaging/* @collinjackson @kroikie
packages/camera/* @bparrishMines @mklim
packages/firebase_admob/* @amirh
packages/firebase_ml_vision/* @bparrishMines
packages/image_picker/* @cyanglaz
packages/android_alarm_manager/* @bkonyi
packages/google_maps_flutter/* @amirh
packages/google_sign_in/* @cyanglaz @mehmetf
packages/in_app_purchase/* @mklim
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/package_info/* @cyanglaz
packages/firebase_analytics/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/webview_flutter/* @amirh

[google_maps_flutter] Update the sample app in README.md (#1271)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh

[in_app_purchase] Fix CI formatting errors. (#1281)
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
Owners: none

[firebase_auth] update example app and README (#1219)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Minor bugfixes and code cleanup (#1284)
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/keystore.example.properties
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
Owners: none

[google_maps_flutter] Marker APIs are now widget based (iOS Changes) (#1240)
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/ios/Classes/JsonConversions.m
Owners: none

[google_maps_flutter] Marker APIs are now widget based (Android) (#1229)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnCameraMoveListener.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnInfoWindowTappedListener.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnMarkerTappedListener.java
Owners: none

[google_maps_flutter] Marker APIs are now widget based (Dart Changes) (#1239)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/marker_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/test/marker_updates_test.dart
Owners: @amirh

Add missing license headers (#1289)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
Owners: none

Bugfix/account for nsnull (#1291)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh

Fix icon issue on ios and manifest on android (#1294)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh

The FloatingActionButton requires an icon (#1293)
  packages/google_maps_flutter/README.md
Owners: @amirh

[image_picker] Fixed losing transparency of PNGs (#742)
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
Owners: none

Update play-services-maps from 15.+ to 16.1.0 (#1297)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh

[camera] Add serial dispatch_queue for camera plugin to avoid blocking the UI (#1022)
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

[image_picker] Update pub info for #742 (#1296)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[in_app_purchase] payment queue dart ios (#1249)
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
Owners: none

[firebase_performance] Fix incorrect setting of Trace & HttpMetric attributes (#1277)
  AUTHORS
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
Owners: none

[firebase_performance] remove deprecated trace counter API usage (#1278)
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
Owners: none

Update README.md (#1270)
  packages/firebase_ml_vision/example/README.md
Owners: none

[firebase_ml_vision] Fix crash when scanning URL QR-code on iOS (#1223)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[in_app_purchase]restore purchases (#1299)
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
Owners: none
