Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim
packages/package_info/* @cyanglaz
packages/webview_flutter/* @amirh

[webview_flutter] Add a page loaded callback (#1335)
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

[cloud_firestore] ios ceck for nil snapshot in cloud_firestore error handling instead of checking for non-nil error (#1339)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[shared_preferences] driver test using package:test on device (#1285)
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/example/test/shared_preferences.dart
  packages/shared_preferences/example/test/shared_preferences_test.dart
  packages/shared_preferences/example/test_driver/shared_preferences_test.dart
  packages/shared_preferences/pubspec.yaml
Owners: none

[shared_preferences] Update shared_preferences for release (#1344)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
Owners: none

[cloud_firestore] fix NoSuchMethodError regression and add test (#1345)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/example/test_driver/cloud_firestore_test.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[cloud_functions] add a driver test (#1346)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/example/test/cloud_functions.dart
  packages/cloud_functions/example/test/cloud_functions_test.dart
  packages/cloud_functions/example/test/widget_test.dart
  packages/cloud_functions/example/test_driver/cloud_functions_test.dart
  packages/cloud_functions/pubspec.yaml
Owners: none

[firebase_auth] Add a driver test (#1348)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/example/test/firebase_auth_test.dart
  packages/firebase_auth/example/test_driver/firebase_auth_test.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

add driver test command to cirrus (#1342)
  .ci/Dockerfile
  .cirrus.yml
  packages/in_app_purchase/example/test_driver/app_test.dart
Owners: none

Disable Android emulator testing for now to fix tests (#1357)
  .cirrus.yml
Owners: none

[image_picker] update Uri Authority for GooglePhotos (#1266)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

remove unnecessary file path for video (#1315)
  packages/connectivity/README.md
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[webview_flutter] Update changelog and bump versions. (#1361)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[cloud_firestore] add sample to get specific document (#790)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/README.md
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_sign_in] Fix filename in google_sign_in docs, which leads to crash (#721)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/pubspec.yaml
Owners: @cyanglaz, @mehmetf

Update CONTRIBUTING.md (#1374)
  CONTRIBUTING.md
Owners: none

Add pull request template (#1375)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update the controller's onPageFinished reference when the widget is rebuilt.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @amirh

Refactor WebViewController to have a reference to the widget, to minimize necessary update calls.
  packages/webview_flutter/lib/webview_flutter.dart
Owners: none

Removed dependency on Firebase for android_alarm_manager example (#1341)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_alarm_manager/example/android/app/google-services.json
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

[firebase_crashlytics] Support compatibility with Swift plugins (#1378)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/firebase_crashlytics.podspec
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

[firebase_crashlytics] Upgrade dependencies (#1379)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/build.gradle
Owners: none

[firebase_auth] fixes Android linkWithCredential (#1333)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Iap refactor (#1381)
  packages/in_app_purchase/build.yaml
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
Owners: @mklim

[webview_flutter] Create WebView client depending on version and hasDelegate (#1360)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

remove white spaces to make git happy (#1385)
  packages/firebase_crashlytics/example/README.md
  packages/firebase_crashlytics/ios/firebase_crashlytics.podspec
Owners: none

Send success result for `AlarmService.initialized` method call (#1384)
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
Owners: none

Add Crashlytics plugin to FlutterFire docs (#1394)
  FlutterFire.md
Owners: none

Add Crashlytics plugin to opensource list (#1395)
  .opensource/project.json
Owners: none

fix analyzer warnings
  packages/google_maps_flutter/test/marker_updates_test.dart
Owners: none

add failing test verifying that only changed markers are updated
  packages/google_maps_flutter/test/marker_updates_test.dart
Owners: none

[android_alarm_manager] Improve error message seen when an alarm fires and `AlarmService.setPluginRegistrant` has not been called. (#1337)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/PluginRegistrantException.java
Owners: @bkonyi

Bump version to 0.4.1+5 (#1404)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

[firebase_dynamic_links] sometimes got error NSPOSIXErrorDomain Code=53 in ios (#1182)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

[firebase_auth]Fix PhoneCodeAuthRetrievalTimeout callback never called (#1398)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Update README code example (#1407)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

Added firebase_crashlytics for Readme. (#1388)
  README.md
Owners: none

[camera] Fixes (#29925) (#1393)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

add driver as a dependency in the root pubspec
  packages/webview_flutter/pubspec.yaml
Owners: @amirh
