Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @bparrishMines, @mklim, @amirh, @cyanglaz, @bkonyi, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_messaging/* @collinjackson @kroikie
packages/camera/* @bparrishMines @mklim
packages/firebase_admob/* @amirh
packages/firebase_ml_vision/* @bparrishMines
packages/image_picker/* @cyanglaz
packages/android_alarm_manager/* @bkonyi
packages/google_maps_flutter/* @amirh
packages/google_sign_in/* @cyanglaz @mehmetf
packages/in_app_purchase/* @mklim
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/package_info/* @cyanglaz
packages/firebase_analytics/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/webview_flutter/* @amirh

[In_app_purchase]fix requesthandler crash (#1199)
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Owners: none

Add capability of using single plane buffers (#1156)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

Change iOS video format back to bgra8888 (#1140)
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/lib/camera_image.dart
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

Remove the method channel's reference to webview/maps on dispose. (#1221)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[In_app_purchase]remove categories (#1222)
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Owners: none

closeWebView fixes for url_launcher (#997)
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/pubspec.yaml
Owners: none

[IAP] Add Java call for launchBillingFlow (#1230)
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
Owners: none

Remove categories (#1226)
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/pubspec.yaml
Owners: @bparrishMines, @mklim, @collinjackson, @kroikie, @amirh, @cyanglaz, @mehmetf

[Camera]remove extra space in CHANGELOG (#1238)
  packages/camera/CHANGELOG.md
Owners: @bparrishMines, @mklim

[IAP] Add the Dart API for launchBillingFlow (#1232)
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
Owners: none

Rotate image file based on Exif data (#1225)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
Owners: @bparrishMines

Remove ML models from ML Kit Vision plugin (#1170)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/example/README.md
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

Collection literals ignores in webview flutter plugin (#1246)
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

IAP make payment objc (#1231)
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/PaymentQueueTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Owners: none

fix firestore multiple app support for DocumentSnapshot and transactions (#1209)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

Fix IllegalStateException for cloud_firestore transactions (#1202)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

Remove assertion for firebase_core that can interfere with hot-restart (#1204)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/pubspec.yaml
  packages/firebase_core/test/firebase_core_test.dart
Owners: none

Fix iOS transactions when getting a snapshot that doesn't exist (#1206)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

fix message structure from intent (#957)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

Bugfix documents: (#1242)
  packages/webview_flutter/lib/webview_flutter.dart
Owners: none

Don’t send empty cloud_firestore snapshots on iOS when encountering errors (#1203)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

remove left over conflict marker (#1248)
  packages/firebase_messaging/CHANGELOG.md
Owners: @collinjackson, @kroikie

Fixed typo (#936)
  packages/firebase_ml_vision/README.md
Owners: @bparrishMines

Fix cloud_firestore dates on some iOS devices (#1207)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase-analytics] Enable setAnalyticsCollectionEnabled support for iOS (#896)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Owners: @collinjackson, @kroikie

cloud functions multiple app support (#1210)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/lib/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
  packages/cloud_functions/test/cloud_functions_test.dart
Owners: none

Update android_alarm_manager with instructions on setting WAKE_LOCK permissions (#1251)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/example/android/app/src/main/AndroidManifest.xml
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

Flutterfire apps no longer show a confusing log message about configuring default app (#1192)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
Owners: @collinjackson, @kroikie, @amirh, @bparrishMines

[firebase_storage] Support for getReferenceFromUrl (#1208)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Owners: @collinjackson, @kroikie

[In_app_purchase]SKProduct related fixes (#1252)
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
Owners: none

[video_player] Cast the NSInteger to long and use %ld formatter (#1250)
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
Owners: none

[camera] 28180 fix exif data bug for first time camera use android (#1241)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

Disable analyzer errors (#1253)
  packages/google_maps_flutter/example/lib/scrolling_map.dart
Owners: none

Don't register the Maps and Camera plugin for background FlutterViews. (#1255)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/pubspec.yaml
Owners: @bparrishMines, @mklim, @amirh

Reduce Android compiler warnings, prevent NPE (#963)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

Skip Gradle's static permission check for the Maps MyLocation feature. (#1256)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh

Suppress unchecked cast warning for the PlatformViewFactory creation parameters. (#1257)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
Owners: @amirh

[cloud_firestore,firebase_database,firebase_storage] handling error = nil on getFlutterError (#1274)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

adding nil check for some static methods to avoud unwated behaviors (#1279)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Java API for querying purchases (#1259)
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
Owners: none
