Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

[in_app_purchase] Readme updates (#1798)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[image_picker] use objc class instead of struct for GIFInfo on iOS (#1817)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/ImageUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[firebase_messaging] add integration tests (#1816)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/example/test_driver/firebase_messaging.dart
  packages/firebase_messaging/example/test_driver/firebase_messaging_test.dart
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Change signature of subscribe/unsubscribe (#1818)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/test_driver/firebase_messaging.dart
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

[image_picker] android: use getFileExtensionFromUrl to get extension instead of cursor(#1804)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[in_app_purchase] Fixed code example error & README links (#1751)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[image_picker] Update README example (#1823)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[Connectivity] Android: Updated check network info logic (#1761)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Owners: @cyanglaz

[image_picker] android: return error in the event that permissions are not granted (#1744)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[google_sign_in] Added NonNull annotations, reduce Guava usage (#844)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/pubspec.yaml
Owners: @cyanglaz, @mehmetf

[in_app_purchase] iOS: Support unsupported UserInfo value types in NSError. (#1819)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
Owners: @mklim, @cyanglaz

[in_app_purchase]fix version (#1827)
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[url_launcher]: add option to enable DOM storage in android webview (#1782)
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Owners: none

Revert "[google_sign_in] Added NonNull annotations, reduce Guava usage (#844) (#1828)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/pubspec.yaml
Owners: @cyanglaz, @mehmetf

[quick_actions]make QuickActions testable (#1067)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
Owners: none

[all_plugins] Compile all plugins together (#1776)
  .gitignore
  examples/all_plugins/android/app/build.gradle
  examples/all_plugins/android/app/src/main/AndroidManifest.xml
  examples/all_plugins/android/gradle.properties
  examples/all_plugins/ios/Runner/Info.plist
  examples/all_plugins/pubspec.yaml
  script/build_all_plugins_app.sh
Owners: none

[in_app_purchase] add missing `hashCode` implementation (#1833)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[firebase_storage] Fix Content-Type auto-detection for Android (#1834)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Handle case where function isn't in class for stack (#1831)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Owners: @kroikie, @collinjackson

Allow FDL plugin to be registered without an activity (#1835)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

Fix typo in signin page. (#1805)
  packages/firebase_auth/example/lib/signin_page.dart
Owners: none

[camera] Dart Interface for camera refactor (#1832)
  packages/camera/README.md
  packages/camera/lib/new/camera.dart
  packages/camera/lib/new/src/camera_controller.dart
  packages/camera/lib/new/src/camera_testing.dart
  packages/camera/lib/new/src/common/camera_channel.dart
  packages/camera/lib/new/src/common/camera_interface.dart
  packages/camera/lib/new/src/common/camera_mixins.dart
  packages/camera/lib/new/src/common/native_texture.dart
  packages/camera/pubspec.yaml
  packages/camera/test/camera_test.dart
Owners: @bparrishMines, @mklim

[google_maps_flutter] Add map toolbar support (#1808)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Owners: @amirh, @iskakaushik

add support for specifying startAt time for AlarmManager.periodic() (#1119)
  packages/android_alarm_manager/lib/android_alarm_manager.dart
Owners: none

[firebase_auth] Register for iOS notifications to support phone auth (#1826)
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
Owners: none

Bump pubspec.yaml and update CHANGELOG for release (#1839)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[ci] Switch to macOS VM with Flutter pre-installed (#1313)
  .cirrus.yml
Owners: none

[video_player] fixed markdown which causes pub.dev not show actu… (#1806)
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
Owners: @iskakaushik, @cyanglaz

[local_auth] Fix usage syntax on README (#1840)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Owners: none

[webview_flutter] Basic fix for input pre N (#1845)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/ThreadedInputConnectionProxyAdapterView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

flutter.io => flutter.dev
  packages/url_launcher/README.md
Owners: none

[firebase_analytics] add missing named events tracking (#1850)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Owners: @collinjackson, @kroikie

[quick_actions] Implementing sharedpreferences approach for killed apps (#1800)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/src/main/AndroidManifest.xml
  packages/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/ios/Classes/QuickActionsPlugin.m
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
Owners: none

Add in_app_purchase to /readme (#1634)
  README.md
Owners: none

[firebase_auth] [google_sign_in] Update consent screen docs (#1846)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/pubspec.yaml
Owners: @collinjackson, @kroikie, @cyanglaz, @mehmetf

[firebase_remote_config] fix config value source parsing (#1830)
  AUTHORS
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/example/test_driver/firebase_remote_config.dart
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/lib/src/remote_config_value.dart
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_remote_config/test/firebase_remote_config_test.dart
Owners: @collinjackson, @kroikie

[image_picker] Fix image_picker Hanging After Attempting to Open Unavailable Camera on iOS Simulator (#1844)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[quick_actions] Update README.md (#1714)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/README.md
  packages/quick_actions/pubspec.yaml
Owners: none

Remove hard coded version check (#1735)
  .cirrus.yml
  script/check_hard_coded_version.sh
Owners: none

[webview_flutter] Support Flutter `TextInput`s (#1852)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh @iskakaushik
