Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @mklim, @matthew-carroll, @amirh, @bparrishMines, @cyanglaz, @collinjackson, @digiter, @adazh, @mehmetf, @gaaclarke, @iskakaushik

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/*              @bkonyi
packages/android_intent/*                     @mklim @matthew-carroll
packages/battery/*                            @amirh @matthew-carroll
packages/camera/*                             @bparrishMines
packages/connectivity/*                       @cyanglaz @matthew-carroll
packages/device_info/*                        @matthew-carroll
packages/e2e/*                                @collinjackson @digiter
packages/espresso/*                           @collinjackson @adazh
packages/google_maps_flutter/*                @cyanglaz
packages/google_sign_in/*                     @cyanglaz @mehmetf
packages/image_picker/*                       @cyanglaz
packages/in_app_purchase/*                    @mklim @cyanglaz
packages/ios_platform_images/*                @gaaclarke
packages/package_info/*                       @cyanglaz @matthew-carroll
packages/path_provider/*                      @matthew-carroll
packages/shared_preferences/*                 @matthew-carroll
packages/url_launcher/*                       @mklim
packages/video_player/*                       @iskakaushik @cyanglaz
packages/webview_flutter/*                    @amirh

[flutter-plugin-android-lifecycle] Update Gradle version (#2551)
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Owners: none

[e2e] fix flutter driver code snippet in readme and improve formatting of code snippets (#2549)
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter

[path_provider] Create platform interface (#2553)
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/LICENSE
  packages/path_provider/path_provider_platform_interface/README.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/lib/src/enums.dart
  packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
Owners: none

Exclude path_provider packages (#2558)
  script/build_all_plugins_app.sh
Owners: none

[connectivity_platform_interface] Add `ConnectivityResult.unknown`. (#2560)
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/src/enums.dart
  packages/connectivity/connectivity_platform_interface/lib/src/utils.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Owners: none

Revert "[connectivity_platform_interface] Add `ConnectivityResult.unknown`." (#2561)
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/src/enums.dart
  packages/connectivity/connectivity_platform_interface/lib/src/utils.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Owners: none

[url_launcher] fix: url_launcher - updated _launchUniversalLinkIos and Added Tests (#2552)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/test/url_launcher_example_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/lib/main.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Owners: none

[share] plugin: Update gradle version of example for Android (#2555)
  packages/share/CHANGELOG.md
  packages/share/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/share/pubspec.yaml
Owners: none

[path_provider_platform_interface] Rename back to StorageDirectory (#2564)
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/lib/src/enums.dart
  packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
Owners: none

[web] adding a test for e2e web testing. (#2554)
  .cirrus.yml
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/example/lib/main.dart
  packages/e2e/example/lib/my_app.dart
  packages/e2e/example/lib/my_web_app.dart
  packages/e2e/example/test_driver/example_e2e.dart
  packages/e2e/example/test_driver/example_e2e_io.dart
  packages/e2e/example/test_driver/example_e2e_web.dart
  packages/e2e/example/test_driver/failure.dart
  packages/e2e/example/web/favicon.png
  packages/e2e/example/web/icons/Icon-192.png
  packages/e2e/example/web/icons/Icon-512.png
  packages/e2e/example/web/index.html
  packages/e2e/example/web/manifest.json
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter

Connectivity deprecation fix
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/connectivity/lib/connectivity.dart
Owners: none

Revert "Connectivity deprecation fix"
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/connectivity/lib/connectivity.dart
Owners: none

[path_provider] Use platform interface (#2557)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
Owners: none

[path_provider] Endorse macOS implementation (#2566)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/macos/path_provider.podspec
  packages/path_provider/path_provider/pubspec.yaml
Owners: none

Remove plugin class (#2569)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Owners: none

[device_info] add PackageManager's SystemFeatures to AndroidDeviceInfo (#2567)
  packages/device_info/CHANGELOG.md
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/DeviceInfoPlugin.java
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/MethodCallHandlerImpl.java
  packages/device_info/example/lib/main.dart
  packages/device_info/lib/device_info.dart
  packages/device_info/pubspec.yaml
Owners: @matthew-carroll

[webview_flkutter] remove ios workspace setting
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/webview_flutter/pubspec.yaml
Owners: @amirh

[android_intent] Make action optional, as Intents can also resolve with just the component name (#2575)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
Owners: @mklim, @matthew-carroll

Remove Swift dependency (#2580)
  packages/espresso/CHANGELOG.md
  packages/espresso/ios/Classes/SwiftEspressoPlugin.swift
  packages/espresso/ios/espresso.podspec
  packages/espresso/pubspec.yaml
Owners: @collinjackson, @adazh

Make FlutterRunner launch deterministic when running other tests. (#2584)
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/android/src/main/java/dev/flutter/plugins/e2e/FlutterTestRunner.java
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/EmbedderV1ActivityTest.java
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/MainActivityTest.java
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter

[android_alarm_manager] Added Espresso test for background execution (#2482)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/BackgroundExecutionTest.java
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/DriverExtensionActivity.java
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/MainActivityTest.java
  packages/android_alarm_manager/example/android/app/src/debug/AndroidManifest.xml
  packages/android_alarm_manager/example/android/app/src/main/java/io/flutter/plugins/androidalarmmanagerexample/MainActivity.java
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/example/test_driver/android_alarm_manager_e2e.dart
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

Remove unused variable (#2352)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

[android_intent] Bump to Flutter stable, remove deprecation warnings (#2586)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/example/android/app/src/main/AndroidManifest.xml
  packages/android_intent/example/android/app/src/main/java/io/flutter/plugins/androidintentexample/EmbeddingV1Activity.java
  packages/android_intent/example/android/app/src/main/java/io/flutter/plugins/androidintentexample/MainActivity.java
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
Owners: @mklim, @matthew-carroll

[in_app_purchase] Android: fix potential crash when casting in v1 embedding. (#2585)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[connectivity] remove ios workspace setting for example app. (#2592)
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/connectivity/connectivity_macos/pubspec.yaml
Owners: none

[device_info] Update Android embedding to match latest Flutter stable release (#2590)
  packages/device_info/CHANGELOG.md
  packages/device_info/android/build.gradle
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/DeviceInfoPlugin.java
  packages/device_info/example/android/app/src/main/AndroidManifest.xml
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/EmbeddingV1Activity.java
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/MainActivity.java
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/MainActivityTest.java
  packages/device_info/example/android/build.gradle
  packages/device_info/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/device_info/example/pubspec.yaml
  packages/device_info/pubspec.yaml
Owners: @matthew-carroll

[shared_preferences] Fix deprecated API call (#2536)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences/pubspec.yaml
Owners: none

[google_sign_in] Add new Oauth scope methods to google_sign_in_platform_interface. (#2547)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Owners: none

[battery] Announce API stability and compatibility with 1.0.0 (#2597)
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
Owners: @amirh, @matthew-carroll

[google_sign_in_web] Remove fakeConstructor$ from generated API. (#2602)
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Owners: none

[package_info, sensors] Announce API stability and compatibility with 1.0.0 (#2604)
  packages/package_info/CHANGELOG.md
  packages/package_info/README.md
  packages/package_info/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
Owners: @cyanglaz, @matthew-carroll

[package_info] Upgrade to 1.12 Flutter and cleanup. (#2603)
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/packageinfoexample/MainActivityTest.java
  packages/package_info/example/android/app/src/main/AndroidManifest.xml
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/EmbedderV1Activity.java
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/MainActivity.java
  packages/package_info/pubspec.yaml
Owners: @cyanglaz, @matthew-carroll

[quick_actions] Upgrade to 1.12 Flutter and cleanup. (#2605)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/build.gradle
  packages/quick_actions/example/android/app/src/main/AndroidManifest.xml
  packages/quick_actions/example/android/app/src/main/java/io/flutter/plugins/quickactionsexample/EmbeddingV1Activity.java
  packages/quick_actions/example/android/app/src/main/java/io/flutter/plugins/quickactionsexample/MainActivity.java
  packages/quick_actions/example/android/app/src/main/java/io/flutter/plugins/quickactionsexample/MainActivityTest.java
  packages/quick_actions/pubspec.yaml
Owners: none

[google_sign_in] update to androidx (#2611)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/gradle.properties
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/pubspec.yaml
Owners: none

[google_maps_flutter] Fix for bitmap scaling (#1821)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: none

[connectivity, battery, android_alarm_manager] v2 support (#2613)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/example/android/app/src/main/AndroidManifest.xml
  packages/android_alarm_manager/example/android/app/src/main/java/io/flutter/plugins/androidalarmmanagerexample/Application.java
  packages/android_alarm_manager/example/android/app/src/main/java/io/flutter/plugins/androidalarmmanagerexample/EmbeddingV1Activity.java
  packages/android_alarm_manager/example/android/app/src/main/java/io/flutter/plugins/androidalarmmanagerexample/MainActivity.java
  packages/android_alarm_manager/pubspec.yaml
  packages/battery/CHANGELOG.md
  packages/battery/pubspec.yaml
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/build.gradle
  packages/connectivity/connectivity/example/android/app/src/main/AndroidManifest.xml
  packages/connectivity/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/EmbeddingV1Activity.java
  packages/connectivity/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/FlutterActivityTest.java
  packages/connectivity/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/MainActivity.java
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/example/android/app/src/main/AndroidManifest.xml
  packages/connectivity/connectivity_macos/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/EmbeddingV1Activity.java
  packages/connectivity/connectivity_macos/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/FlutterActivityTest.java
  packages/connectivity/connectivity_macos/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/MainActivity.java
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Owners: @bkonyi, @amirh, @matthew-carroll

[google_maps_flutter] Take snapshot of map (#2607)
  AUTHORS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
Owners: none

[google_map_flutter] fix google map version in pubspec. (#2619)
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: none

[android_alarm_manager] remove MainActivity references (#2622)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/DriverExtensionActivity.java
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/MainActivityTest.java
  packages/android_alarm_manager/pubspec.yaml
Owners: @bkonyi

[e2e] Adding failure details for driver tests (#2593)
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/example/test_driver/example_e2e_test.dart
  packages/e2e/example/test_driver/failure_test.dart
  packages/e2e/lib/common.dart
  packages/e2e/lib/e2e.dart
  packages/e2e/lib/e2e_driver.dart
  packages/e2e/pubspec.yaml
Owners: @collinjackson, @digiter
