Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bparrishMines, @ditman, @mvanbeusekom, @cyanglaz, @dnfield, @LHLL, @gaaclarke

[battery] Bump version for NNBD stable (#3594)
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/example/pubspec.yaml
  packages/battery/battery/pubspec.yaml
  packages/battery/battery/test/battery_test.dart
Owners: none

[path_provider] Update to stable NNBD (#3582)
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
Owners: none

[connectivity_macos] fix version (#3599)
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/pubspec.yaml
Owners: none

[google_maps_flutter] Bump platform interface version for NNBD stable (#3598)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Owners: @cyanglaz

[device_info_platform_interface] null safety stable release (#3597)
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/pubspec.yaml
Owners: none

[share] Bump version for NNBD stable (#3600)
  packages/share/CHANGELOG.md
  packages/share/example/lib/image_previews.dart
  packages/share/example/lib/main.dart
  packages/share/example/pubspec.yaml
  packages/share/example/test_driver/test/integration_test.dart
  packages/share/pubspec.yaml
Owners: none

[android_intent] Bump version for NNBD stable (#3601)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/example/integration_test/android_intent_test.dart
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/example/test_driver/integration_test.dart
  packages/android_intent/pubspec.yaml
Owners: none

[shared_preferences] Bump app-facing version for NNBD stable (#3602)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
Owners: none

[connectivity_macos] fix flutter version constraint (#3604)
  packages/connectivity/connectivity_macos/pubspec.yaml
Owners: none

[url_launcher] Bump app-facing version for NNBD stable (#3603)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
Owners: none

[android_intent] Fix Flutter SDK version (#3607)
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/pubspec.yaml
Owners: none

[file_selector_platform_interface] null safety stable release (#3605)
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
Owners: @ditman

[connectivity] null safety stable release (#3596)
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
Owners: none

[video_player_platform_interface] Bump version for NNBD stable (#3578)
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/test.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Owners: none

[android_alarm_manager] Bump version for NNBD stable (#3608)
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Owners: none

[local_auth] Bump version for NNBD stable (#3615)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/pubspec.yaml
Owners: none

quick action stable (#3618)
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/example/pubspec.yaml
  packages/quick_actions/example/test_driver/integration_test.dart
  packages/quick_actions/pubspec.yaml
Owners: none

[ios_platform_images] Bump version for stable NNBD (#3616)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/ios_platform_images/example/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
Owners: @gaaclarke

[espresso] Update SDK requirement for null-safety (#3614)
  packages/espresso/CHANGELOG.md
  packages/espresso/example/lib/main.dart
  packages/espresso/example/pubspec.yaml
  packages/espresso/pubspec.yaml
  script/nnbd_plugins.sh
Owners: none

[google_maps_flutter] fixed a small bug in example app. (#3590)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[google_sign_in_web] Ignore analyzer checks in generated files. (#3622)
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
Owners: none

[google_sign_in] Bump platform interface version for NNBD stable (#3617)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Owners: none

[shared_preferences] Removed deprecated AsyncTask API (#3481)
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/pubspec.yaml
Owners: none

[webview_flutter] release null safety to stable(#3619)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/pubspec.yaml
Owners: none

[wifi_info_flutter_platform_interface] null safety stable release (#3620)
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
Owners: none

[camera] Fix example from README.md (#3592)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Owners: @bparrishMines

[device_info_platform_interface] handle null value from method channel (#3609)
  packages/device_info/device_info_platform_interface/lib/device_info_platform_interface.dart
  packages/device_info/device_info_platform_interface/lib/method_channel/method_channel_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/android_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/ios_device_info.dart
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
Owners: none

[google_maps_flutter] Bump app-facing version for NNBD stable (#3623)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @cyanglaz

[video_player_web] Bump version for NNBD stable (#3574)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Owners: none

[video_player] Bump app-facing version for NNBD stable (#3624)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
Owners: none

[url_launcher] Update result to `True` when the url was loaded successfully. (#3475)
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher/pubspec.yaml
Owners: none

[quick_action] fix delegate methods not called on iOS (#3621)
  .cirrus.yml
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerUITests.xcscheme
  packages/quick_actions/example/ios/RunnerUITests/Info.plist
  packages/quick_actions/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/ios/Classes/FLTQuickActionsPlugin.m
Owners: none

[file_selector_web] Migrated to null-safety (#3550)
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/README.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/example/lib/main.dart
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/example/run_test.sh
  packages/file_selector/file_selector_web/example/test_driver/integration_test.dart
  packages/file_selector/file_selector_web/example/web/index.html
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/more_tests_exist_elsewhere_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
Owners: @ditman

[device_info] null safety stable (#3626)
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info/pubspec.yaml
Owners: none

[file_selector] Return a non-null value from getSavePath on web (#3630)
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/pubspec.yaml
Owners: @ditman

[cross_file] Fix base class nullability (#3629)
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/pubspec.yaml
Owners: @ditman, @mvanbeusekom

[in_app_purchase] Add support for InApp subscription upgrade/downgrade (#2822)
  AUTHORS
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/example/README.md
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
Owners: @cyanglaz, @LHLL

[wifi_info_flutter] null safety stable (#3627)
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/example/lib/main.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/test/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Owners: none

[camera_platform_interface] Stable null safety release. (#3610)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/pubspec.yaml
Owners: @bparrishMines

[file_selector] Migrate to null safety (#3631)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
Owners: @ditman

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.


packages/camera/**                             @bparrishMines
packages/cross_file/**                         @ditman @mvanbeusekom
packages/file_selector/**                      @ditman
packages/google_maps_flutter/**                @cyanglaz
packages/image_picker/**                       @cyanglaz
packages/integration_test/**                   @dnfield
packages/in_app_purchase/**                    @cyanglaz @LHLL
packages/ios_platform_images/**                @gaaclarke
