Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

[firebase_auth] Removed automatic signing in behaviour when signing in with phone auth. (#1568)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

Adds support for circle overlays to the Google Maps plugin (#1550)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/circle_updates.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/test/fake_maps_controllers.dart
Owners: @amirh, @iskakaushik

Updates to dynamic links plugin to remove deprecated API usage and update Android dependencies. (#1571)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/lib/src/dynamic_link_parameters.dart
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_test.dart
Owners: @bparrishMines

Update firebase_core Android dependency (#1576)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

Remove flaky timeout test (#1573)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/test/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] more graceful handling of failed startup (#1579)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[cloud_firestore] Update CocoaPod versions dependency (#1580)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_auth] Update to latest CocoaPod (#1578)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix break in firebase_analytics CocoaPod (#1581)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_analytics/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Add consumable demo (#1577)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/consumable_store.dart
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

Migrated linkWithCredential function to FirebaseUser object instead of FirebaseAuth (#1584)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Owners: @collinjackson, @kroikie

[path_provider] add getApplicationSupportDirectory (#1566)
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/ios/Classes/PathProviderPlugin.m
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
Owners: @collinjackson

Return image picker method call results on the platform thread (#1585)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[firebase_remote_config)Remove unused property "channel" (#1078)
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[Firebase messaging] iOS direct data messages (#1318)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Fix issue with empty purchase updates (#1589)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

[in_app_purchase] Guard against dupe onBillingSetupFinished calls (#1588)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[in_app_purchase] Propagate launchBillingFlow failures (#1590)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Owners: @mklim, @cyanglaz

[video_player] Prevent Div/0 during network playback initialization. (#1554)
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Owners: @iskakaushik, @cyanglaz

[firebase_core] set user agent (#1582)
  .cirrus.yml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/AndroidManifest.xml
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  script/check_hard_coded_version.sh
Owners: @collinjackson, @kroikie

Adjust user agent name (#1601)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

remove iOS dependency on Firebase/Database and Firebase/Auth (#1593)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_performance] Refactor and API update of firebase_performance (#1557)
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterFirebasePerformance.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterHttpMetric.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterTrace.java
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/ios/Classes/FLTFirebasePerformance.m
  packages/firebase_performance/ios/Classes/FLTHttpMetric.m
  packages/firebase_performance/ios/Classes/FLTTrace.m
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin+Internal.h
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.h
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/lib/firebase_performance.dart
  packages/firebase_performance/lib/src/firebase_performance.dart
  packages/firebase_performance/lib/src/http_metric.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/lib/src/trace.dart
  packages/firebase_performance/test/firebase_performance_test.dart
Owners: none

[android_intent] Add the component name to the intent. (#1592)
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
Owners: none

[firebase_auth] Add updatePhoneNumber function (#1158)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Owners: @collinjackson, @kroikie

Fix to check_hard_coded_version script (#1603)
  script/check_hard_coded_version.sh
Owners: none

[webview_flutter] Fix wrong main thread checking condition. (#1602)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

Update iOS dependencies to latest to match Android (#1607)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/cloud_functions.podspec
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

[webview_flutter] add debuggingEnabled property (#1401)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @amirh, @iskakaushik

[camera] Enable camera plugin to compile with earlier android apis with custom AndroidManifest settings (#1598)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

[camera] Add the ability to disable audio for video recording and image streaming (#837)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/example/lib/main.dart
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

[camera] Fix bug preventing video recording (#1610)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Owners: @bparrishMines, @mklim

[video_player] avoid deprecated seekToTime API (#1612)
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Owners: @iskakaushik, @cyanglaz

[shared_preferences] Asynchronous commit() callback (#1600)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/pubspec.yaml
Owners: @collinjackson

Image picker meta data corrections (#1586)
  AUTHORS
  packages/firebase_messaging/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/image_picker/example/ios/Runner/Assets.xcassets/Contents.json
  packages/image_picker/example/ios/TestImages/jpgImage.jpg
  packages/image_picker/example/ios/TestImages/pngImage.png
  packages/image_picker/example/ios/image_picker_exampleTests/Info.plist
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[google_maps_flutter] Adds long press / long click support to GoogleMap (#1575)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

Add missing import for UIKit (#1622)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.h
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

Allow changing the webview's platform specific implementation (#1618)
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

[image_picker] ios: copy all meta data from the original image. (#1617)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[image_picker] Rename iOS class according to the official Objective-C naming convention. (#1625)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh @iskakaushik
