Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim
packages/package_info/* @cyanglaz
packages/webview_flutter/* @amirh

[connectivity]Added integration test. (#1455)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/example/pubspec.yaml
  packages/connectivity/example/test_driver/connectivity.dart
  packages/connectivity/example/test_driver/connectivity_test.dart
  packages/connectivity/pubspec.yaml
Owners: @cyanglaz

Remove BoM to avoid Gradle issues (#1462)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/settings.gradle
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/settings.gradle
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix firebase_core build incompatibility errors (#1464)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Owners: none

[firebase_auth] AuthCredential for email and link (#1458)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Owners: @collinjackson, @kroikie

[firebase_auth] fix error code in doc of createUserWithEmailAndPassword() (#1343)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[share] Changed compileSdkVersion of share plugin to 28 (#1237)
  AUTHORS
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/pubspec.yaml
Owners: none

[in_app_purchase] Add references to the original object for PurchaseDetails and ProductDetails (#1448)
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/product_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Owners: none

[google_maps_flutter] Add method getVisibleRegion (#1352)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

remove white spaces (#1466)
  packages/cloud_firestore/CHANGELOG.md
Owners: @collinjackson, @kroikie

remove blank line (#1467)
  packages/cloud_firestore/example/android/settings.gradle
Owners: none

[in_app_purchase]make payment unified APIs (#1421)
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Owners: none

Migrate firebase messaging plugin away from token (#1468)
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
Owners: none

[shared_preferences] Add containsKey method (#1373)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Owners: none

[Google_map]Enable iOS a11y by default. (#1472)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[firebase_messaging] Update example (#1353)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[image_picker] Fix invalid path being returned from Google Photos (#1471)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

Integration tests for cloud_firestore and firebase_database transactions (#1465)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/example/test_driver/firebase_database.dart
  packages/firebase_database/example/test_driver/firebase_database_test.dart
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

[package_info] Integration tests. (#1473)
  packages/package_info/CHANGELOG.md
  packages/package_info/example/pubspec.yaml
  packages/package_info/example/test_driver/package_info.dart
  packages/package_info/example/test_driver/package_info_test.dart
  packages/package_info/pubspec.yaml
Owners: @cyanglaz

[firebase_database]Return error message from DatabaseError#toString() (#1096)
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/lib/src/event.dart
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
Owners: @collinjackson, @kroikie

[in_app_purchase]remove SKDownloadWrapper and related code. (#1474)
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Owners: none

[google_maps_flutter] Widget based polyline support for google maps. (#1049)
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.m
  packages/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/cap.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/joint_type.dart
  packages/google_maps_flutter/lib/src/pattern_item.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/polyline_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/polyline_updates_test.dart
Owners: @amirh, @iskakaushik

[google_maps_flutter] Add a bitmap descriptor that is aware of scale (#1478)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/example/assets/2.0x/red_square.png
  packages/google_maps_flutter/example/assets/3.0x/red_square.png
  packages/google_maps_flutter/example/assets/red_square.png
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[Image_picker] ios minimum deployment target to 8.0. (#1483)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/image_picker.podspec
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

Fix unused vars and rename (#1485)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[firebase_performance] Firebase Performance integration tests (#1486)
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/example/test_driver/firebase_performance_test.dart
  packages/firebase_performance/pubspec.yaml
Owners: @bparrishMines

version fix (#1488)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[video_player] Explicitly indicate that self should be retained (#1484)
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Owners: none

Adding links to the firebase_analytics example (#1479)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/README.md
  packages/firebase_analytics/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Additional step for iOS (#1405)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

BitmapDescriptor#fromBytes should be consistent across platforms (#1489)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[firebase_analytics] Fixes errors in firebase_analytics docs (#1490)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_analytics/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Do not break debug log formatting. (#1427)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: none

[video_player] Android: Added missing event.put("event", "completed"); (#1470)
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Owners: none

[connectivity] Enable fetching current Wi-Fi network's BSSID (#1331)
  AUTHORS
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/example/lib/main.dart
  packages/connectivity/example/test_driver/connectivity.dart
  packages/connectivity/ios/Classes/ConnectivityPlugin.m
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
Owners: @cyanglaz

[firebase_auth] Migrate FlutterAuthPlugin from deprecated APIs (#1487)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_admob] Update documentation to add iOS Admob ID & add iOS Admob ID in example project (#1377)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/example/ios/Runner/Info.plist
  packages/firebase_admob/pubspec.yaml
Owners: @amirh

Update firebase_auth CocoaPod dependency (#1503)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie
