Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @gaaclarke, @bparrishMines, @ditman, @camsim99, @GaryQian, @blasten, @hellohuanlin, @cyanglaz, @jmagman

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

# Plugin-level rules.
packages/path_provider/**                                @gaaclarke
packages/shared_preferences/**                           @gaaclarke
packages/video_player/**                                 @gaaclarke
packages/webview_flutter/**                              @bparrishMines

# Sub-package-level rules. These should stay last, since the last matching
# entry takes precedence.

# - Web
packages/**/*_web/**                                     @ditman

# - Android
packages/camera/camera/android/**                        @camsim99
packages/google_maps_flutter/google_maps_flutter/android/**  @GaryQian
packages/google_sign_in/google_sign_in_android/**        @camsim99
packages/image_picker/image_picker_android/**            @GaryQian
packages/in_app_purchase/in_app_purchase_android/**      @blasten
packages/local_auth/local_auth_android/**                @blasten
packages/path_provider/path_provider_android/**          @camsim99
packages/quick_actions/quick_actions_android/**          @camsim99
packages/url_launcher/url_launcher_android/**            @GaryQian
packages/video_player/video_player_android/**            @blasten

# - iOS
packages/camera/camera/ios/**                            @hellohuanlin
packages/google_maps_flutter/google_maps_flutter/ios/**  @cyanglaz
packages/google_sign_in/google_sign_in_ios/**            @jmagman
packages/image_picker/image_picker_ios/**                @cyanglaz
packages/in_app_purchase/in_app_purchase_storekit/**     @cyanglaz
packages/ios_platform_images/ios/**                      @jmagman
packages/local_auth/local_auth_ios/**                    @hellohuanlin
packages/path_provider/path_provider_ios/**              @jmagman
packages/quick_actions/quick_actions_ios/**              @hellohuanlin
packages/shared_preferences/shared_preferences_ios/**    @cyanglaz
packages/url_launcher/url_launcher_ios/**                @jmagman
packages/video_player/video_player_avfoundation/**       @hellohuanlin
packages/webview_flutter/webview_flutter_wkwebview/**    @cyanglaz

[image_picker] Migrate iOS to Pigeon and improve state handling (#5285)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/copyright.txt
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.dart
Owners: @cyanglaz

[local_auth] Fix deviceSupportsBiometrics returning false on iOS when present biometric hardware is not enrolled. (#5329)
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Owners: @hellohuanlin

Pin dockerfile version (#5377)
  .ci/Dockerfile
Owners: none

[flutter_plugin_tool] Allow re-pathifying dependencies (#5376)
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Owners: none

[url_launcher] Add canLaunch fallback for web on Android (#5399)
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Owners: @GaryQian

[path_provider] Fix Unchecked/Unsafe Operation Warning (#5267)
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/pubspec.yaml
Owners: @camsim99

[google_sign_in] Switch to internal method channels (#5396)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Owners: @camsim99, @jmagman

[google_maps_flutter] update maps sdk for Android (#4984)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @GaryQian

ci: remove uwp test (#5427)
  .ci.yaml
Owners: none

[flutter_plugin_tools] Adds update-excerpts command (#5339)
  .cirrus.yml
  .gitmodules
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/build.excerpt.yaml
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
Owners: none

[flutter_plugin_tools] Remove UWP (#5432)
  .ci/scripts/build_examples_uwp.sh
  .ci/targets/uwp_build_and_platform_tests.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/util.dart
Owners: none

[ci.yaml] Remove explicit caches (#5434)
  .ci.yaml
Owners: none

[webview_flutter_android] Updates `pigeon` version to support null safety (#5395)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/generatePigeons.sh
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Owners: @bparrishMines

[video_player] Fix XCUITest based on the new tooltip accessibility label (#5426)
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Owners: @hellohuanlin

Roll Flutter from 1b58a593deac to 4cea9afc1224 (147 revisions) (#5437)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 4cea9afc1224 to 5b713147404d (4 revisions) (#5441)
  .ci/flutter_master.version
Owners: none

[flutter_plugin_tools] Validate code blocks in readme-check (#5436)
  .cirrus.yml
  packages/camera/camera/README.md
  packages/espresso/README.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector_macos/README.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/url_launcher/url_launcher/README.md
  script/configs/temp_exclude_excerpt.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/readme_check_command_test.dart
Owners: @ditman

Roll Flutter from 5b713147404d to 7a74222832f8 (1 revision) (#5442)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 7a74222832f8 to 2eed8cbf9370 (1 revision) (#5443)
  .ci/flutter_master.version
Owners: none

[ci] Don't run Cirrus tests on `master` (#5444)
  .cirrus.yml
Owners: none

Roll Flutter from 2eed8cbf9370 to ad1d30017e69 (1 revision) (#5445)
  .ci/flutter_master.version
Owners: none

[webview_flutter] fix warning (#5131)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Owners: @cyanglaz

Roll Flutter from ad1d30017e69 to 3fe2cbabc421 (2 revisions) (#5446)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 3fe2cbabc421 to 0b3c5d1228f1 (7 revisions) (#5449)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 0b3c5d1228f1 to fa519eb22fe3 (15 revisions) (#5451)
  .ci/flutter_master.version
Owners: none

Roll Flutter from fa519eb22fe3 to 84e099d5f467 (1 revision) (#5452)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 84e099d5f467 to b0d5d8ab2930 (1 revision) (#5454)
  .ci/flutter_master.version
Owners: none

Roll Flutter from b0d5d8ab2930 to 2a24ee494db4 (2 revisions) (#5456)
  .ci/flutter_master.version
Owners: none

[webview_flutter_wkwebview] Implementation of Objective-C WKWebView Host Apis (#5341)
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Owners: @cyanglaz

Roll Flutter from 2a24ee494db4 to 7b8d50020338 (1 revision) (#5457)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 7b8d50020338 to 6755ba59f436 (1 revision) (#5458)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 6755ba59f436 to 43555d05040c (1 revision) (#5459)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 43555d05040c to 0f1eb8bad788 (2 revisions) (#5461)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 0f1eb8bad788 to e3d39f62a26b (1 revision) (#5462)
  .ci/flutter_master.version
Owners: none

Roll Flutter from e3d39f62a26b to e66662f1cb75 (1 revision) (#5463)
  .ci/flutter_master.version
Owners: none

Roll Flutter from e66662f1cb75 to a35af5b4659a (1 revision) (#5464)
  .ci/flutter_master.version
Owners: none

Roll Flutter from a35af5b4659a to d600a3b48801 (1 revision) (#5465)
  .ci/flutter_master.version
Owners: none

Roll Flutter from d600a3b48801 to f7df22590adf (1 revision) (#5466)
  .ci/flutter_master.version
Owners: none

Roll Flutter from f7df22590adf to ea080e58ba42 (1 revision) (#5467)
  .ci/flutter_master.version
Owners: none

Roll Flutter from ea080e58ba42 to 36be63ba19f5 (5 revisions) (#5469)
  .ci/flutter_master.version
Owners: none
