Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh @iskakaushik

Change LocalAuth to use Biometric API (#1621)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/app/src/main/java/io/flutter/plugins/localauthexample/MainActivity.java
  packages/local_auth/pubspec.yaml
Owners: none

[image_picker] Add return statement into the image_picker example (#1583)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[cloud_firestore] Fixed parent() methods (#1633)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

* Replace d`call` with `getHttpsCallable` under (#1639)
  packages/cloud_functions/README.md
Owners: @collinjackson, @kroikie

[google_maps_flutter] Update and comment out the 'set marker icon' sample. (#1640)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[firebase_auth] Updated linking error code documentation (#1597)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[android_alarm_manager] Move method channel usage to the platform main thread (#1641)
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
Owners: none

[firebase_ml_vision] Update sample to use new ImageStreamListener API
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[video_player] Fixed example and add texts (#1605)
  packages/video_player/CHANGELOG.md
  packages/video_player/example/lib/main.dart
  packages/video_player/pubspec.yaml
Owners: @iskakaushik, @cyanglaz

suppress deprecation warning for BinaryMessages (#1643)
  packages/cloud_firestore/test/cloud_firestore_test.dart
  packages/connectivity/test/connectivity_test.dart
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @collinjackson, @kroikie, @amirh, @iskakaushik

[webview_flutter] platform_interface: Use Dart objects for creationParams and webSettings. (#1624)
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

[firebase_performance] Update integration tests & version bump (#1604)
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/example/test_driver/firebase_performance_test.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/pubspec.yaml
  packages/firebase_performance/test/firebase_performance_test.dart
Owners: @bparrishMines, @collinjackson

adding missing type params (#1648)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
Owners: @cyanglaz

[firebase_dynamic_links] support clicking on link while app is running and fix clearing data in dynamic link intent bug. (#1569)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

[firebase_admob]add missing type params for invokeMethod and bump min flutter version to 1.5.0 (#1651)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

[Device_info] Replace invokeMethod with invokeMapMethod and some refactoring around this change. (#1649)
  packages/device_info/CHANGELOG.md
  packages/device_info/lib/device_info.dart
  packages/device_info/pubspec.yaml
Owners: none

[cloud_firestore] Add user agent submission to Firestore plugin (#1644)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/android/src/main/AndroidManifest.xml
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[in_app_purchase] Updated error handling in `queryPastPurchases` and `queryProductDetails` (#1587)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Owners: @mklim, @cyanglaz

Updated Gradle tooling to match Android Studio 3.4 for shared_preferences (#1653)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/build.gradle
  packages/shared_preferences/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/example/android/build.gradle
  packages/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
Owners: @collinjackson

Fix merge issue (#1656)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
Owners: @collinjackson

[firebase_analytics]bump min flutter version to 1.5.0 and add type params to invokeMethod calls (#1652)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Owners: @collinjackson, @kroikie

[cloud_firestore]bump up flutter version to 1.5 and use invokeMapMethod instead of invokeMethod (#1650)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_auth] add type parameters for invokeMethod and bump min flutter version to 1.5.0 (#1655)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/lib/src/user_metadata.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

Adds support for polygon overlays to the Google Maps plugin (#1551)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polygon_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/polygon_updates_test.dart
Owners: @amirh, @iskakaushik

[cloud_firestore] Added source support (#1647)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/source.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

[path_provider] Cast NSInteger to long (#1654)
  packages/path_provider/CHANGELOG.md
  packages/path_provider/ios/Classes/PathProviderPlugin.m
  packages/path_provider/pubspec.yaml
Owners: @collinjackson

[cloud_functions] Update README and dart docs, remove unused parameters. (#1620)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/README.md
  packages/cloud_functions/lib/src/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_ml_vision] Fix crash when passing contact info from barcode (#1658)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/example/assets/test_contact_barcode.png
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[webview_flutter] Move the method channel behind the platform interface (#1645)
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: none

fix for the warning (#1662)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Owners: @mklim, @cyanglaz

Fix firebase_crashlytics analyze errors (#1665)
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Owners: none

Fix analyze issues (#1664)
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
Owners: none

[local_auth] Fixed crash on API<28 while invoking authenticateWithBiometrics (#1659)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/example/lib/main.dart
  packages/local_auth/lib/error_codes.dart
  packages/local_auth/pubspec.yaml
Owners: none

[firebase_core] replace invokeMethod with invokeMapMethod, add type parameters to invokeMethod calls, bump min Flutter version to 1.5.0 (#1657)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

[local_auth] The thread for executor needs to be UI thread. (#1672)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/pubspec.yaml
Owners: none

Use post instead of postDelayed (#1676)
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/pubspec.yaml
Owners: none

[firebase_auth] Fix iOS updatePhoneNumberCredential crash (#1666)
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_auth] Fix onMethodCall missing for updatePhoneNumberCredential (#1609)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

Move clearCookies behind the platform abstraction (#1663)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Owners: @amirh, @iskakaushik

[shared_preferences] Added reload method (#1198)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Owners: @collinjackson
