Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bparrishMines, @stuartmorgan, @gaaclarke, @ditman, @camsim99, @GaryQian, @hellohuanlin, @cyanglaz, @jmagman, @cbracken

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

# Plugin-level rules.
packages/camera/**                                       @bparrishMines
packages/file_selector/**                                @stuartmorgan
packages/google_maps_flutter/**                          @stuartmorgan
packages/google_sign_in/**                               @stuartmorgan
packages/image_picker/**                                 @stuartmorgan
packages/in_app_purchase/**                              @bparrishMines
packages/local_auth/**                                   @stuartmorgan
packages/path_provider/**                                @gaaclarke
packages/plugin_platform_interface/**                    @stuartmorgan
packages/quick_actions/**                                @stuartmorgan
packages/shared_preferences/**                           @gaaclarke
packages/url_launcher/**                                 @stuartmorgan
packages/video_player/**                                 @gaaclarke
packages/webview_flutter/**                              @bparrishMines

# Sub-package-level rules. These should stay last, since the last matching
# entry takes precedence.

# - Web
packages/**/*_web/**                                     @ditman

# - Android
packages/camera/camera_android/**                        @camsim99
packages/espresso/**                                     @GaryQian
packages/flutter_plugin_android_lifecycle/**             @GaryQian
packages/google_maps_flutter/google_maps_flutter/android/**  @GaryQian
packages/google_sign_in/google_sign_in_android/**        @camsim99
packages/image_picker/image_picker_android/**            @GaryQian
packages/in_app_purchase/in_app_purchase_android/**      @GaryQian
packages/local_auth/local_auth_android/**                @camsim99
packages/path_provider/path_provider_android/**          @camsim99
packages/quick_actions/quick_actions_android/**          @camsim99
packages/url_launcher/url_launcher_android/**            @GaryQian
packages/video_player/video_player_android/**            @camsim99

# - iOS
packages/camera/camera_avfoundation/**                   @hellohuanlin
packages/google_maps_flutter/google_maps_flutter/ios/**  @cyanglaz
packages/google_sign_in/google_sign_in_ios/**            @jmagman
packages/image_picker/image_picker_ios/**                @cyanglaz
packages/in_app_purchase/in_app_purchase_storekit/**     @cyanglaz
packages/ios_platform_images/ios/**                      @jmagman
packages/local_auth/local_auth_ios/**                    @hellohuanlin
packages/path_provider/path_provider_ios/**              @jmagman
packages/quick_actions/quick_actions_ios/**              @hellohuanlin
packages/shared_preferences/shared_preferences_ios/**    @cyanglaz
packages/url_launcher/url_launcher_ios/**                @jmagman
packages/video_player/video_player_avfoundation/**       @hellohuanlin
packages/webview_flutter/webview_flutter_wkwebview/**    @cyanglaz

# - Linux
packages/path_provider/path_provider_linux/**            @cbracken
packages/shared_preferences/shared_preferences_linux/**  @cbracken
packages/url_launcher/url_launcher_linux/**              @cbracken

# - macOS
packages/file_selector/file_selector_macos/**            @cbracken
packages/path_provider/path_provider_macos/**            @cbracken
packages/shared_preferences/shared_preferences_macos/**  @cbracken
packages/url_launcher/url_launcher_macos/**              @cbracken

# - Windows
packages/camera/camera_windows/**                        @cbracken
packages/file_selector/file_selector_windows/**          @cbracken
packages/image_picker/image_picker_windows/**            @cbracken
packages/local_auth/local_auth_windows/**                @cbracken
packages/path_provider/path_provider_windows/**          @cbracken
packages/shared_preferences/shared_preferences_windows/** @cbracken
packages/url_launcher/url_launcher_windows/**            @cbracken

[file_selector] Throw for unsupported type groups (#6120)
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Owners: @cbracken, @ditman

[webview_flutter_android] Adds support for use of old hybrid composition (#6063)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/surface_android_test.dart
Owners: @bparrishMines

[camera] Improve Windows README (#6118)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/README.md
  packages/camera/camera_windows/pubspec.yaml
Owners: @cbracken

[video_player_web] Improve handling of "Infinite" videos. (#6101)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/duration_utils_test.dart
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/duration_utils.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Owners: @ditman

[tool] Bypass version/changelog checks for some PRs (#6124)
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Owners: none

[file_selector] Enable ArgumentErrors for type groups (#6126)
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
Owners: @stuartmorgan

[tool] Handle dependabot commit messages (#6127)
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Owners: none

[webview_flutter_android] Add `Copyable` mixin and implement for all non-data and non-global classes (#6079)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Owners: @bparrishMines

[webview_flutter_android] Updates the Java InstanceManager to take a listener for when an object is garbage collected (#6082)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Owners: @bparrishMines

[video_player_web] Document video scrubbing and range requests. (#6128)
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Owners: @ditman

[google_maps_flutter] Add an interface for test inspection (#6133)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_inspector_platform_test.dart
Owners: @stuartmorgan

Roll Flutter from 4f9528293f54 to 096bbbe2fcbf (120 revisions) (#6134)
  .ci/flutter_master.version
Owners: none

[camera_windows] Allow retrying after initialization failure (#6119)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Owners: @cbracken

[google_maps_flutter] Use an interface for test inspection (#6116)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @stuartmorgan

Roll Flutter from 096bbbe2fcbf to fa42451a2596 (19 revisions) (#6136)
  .ci/flutter_master.version
Owners: none

Roll Flutter from fa42451a2596 to 6d8e365bc9da (3 revisions) (#6137)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 6d8e365bc9da to fa39206a2a34 (11 revisions) (#6144)
  .ci/flutter_master.version
Owners: none

[tool] Include `dev_dependencies` in `make-deps-path-based` (#6146)
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/pubspec.yaml
  script/tool/test/make_deps_path_based_command_test.dart
Owners: none

[image_picker] add requestFullMetadata for iOS (optional permissions) - platform interface changes for multi image picking (#5914)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/multi_image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Owners: @stuartmorgan

Roll Flutter from fa39206a2a34 to e3d08fb6d325 (23 revisions) (#6147)
  .ci/flutter_master.version
Owners: none

[local_auth] Remove FingerprintManager uses and fix deprecations (#6059)
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/pubspec.yaml
Owners: @camsim99

[webview_flutter_wkwebview] Implementation of WebKitWebViewController for WebKit (#6105)
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
Owners: @cyanglaz

[webview_flutter_wkwebview] Prevent crash from released deallocCallback (#6131)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Owners: @cyanglaz

Avoid map shift when scrolling on iOS (#6135)
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Owners: @stuartmorgan, @cyanglaz

[path_provider] Restore 2.8 compatibility on Android and iOS (#6039)
  .cirrus.yml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/remove_dev_dependencies.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/remove_dev_dependencies_test.dart
Owners: @camsim99, @jmagman

[tool] Switch PR description overrides over to labels (#6145)
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_command_test.dart
Owners: none

[file_selector] Convert Windows to Pigeon (#6035)
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pigeons/copyright.txt
  packages/file_selector/file_selector_windows/pigeons/messages.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.mocks.dart
  packages/file_selector/file_selector_windows/test/test_api.dart
  packages/file_selector/file_selector_windows/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.h
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
  packages/file_selector/file_selector_windows/windows/string_utils.cpp
  packages/file_selector/file_selector_windows/windows/string_utils.h
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
Owners: @cbracken

Roll Flutter from e3d08fb6d325 to 1aa44652e4c0 (67 revisions) (#6152)
  .ci/flutter_master.version
Owners: none

migrate to new mockito API (#6153)
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
Owners: @ditman

[camera_windows] Improve several error handling scenarios (#6149)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  script/tool/README.md
  script/tool/lib/src/common/package_state_utils.dart
Owners: @cbracken

Roll Flutter from 1aa44652e4c0 to a62ee852950a (32 revisions) (#6156)
  .ci/flutter_master.version
Owners: none

Roll Flutter from a62ee852950a to ab47f01ff173 (29 revisions) (#6162)
  .ci/flutter_master.version
Owners: none

[local_auth] Replace `USE_FINGERPRINT` to `USE_BIOMETRIC` post deprecation in example and README (#6032)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/android/app/src/main/AndroidManifest.xml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/example/android/app/src/main/AndroidManifest.xml
Owners: @stuartmorgan, @camsim99

[camera_windows] Use `CameraAccessDenied` error code for camera permission errors (#6154)
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/capture_controller_listener.h
  packages/camera/camera_windows/windows/photo_handler.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.cpp
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Owners: @cbracken

[webview_flutter_android] Updates the Dart InstanceManager to take a listener for when an object is garbage collected (#6148)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Owners: @bparrishMines

[image_picker] Add missing exports for multi image picking types (#6155)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Owners: @stuartmorgan

[url_launcher] fix noop toString() diagnostics (#6173)
  packages/url_launcher/url_launcher/lib/src/link.dart
Owners: @stuartmorgan

Roll Flutter from ab47f01ff173 to ac1aa511ca94 (13 revisions) (#6168)
  .ci/flutter_master.version
Owners: none

Roll Flutter from ac1aa511ca94 to 183d3e410102 (46 revisions) (#6177)
  .ci/flutter_master.version
Owners: none

[various] Remove `pedantic` (#6179)
  packages/espresso/example/pubspec.yaml
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Owners: @GaryQian, @stuartmorgan, @ditman, @bparrishMines, @cbracken, @gaaclarke, @cyanglaz
