Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @gaaclarke, @bparrishMines, @ditman, @camsim99, @GaryQian, @blasten, @hellohuanlin, @cyanglaz, @jmagman

Add issues/PRs badges to README (#5649)
  README.md
Owners: none

Roll Flutter from 2f3f053c0dfb to ac30842c8259 (13 revisions) (#5650)
  .ci/flutter_master.version
Owners: none

Roll Flutter from ac30842c8259 to e5718354020e (4 revisions) (#5652)
  .ci/flutter_master.version
Owners: none

[local_auth] Overhaul README, and fix `error_codes.dart` visibility (#5653)
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/build.excerpt.yaml
  packages/local_auth/local_auth/example/lib/readme_excerpts.dart
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/local_auth/local_auth/lib/error_codes.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Owners: none

Roll Flutter from e5718354020e to 47f48e4888e4 (5 revisions) (#5654)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 47f48e4888e4 to 8e532db7b6ff (1 revision) (#5655)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 8e532db7b6ff to cc9ac0787871 (1 revision) (#5656)
  .ci/flutter_master.version
Owners: none

Roll Flutter from cc9ac0787871 to f56c0b3bbe69 (1 revision) (#5657)
  .ci/flutter_master.version
Owners: none

Roll Flutter from f56c0b3bbe69 to d01b0f5d23f9 (1 revision) (#5658)
  .ci/flutter_master.version
Owners: none

Roll Flutter from d01b0f5d23f9 to b05b44e88ad9 (3 revisions) (#5660)
  .ci/flutter_master.version
Owners: none

Roll Flutter from b05b44e88ad9 to 90868d3ba33a (3 revisions) (#5662)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 90868d3ba33a to ae7fcc7e51f6 (2 revisions) (#5663)
  .ci/flutter_master.version
Owners: none

Roll Flutter from ae7fcc7e51f6 to c18097178c91 (1 revision) (#5664)
  .ci/flutter_master.version
Owners: none

Roll Flutter from c18097178c91 to c6ced845e389 (2 revisions) (#5665)
  .ci/flutter_master.version
Owners: none

Roll Flutter from c6ced845e389 to 4bed76757db7 (1 revision) (#5666)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 4bed76757db7 to df7111a848cb (42 revisions) (#5696)
  .ci/flutter_master.version
Owners: none

[camera] Fix preview pause orientation (#5209)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Owners: none

[google_sign_in] Add forceCodeForRefreshToken parameter (and new SignInInitParameters class) (#5325)
  packages/google_sign_in/google_sign_in_platform_interface/AUTHORS
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Owners: none

[image_picker] add requestFullMetadata for iOS (optional permissions) - platform interface (#5603)
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Owners: none

[google_sign_in] Fix tests to recognize new request attribute. (#5702)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Owners: none

Roll Flutter from df7111a848cb to a9ac7fb03be1 (2 revisions) (#5697)
  .ci/flutter_master.version
Owners: none

[ios_platform_images] Ignore ImageProvider.load deprecation. (#5701)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Owners: none

[image_picker] Switch unit tests to mock plaform implementation (#5706)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Owners: none

[google_sign_in] Switch unit tests to mock platform implementation (#5703)
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
Owners: none

[ios_platform_images] Ignore ImageProvider.load deprecation (#5707)
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Owners: none

Roll Flutter from a9ac7fb03be1 to 8bec125aaf72 (38 revisions) (#5704)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 8bec125aaf72 to 6bba577bf230 (17 revisions) (#5709)
  .ci/flutter_master.version
Owners: none

Roll Flutter from 6bba577bf230 to b3d7a691f6f9 (1 revision) (#5710)
  .ci/flutter_master.version
Owners: none

Roll Flutter from b3d7a691f6f9 to c13bc34717a6 (2 revisions) (#5715)
  .ci/flutter_master.version
Owners: none

[ci] Update the legacy analysis versions (#5699)
  .cirrus.yml
Owners: none

Roll Flutter from c13bc34717a6 to ac80477e8d85 (2 revisions) (#5717)
  .ci/flutter_master.version
Owners: none

Roll Flutter from ac80477e8d85 to 2b2cda15293d (2 revisions) (#5719)
  .ci/flutter_master.version
Owners: none

[tools] Fix `publish` flag calculation (#5694)
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Owners: none

[camera]handle iOS camera access permission (#5215)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/ios/Classes/CameraPermissionUtils.h
  packages/camera/camera/ios/Classes/CameraPermissionUtils.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/pubspec.yaml
Owners: @hellohuanlin

[image_picker] Fix 'messages.g.h' file not found (#5635)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/pubspec.yaml
Owners: @cyanglaz

[ci] Manually roll Flutter master (#5765)
  .ci/flutter_master.version
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Owners: @hellohuanlin, @cyanglaz

Roll Flutter from 036cae36697a to bf7a32628eef (49 revisions) (#5768)
  .ci/flutter_master.version
Owners: none

Roll Flutter from bf7a32628eef to bb9bbc601345 (1 revision) (#5769)
  .ci/flutter_master.version
Owners: none

Roll Flutter from bb9bbc601345 to fd312f1ccff9 (1 revision) (#5770)
  .ci/flutter_master.version
Owners: none

Roll Flutter from fd312f1ccff9 to c248854d176b (1 revision) (#5771)
  .ci/flutter_master.version
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

# Plugin-level rules.
packages/path_provider/**                                @gaaclarke
packages/shared_preferences/**                           @gaaclarke
packages/video_player/**                                 @gaaclarke
packages/webview_flutter/**                              @bparrishMines

# Sub-package-level rules. These should stay last, since the last matching
# entry takes precedence.

# - Web
packages/**/*_web/**                                     @ditman

# - Android
packages/camera/camera/android/**                        @camsim99
packages/google_maps_flutter/google_maps_flutter/android/**  @GaryQian
packages/google_sign_in/google_sign_in_android/**        @camsim99
packages/image_picker/image_picker_android/**            @GaryQian
packages/in_app_purchase/in_app_purchase_android/**      @blasten
packages/local_auth/local_auth_android/**                @blasten
packages/path_provider/path_provider_android/**          @camsim99
packages/quick_actions/quick_actions_android/**          @camsim99
packages/url_launcher/url_launcher_android/**            @GaryQian
packages/video_player/video_player_android/**            @blasten

# - iOS
packages/camera/camera/ios/**                            @hellohuanlin
packages/google_maps_flutter/google_maps_flutter/ios/**  @cyanglaz
packages/google_sign_in/google_sign_in_ios/**            @jmagman
packages/image_picker/image_picker_ios/**                @cyanglaz
packages/in_app_purchase/in_app_purchase_storekit/**     @cyanglaz
packages/ios_platform_images/ios/**                      @jmagman
packages/local_auth/local_auth_ios/**                    @hellohuanlin
packages/path_provider/path_provider_ios/**              @jmagman
packages/quick_actions/quick_actions_ios/**              @hellohuanlin
packages/shared_preferences/shared_preferences_ios/**    @cyanglaz
packages/url_launcher/url_launcher_ios/**                @jmagman
packages/video_player/video_player_avfoundation/**       @hellohuanlin
packages/webview_flutter/webview_flutter_wkwebview/**    @cyanglaz
