Repository sword1202/plugin_dart, changes with the owners that CODEOWNERS names for each.
All owners: @bkonyi, @bparrishMines, @mklim, @collinjackson, @kroikie, @cyanglaz, @amirh, @iskakaushik, @mehmetf

[firebase_ml_vision] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[firebase_messaging]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

[firebase_database]Add missing template type parameter to calls. Bump minimum Flutter v… (#1668)
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/lib/src/database_reference.dart
  packages/firebase_database/lib/src/firebase_database.dart
  packages/firebase_database/lib/src/on_disconnect.dart
  packages/firebase_database/lib/src/query.dart
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics]add missing type parameters and pump min flutter version to 1.5.0 (#1667)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_remote_config] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[google_map_flutter] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[google_map_flutter] correct version (#1688)
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[in_app_purchase]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[In_app_purchase] Correct version. (#1691)
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[video_player] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Owners: @iskakaushik, @cyanglaz

[webview_flutter]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

[android_alarm_manager] Wait in onHandleWork until the Dart callback returns a result (#1700)
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
Owners: none

[url_launcher] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
Owners: none

[shared_preferences]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Owners: @collinjackson

[quick_ actions] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
Owners: none

[Package_info] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/package_info/CHANGELOG.md
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
Owners: @cyanglaz

[image_picker]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
Owners: @cyanglaz

[google_sign_in] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/pubspec.yaml
Owners: @cyanglaz, @mehmetf

[local_auth]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/local_auth/CHANGELOG.md
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
Owners: none

[in_app_purchase] Expanded description (#1637)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Owners: @mklim, @cyanglaz

[firebase_storage]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary. (#1679)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/lib/src/event.dart
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/lib/src/storage_metadata.dart
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/lib/src/upload_task.dart
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_dynamic_links]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/lib/src/dynamic_link_parameters.dart
  packages/firebase_dynamic_links/lib/src/firebase_dynamic_links.dart
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

[cloud_firestore] Invoke on ui thread only (#1701)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[location_background] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/location_background/CHANGELOG.md
  packages/location_background/lib/location_background_plugin.dart
  packages/location_background/pubspec.yaml
Owners: none

[google_maps_flutter] Add support for styling google maps (#1697)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/assets/night_mode.json
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/ui.dart
  packages/google_maps_flutter/pubspec.yaml
Owners: @amirh, @iskakaushik

Ensure that CocoaPods on Cirrus is always the latest version. (#1707)
  .cirrus.yml
Owners: none

[cloud_firestore] add support for cacheSizeBytes (#1623)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

Revert "[location_background] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary." (#1705)
  packages/location_background/CHANGELOG.md
  packages/location_background/lib/location_background_plugin.dart
  packages/location_background/pubspec.yaml
Owners: none

[firebase_auth] Document support email requirement in README (#1682)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[connectivity] android: Respect case TYPE_MOBILE_HIPRI (#1685)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Owners: @cyanglaz

[cloud_firestore] Group collection query on cloud firestore (#1619)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

[firebase_ml_vision] Add close method for detectors (#1630)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/Detector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/ImageLabeler.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/ImageLabeler.m
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/test/image_labeler_test.dart
Owners: @bparrishMines

[cloud_firestore] Fix document pagination (#1720)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

Add a note about mockito to contribution guide (#1724)
  CONTRIBUTING.md
Owners: none

Fix build failures due to CocoaPods version (#1729)
  .cirrus.yml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/ios/Podfile
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

Update Dart code to conform to current Dart formatter (#1731)
  packages/battery/CHANGELOG.md
  packages/battery/example/lib/main.dart
  packages/battery/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/example/lib/main.dart
  packages/share/pubspec.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/pubspec.yaml
Owners: @collinjackson, @kroikie, @amirh, @iskakaushik

[firebase_core] Automate version retrieval (#1733)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/.gitignore
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

Update API link (#1738)
  packages/android_alarm_manager/README.md
Owners: @bkonyi

[firebase_core] roll back to 0.4.0+3 (#1742)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_core/ios/Classes/.gitignore
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Fix parsing stacktrace (#1739)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Owners: @kroikie, @collinjackson

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/android_alarm_manager/* @bkonyi
packages/camera/* @bparrishMines @mklim
packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/connectivity/* @cyanglaz
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
packages/google_maps_flutter/* @amirh @iskakaushik
packages/google_sign_in/* @cyanglaz @mehmetf
packages/image_picker/* @cyanglaz
packages/in_app_purchase/* @mklim @cyanglaz
packages/package_info/* @cyanglaz
packages/path_provider/* @collinjackson
packages/shared_preferences/* @collinjackson
packages/video_player/* @iskakaushik @cyanglaz
packages/webview_flutter/* @amirh @iskakaushik
